body{font-family:arial,sans-serif;font-size:12px;height:100%;background:none #fff !important;}
#content{width:100% !important;}
#PageContent{padding:18px 6px 18px 18px !important;}
.ie7 #ifrm{height:800px !important;}
#outerPageContainer{width:100%;margin:auto;}
#breadcrumbs{float:left;margin:-35px 0 0 -40px;width:1003px;/*background-color:#00203C;*/font-family:ITC Avant Garde Gothic Std Arial Sans-Serif;font-size:14px;color:#FFF;text-transform:lowercase;}
.ie7 #breadcrumbs{width:988px;font-size:13px;}
#breadcrumbs p{text-transform:none;margin-left:10px;}
.PageCenter, .ColumnRight, .PageWrapper{width:988px !important;margin-top:-17px;}
.ie7 .PageCenter, .ie7 .ColumnRight, .ie7 .PageWrapper{width:970px !important;margin-top:-17px;}
.PageWrapper{width: 982px !important;/*margin-left: 0;*/}
.ie7 .PageCenter{margin-left:-6px;}
#PageContent_up{width:957px;margin-left:-3px;}
.ie7 #PageContent_up{width:938px;}
#homelink{position:relative;top:-5px;left:-15px;margin-top:-15px;}
.ie7 #homelink{position:relative;top:-17px;left:-35px;}
.footerPage_baur{background:url("images/bg_home.jpg") repeat-x scroll 0 0 !important;}
#homelink a{color:#FFBF01;font-weight:bold;float:right;text-decoration:none;}
#homelink a:hover{text-decoration:underline;}
#mypage{width:942px;height:815px;margin:auto;position:relative;top:15px;}
#content_page{height:815px;width:942px;background: url(images/top_Landing_Page_Men_2011.png) no-repeat;position:relative;left:1px;}
#logo_bivo{height:70px;width:330px; background: url(images/logo_bivo.png) no-repeat;float:right;margin-top:52px;margin-right:20px;position:relative;z-index:10;}

/**************Landing page Baurm****************/
/*#Baurm_page{margin:-17px 0 0 -28px;}*/
.ie7 #Baurm_page{margin:-32px 0 0 0px;}
#Baurm_top_part{ background-color:White;height:397px;width:982px;/*margin:0 0 0 13px;background:url("images/Baur_Landing-Page-2016_model_03.jpg") no-repeat;*/}
.ie7 #Baurm_top_part{width:952px;margin-left:8px;}
#Baurm_down_part{width:982px;height:227px;background-color:White;/*margin:10px;*/}
.ie7 #Baurm_down_part{width:953px;margin-left:8px;}
#Baur_topheader{background:url(images/top_Landing_Page_Men_2011.png) no-repeat;width:989px;height:162px;position:relative;}
.ie7 #Baur_topheader{width:970px;}
#Baurm_page_center{width:972px;height:700px;/*margin-left:-23px;*/}
.ie7 #Baurm_page_center{width:982px;margin-left:-1px;}
#Baurm_left_part{width:350px;float:left;margin-left:45px;position:relative;top:10px; height:389px;}
.ie7 #Baurm_left_part{float:left;margin-left:35px;}
#Baurm_left_part img{margin-bottom:20px; margin-top:45px;margin-left:-20px;}
.ie7 #Baurm_left_part img{margin-bottom:20px; margin-top:45px;margin-left:-9px;}
#Baurm_left_part p{ font-size:12px;color:#6f7062;margin-left:-16px;margin-right:4px;text-align:justify;width:310px;}
.ie7 #Baurm_left_part p{font-family:Helvetica Neue; font-size:14px;color:#6f7062;margin-left:-8px;}
#Baurm_midium_part{width:35px;float:left;position:relative;top:160px;left:-22px;}
.ie8 #Baurm_midium_part{width:35px;float:left;position:relative;top:160px;left:-23px;}
.ie7 #Baurm_midium_part{width:35px;float:left;position:relative;top:175px;left:-19px;}
#Baurm_right_part{width:520px;float:left;margin:-406px 0 0 425px;}
.ie7 #Baurm_right_part{width:520px;float:left;margin:-389px 0 0 425px;}
#Baurm_right_part #Baurm_button{margin-top:270px;margin-left:-360px;position:relative; z-index:99999;}
#Baurm_right_part #Baurm_button #Baurm_button01{margin-right:95px;}
.ie7 #Baurm_down_part p{position:relative;top:10px;left:15px;}
#Baurm_down_part #Baurm_gallery{float:left;margin:14px 0 0 3px; /*margin: 172px -8px 0 0; padding-left: 8px;*/}
.ie7 #Baurm_down_part #Baurm_gallery{float:left;margin:15px 0 0 2px;position:relative;}
#Baurm_down_part .Baurm_shirt{width:150px;height:200px;float:left;background-color:#F9F9F9;margin-right:6px;border:2px solid #e4e3e3;position:relative;left:5px;}
#Baurm_down_part .Baurm_shirt:hover{border-color:#FCC114;}
.ie7 #Baurm_down_part .Baurm_shirt{margin-right:3px;}
#fabricSpecifications .selectBoxes {width:185px !important; margin-left:0!important;}
#fabricSpecifications select{width:145px; margin-right:5px;}
/************** style Baurm added****************/
#panel {width:500px !important;}
#collarCollection{overflow-y:auto;}
#collarCollection{margin:5px 0 7px -15px;width:497px;}
.fitMe{width: 125px;}
.fitMe .super_slim_fit{float:left;margin-left:-3px !important;}
.ie7 .fitMe .super_slim_fit{float:left;margin-left:20px !important;}
.ie7 .fitMe .slim_fit{position:relative;left:20px;}
.fitMe02 label{margin-left:0 !important;} 
.fitMe03 #tailliert{margin-top:18px !important;margin-left:10px !important;}
.fitMe04 #tailliert{float:left;margin-top:5px !important;}
#sizing_left{width:310px;}  
#configuratorWrapper #configurator {margin-left:-14px;}
#panelMenu {margin-left:0px;margin-top: -2px;width:957px !important;}
#panelMenu ul li a{text-transform:none !important;}
#panelMenu ul li a{text-transform:capitalize !important;}
#hcmimg1, #hcmimg2, #hcmimg3, #hcmimg4, #hcmimg5, #hcmimg6{display:none;}
#Div0, #Div1, #Div2, #Div3, #Div4, #Div5, #Div6, #Div7, #Div8, #Div9, #Div10, #Div11, #Div12, #Div13, #Div14, #Div15, #Div16, #Div17, #Div18, #Div19, #Div20, #Div21, #Div22, #Div23, #Div24, #Div25, #Div26, #Div27, #Div28, #Div29, #Div30, #Div31, #Div32, #Div33, #Div34, #Div35, #Div36, #Div37, #Div38, #Div39, #Div40, #Div41, #Div42, #Div43, #Div44, #Div45, #Div46, #Div47, #Div48{position:absolute;left:0 !important;}
#Div4 {position: absolute;left: 1px !important;}
#Baur_BivolinoService{float:left;margin-top:40px;}
.ie8 #Baur_BivolinoService{position:relative;top:60px;}
.ie7 #collarCollection {width:480px !important;}
.ie7 .previous_button_baur{position:relative;left:-15px !important;}
.postionMonograms{float:left;margin-right:4px;width:90px;}
#postionMonogram{width:500px !important;margin-left:15px !important;}
#monoChoice_intro label{margin-right:15px;}
#smallColum_monogram #moninput{width:260px !important;}
.fabricSelect .tt, #confname #newFabric{display:none;}
.ie9 .ReviewBox .changeButton a, .ie7 .ReviewBox .changeButton a{position:relative;top:2px;}
#Baurm_foursteps h3{color:#7e7e7e;}
#Baurm_step01 h3{/*position:relative;left:-28px;*/}
#Baurm_step02 h3{/*position:relative;left:-16px;*/}
#Baurm_step03 h3{/*position:relative;left:-18px;*/}
#Baurm_step04 h3{/*position:relative;left:-38px;*/}
:root #Baurm_step01 h3{/*position:relative;left:-29px;*/}
:root #Baurm_step02 h3{/*position:relative;left:-19px;*/}
:root #Baurm_step03 h3{/*position:relative;left:-20px;*/}
:root #Baurm_step04 h3{/*position:relative;left:-40px;*/}
/*********new fix tab conf menu**************/
#panelMenu ul li#hcmli1 {padding: 8px 84px 13px 79px !important;}
#panelMenu ul li#hcmli2 {padding: 8px 80px 13px 72px !important;}
#panelMenu ul li#hcmli3 {padding: 8px 65px 13px 55px !important;}
#panelMenu ul li#hcmli4 {padding: 8px 83px 13px 78px !important;}
#panelMenu ul li#hcmli5 {padding: 8px 67px 13px 68px !important;}
.ie7 #panelMenu ul li#hcmli1 {padding: 8px 80px 13px 80px !important;}
.ie7 #panelMenu ul li#hcmli2 {padding: 8px 75px 13px 75px !important;}
.ie7 #panelMenu ul li#hcmli3 {padding: 8px 58px 13px 58px !important;}
.ie7 #panelMenu ul li#hcmli4 {padding: 8px 80px 13px 75px !important;}
.ie7 #panelMenu ul li#hcmli5 {padding: 8px 68px 13px 65px !important;}
:root #panelMenu ul li#hcmli1 {padding: 8px 83px 13px 79px\9 !important;}
/*.ie9 #panelMenu ul li#hcmli1 {padding: 8px 83px 13px 79px !important;}*/
/*#panelMenu ul li#hcmli6, #panelMenu ul li#hcmli6{padding: 8px 35px 13px 20px !important;}*/
/**********fin new fix tab conf menu****************/
:root #panelMenu{width:958px\9 !important;}
:root #smallColum_monogram #moninput{position:relative;top:10px\9;}
.ie8 #panelMenu, .ie7 #panelMenu {margin-left:0px;margin-top: -2px;width:958px !important;}
.previous_button_Baur{float:right;margin:-20px -439px 0 0;}
#previous_button_Design_fabric_page{float:right;margin:-60px -913px 0 0;}
.ie8 #previous_button_Design_fabric_page{float:right;margin:-54px -913px 0 0;}
.ie7 #previous_button_Design_fabric_page{float:right;margin:-60px -913px 0 472px;}
.ie7 .previous_button_ms{position:relative;left:368px !important;}
#NextButtonBaur{height:90px;margin-left:-20px;}
#NextButtonBaur .config_buttons_right {float: right;margin: 20px -8px 0 0;width:132px;}
#NextButtonBaur .config_buttons_left {float: left;margin: 35px 0 0 -535px;}
#NextButtonBaur .config_buttons_center {float: right;margin: -5px 710px 0 0;}
#top_content .button_ms {float: none;margin-left:0; margin-right:37px;}
#promo_vochter input{margin-right:10px;}
#panelContent{width:498px !important;margin-top:3px;}
#NextButtonPL{padding:15px 0 25px 0;position:relative;left:-4px;}
.previousBtn {background:none !important;width:82px;height:23px;float:right;margin-right:100px;padding:0; }
#NextButtonPL #next_button_baur{float:right;margin-right:10px;} 
#btn_edit_ms{width:40px;position:relative;top:-10px;font-family:Arial;font-size:11px;color:#4b4b4b;}
.Contrast_dessin_motif, #contrastPickerWrapper, #contrastPicker{width:430px !important;}
.Contrast_dessin_motif{display:none;}
#btn_place_order_ms input{float:right;margin-right:-20px;border:none !important;}
#btn2_place_order_ms input{float:right;margin-right:30px;border:none !important;}
#paying2 {float:left;margin:10px 0 0 10px !important;}
#paying2 .previousBtn{float:left;margin-top:-75px !important;} 
#ctl00_cph1_ctrlCONF_design_design1{display:none;}
#favorite_contrast_fabrics {float: left;margin-top: 15px !important;position: relative;top: -10px;}
#panelContent { overflow:hidden;}
#ctl00_cph1_CustomerTabs_pnlCustomerAddresses_tab, #ctl00_cph1_CustomerTabs_pnlChangePassword_tab {display:none;}
#ctl00_cph1_mod7{margin-top:30px;}
#shopdetails{position:relative;padding-bottom:133px !important;}
#button_ShoppingCart_ms02 a img{float: right; margin-right: -420px; margin-top: 70px;}
#shopdetails .button_ms img{float:right;margin-right:-390px !important;margin-top:70px !important;}
.ie7 #shopdetails .button_ms img{position:relative;left:190px;}
a.orange_button:link, a.orange_button:visited {font-weight: normal !important; line-height:normal !important; text-transform: none !important;}
.claim_button_ms a{width:180px;margin-left:0px;}
#Div1{position:relative;left:0 !important;}
.messageError{ background:none;}
#cuffCollection #nopocket, #cuffCollection #pocket, #collarPickerExtra #extraOptions .option input, #sleevePickerExtra .option input, #monoChoice_intro input, #monogramFont2 input{border:none !important;}
#toggle_metric{display:none;}
.supplement_price{display:none;}
#fabricSpecifications{display:inline !important;}
#conf_add_basket_baur{margin-left:-16px;}
/**/
#panelMenu a{ text-decoration:none;}
#placketWrapper{min-height:105px !important;}
#panel{float:left;margin-bottom:20px !important;margin-left:13px;}
.ie7 #panel{position:relative;left:12px !important;}
.ie7 #BtnAddSC{float:right;margin-top:0 !important;}
#promo_vochter{margin-top:-35px;position:relative;left:-5px;}
.ie7 #promo_vochter{position:relative;left:45px;}
#ctl00_cph1_imgBancontact, #ctl00_cph1_imgCarteBleue, #ctl00_cph1_imgMaestro, #ctl00_cph1_imgIdeal{display:none !important;}
#text_information{float:left;margin:-30px 0 5px 2px;}
.ie7 #text_information{float:left;margin:-30px 0 0px 0px;}
#placketPickerExtra{margin-top:-48px !important;}
#loadingPageMS {background: url("../images/Loading_MS.gif") no-repeat scroll center center #FFFFFF !important;height: 100%;left: 0;min-height: 600px;position: absolute;top: 0;width: 100%;z-index: 9999;}
#tone_buttons p {margin:10px 0 0 16px;}
#configuratorZooms .zoomOFF{border:1px solid #e9e9e9 !important;}
#configuratorZooms .zoomON{border:2px solid #ffbf01 !important;}
#basehemPicker{margin-left:12px;}
#placketCollection #basehemPicker td{width:67px;padding-right:20px;}
#conf_add_basket_ms .btn_add_to_basket{margin-left:-80px;}
.collum_monogram {position:relative;top:-30px;width:140px;}
#allCollors1{margin-top:14px;}
#sizing_right #ctl00_cph1_MeasurementsEdit1_imgsq{display:none;} 
#sizing_right p {padding-top:50px; text-align:left !important;}
.ie7 #sizing_right p {text-align:left !important;}
#sizing_right .link_meassure{float:left;margin-top:-155px;}
:root #sizing_right .link_meassure{float:left;margin-top:-130px\9 !important;}
.ie8 #sizing_right .link_meassure{float:left;margin-top:-155px;}
.ie7 #sizing_right .link_meassure{float:left;margin-top:-155px;}
:root #sizing_right .link_meassure .tt2{margin-top:-12px\9 !important;position:relative;top:0px\9 !important;}
#ctl00_cph1_ImgVorkasse{display:none !important;}
.ogone-creditcards {width:270px;}
.ie7 .ogone-creditcards {width:280px;}
.ie8 #initials_wrapper{position:fixed;}
.ie8 #ctl00_cph1_CONF_Embroidery_mono1 #panelContent{min-height:385px !important;}
#sizing_right .link_meassure .text_link{display:none !important;}
#sizing_right .link_meassure .tt2{margin:-15px 0 0 140px;}
.ie8 #sizing_right .link_meassure .tt2{position:relative;top:20px;}
.ie7 #sizing_right .link_meassure .tt2{margin-left:0;position:relative;left:165px;}
#design_stich_colour_women_list{display:none;}
#list_contrast{float:left;margin-top:-3px;}
.ie7 #list_contrast{float:left;margin-top:-17px !important;}
#design_extra_boxer{float:left;margin-top:-2px;}
.ie7 #design_extra_boxer{float:left;margin-top:-15px;}
#promo_vochter span strong{display:none;}
#shirt_promo{float:left;margin-left:540px;}
.ie8 #tailliert {float: left;margin-left: 20px;margin-top: 14px;}
#price_total{position:relative;top:10px;left:32px;font-size:12px;}
.ie7 #price_total{position:relative;top:10px;left:44px;font-size:12px;}
:root #contrasting_types1, :root #contrasting_types2, :root #contrasting_types3{float:none\9 !important;}
#menDesingContrasting #Div1{margin:10px 0;} 
#Baurm_foursteps{width:982px;/*margin-top:-10px;*/color:#6F7062;}
#Baurm_foursteps .Baurm_steps{float:left;/*margin-left:10px;margin-top:10px;*/width:230px;}
.ie7 #Baurm_foursteps .Baurm_steps{float:left;margin-left:6px !important;margin-top:0px !important;}
#Baurm_foursteps .Baurm_steps h3{/*text-align:center;*/padding:0 10px;}
.ie7 #Baurm_foursteps .Baurm_steps h3{font-size:14px !important;}
#Baurm_foursteps .Baurm_steps p{font-size:12px;padding:0 10px;width:82%;/*text-align:justify;margin-top:10px;*/}
.ie7 #Baurm_foursteps .Baurm_steps p{position:relative;left:0px !important;}
#Baurm_foursteps .Baurm_steps p a{color:#6F7062;text-decoration:underline;}
#Baurm_foursteps .Baurm_steps p a:hover{text-decoration:none;}
/* hack Chrome / Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
	#homelink 
	{
		position:relative;
		top:-18px;
	}
	#Baurm_right_part {
    float: left;
    margin: -405px 0 0 425px;
	}
	#Baurm_midium_part 
	{
		position:relative;
		top:160px;
	}
}

#Baurm_step01, #Baurm_step03{background:#f5f5f5;}
#Baurm_step02, #Baurm_step04{background:#eeeeee;}
#Baurm_step01{width:247px !important;height:300px;}
#Baurm_step02{width:241px !important;height:300px;}
#Baurm_step03{width:240px !important;height:300px;}
#Baurm_step04{width:254px !important;height:300px;}

