 <%@ Page Language="C#"  AutoEventWireup="true" CodeFile="add_to_cart.aspx.cs" Inherits="NopSolutions.NopCommerce.Web.add_to_cart"
    MaintainScrollPositionOnPostback="true" %>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://www.bivolino.com/scripts/public.ajaxcart.js"></script>
<script>
function myFunction() {
$.ajax({
            cache: false,
            url: 'https://www.bivolino.com/addproducttocart/details/257/1/#product-details-form bivolino text123',
            type: 'post',
            
            complete: this.resetLoadWaiting,
            error: this.ajaxFailure
        })
}
window.location.href='https://www.bivolino.com/cart';
myFunction();
window.location.href ='https://www.bivolino.com/price.aspx?SELID=<%=Request.QueryString["SELID"]%>&p=<%=Request.QueryString["p"]%>&cur=<%=Request.QueryString["cur"]%>';
</script>
</head>
<body>
</body>
</html>