 <%@ Page Language="C#"  AutoEventWireup="true" CodeFile="price.aspx.cs" Inherits="NopSolutions.NopCommerce.Web.price"
    MaintainScrollPositionOnPostback="true" %>
<!DOCTYPE html>
<html>
<head>

</head>
<body>
</body>
</html>