<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button").click(function(){
        $.post("demo_test_post.asp",
        {
          name: "Donald Duck",
          city: "Duckburg"
        },
        function(data,status){
            alert("Data: " + data + "\nStatus: " + status);
        });
    });
});
</script>
</head>
<body>
	</style><iframe width="1500" height="900" src="https://www.bivolino.com/S_mobile/config.aspx?CID=65&affid=10064&lid=4&cur=1" id="ifrm" name="ifrm" ></iframe>
<br><b>
<button>Send an HTTP POST request to a page and get the result back</button>

</body>
</html>