﻿        <div>
           <b><%=Request.QueryString("p1")%>&nbsp;<%=Request.QueryString("p2")%>&nbsp;<%=Request.QueryString("p3")%></b>
        </div>
<script type="text/javascript">

//alert('p1=' + '<%=Request.QueryString("p1")%>' + '  p2=' + '<%=Request.QueryString("p2")%>' + '  p3=' + '<%=Request.QueryString("p3")%>' + '(todo)  weight=' + '<%=Request.QueryString("weight")%>'+ '  height=' + '<%=Request.QueryString("height")%>'+ '  age=' + '<%=Request.QueryString("age")%>'+ '  collar=' + '<%=Request.QueryString("collar")%>');
//alert('open window');
//
window.parent.document.getElementById('linosoft').value = '<%=Request.QueryString("p1")%>'+' '+'<%=Request.QueryString("p2")%>' ;


//alert("close");

var p1;
var p2;
var p3;
//
//pour Imen
p1='<%=Request.QueryString("p1")%>';
p2='<%=Request.QueryString("p2")%>';
p3=p2;
p2=p2.substring(0, 3);

p3=p3.substring(4, p3.length);
//alert(p2)

if(p3=='Regular Fit')
p3='Ruim20';
if(p3=='Tailored Fit')
p3='Getailleerd15';
if(p3=='Slim Fit')
p3='Slim15/2';
if(p3=='Superslim Fit')
p3='SuperSlim10';

// valeur fit en text en option
//	p3="Regular Fit"    //20           option = 8018020
//	p3="Tailored Fit"    //15           option = 8018015
//	p3="Slim Fit"         //15/2         option = 8018015/8010001
//	p3="Superslim Fit" //10           option = 8018010



if(p1=='36/XS')
p1='size_36/XS cm';
if(p1=='37')
p1='size_37 cm';
if(p1=='38/S')
p1='size_38/S cm';
if(p1=='39')
p1='size_39 cm';
if(p1=='40/M')
p1='size_40/M cm';
if(p1=='41')
p1='size_41 cm';
if(p1=='42/L')
p1='size_42/L cm';
if(p1=='43')
p1='size_43 cm';
if(p1=='44/XL')
p1='size_44/XL cm';
if(p1=='45')
p1='size_45 cm';
if(p1=='46/2XL')
p1='size_46/2XL cm';
if(p1=='47')
p1='size_47 cm';
if(p1=='48/3XL')
p1='size_48/3XL cm';
if(p1=='49')
p1='size_49 cm';
if(p1=='50/4XL')
p1='size_50/4XL cm';
if(p1=='51')
p1='size_51 cm';
if(p1=='52/5XL')
p1='size_52/5XL cm';
if(p1=='53')
p1='size_53 cm';
if(p1=='54/6XL')
p1='size_54/6XL cm';
if(p1=='55')
p1='size_55 cm';
if(p1=='56/7XL')
p1='size_56/7XL cm';
if(p1=='57')
p1='size_57 cm';
if(p1=='58/8XL')
p1='size_58/8XL cm';
if(p1=='59')
p1='size_59 cm';
if(p1=='60/9XL')
p1='size_60/9XL cm';


if(p2=='ML4')
p2='size_mouwlengte ML 4 = 60cm = kortere mouw';
if(p2=='ML5')
p2='size_Mouwlengte ML 5 = 65cm = standaard mouw';
if(p2=='ML6')
p2='size_mouwlengte ML 6 = 69cm = langere mouw';
if(p2=='ML7')
p2='size_mouwlengte ML 7 = 72cm = extra lange mouw (Xmouw)';
if(p2=='ML8')
p2='size_mouwlengte ML 8 = 82cm = extra extra lange mouw (2X mouw)';
if(p2=='ML9')
p2='size_mouwlengte ML 9 = 92cm = extra extra extra lange  mouw ( 3X mouw)';


if(p3=='Ruim20')
p3='size_Ruim20';
if(p3=='Getailleerd15')
p3='size_Getailleerd15';
if(p3=='Slim15/2')
p3='size_Slim15/2';
if(p3=='SuperSlim10')
p3='size_SuperSlim10';

var lbls = window.parent.document.querySelectorAll("label.size");  //a partir de i=2 car il ya 2 labels avant dans doc
for (var i=0,k=lbls.length; i<k; i++) { 

if(lbls[i].id == p1)
{
lbls[i].parentNode.className='selected-value';

var x= window.parent.document.querySelectorAll("input.size");
//alert(lbls[i].id);

x[i].setAttribute("checked","true");
}

    
if(lbls[i].id == p2)
{
lbls[i].parentNode.className='selected-value';
var x= window.parent.document.querySelectorAll("input.size");
//alert(lbls[i].id);

x[i].setAttribute("checked","true");
}

if(lbls[i].id == p3)
{
lbls[i].parentNode.className='selected-value';
var x= window.parent.document.querySelectorAll("input.size");
//alert(lbls[i].id);

x[i].setAttribute("checked","true");
}

}
     
     
   // alert(div.value);


	                                   
close();


</script>
