<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://www.bivolino.eu/scripts/public.ajaxcart.js"></script>
<script>
function myFunction() {
$.ajax({
            cache: false,
            url: 'https://www.bivolino.eu/addproducttocart/catalog/257/1/1',
            type: 'post',
            success: alert('ok url: ' + 'https://www.bivolino.eu/addproducttocart/catalog/257/1/1'),
            complete: this.resetLoadWaiting,
            error: this.ajaxFailure
        })
window.location.href='https://www.bivolino.eu/nl/cart';
}
</script>
</head>
<body>
	</style><iframe width="1500" height="900" src="https://www.bivolino.com/s_nop39/config.aspx?CID=128&affid=1&lid=2&cur=1" id="ifrm" 
    name="ifrm" ></iframe>
<br><b>

</body>
</html>