<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://www.bivolino.eu/scripts/public.ajaxcart.js"></script>
<script>
function myFunction() {
$.ajax({
            cache: false,
            url: 'https://www.bivolino.eu/addproducttocart/catalog/181/1/1',
            type: 'post',
            success: alert('ok url: ' + 'https://www.bivolino.eu/addproducttocart/catalog/181/1/1'),
            complete: this.resetLoadWaiting,
            error: this.ajaxFailure
        })
window.location.href='https://www.bivolino.eu/nl/cart';
}
</script>
</head>
<body>
	</style><iframe width="1500" height="900" src="https://www.bivolino.com/magento/config.aspx?CID=65&affid=10064&lid=4&cur=1" id="ifrm" name="ifrm" ></iframe>
<br><b>
<button onclick="myFunction()">Send an HTTP POST request to a page and get the result back</button>
</body>
</html>