<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://www.bivolino.eu/scripts/public.ajaxcart.js"></script>
<script>
function myFunction() {
$.ajax({
            cache: false,
            url: 'https://www.bivolino.eu/addproducttocart/catalog/181/1/1',
            type: 'post',
            success: alert('ok url: ' + 'https://www.bivolino.eu/addproducttocart/catalog/181/1/1')
        })
alert('change description product id 181');
//AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details",181,1)', '#product-details-bivolino text abcde.....');return false;"
window.location.href='https://www.bivolino.eu/nl/cart';
}
</script>
</head>
<body>
	</style><iframe width="1500" height="900" src="https://www.bivolino.com/S_mobile/config.aspx?CID=65&affid=10064&lid=4&cur=1" id="ifrm" name="ifrm" ></iframe>
<br><b>
<button onclick="myFunction()">Send an HTTP POST request to a page and get the result back</button>
<b><input type="button" id="add-to-cart-button-@Model.ProductId" class="button-1 add-to-cart-button" value="@addToCartText" data-productid="@Model.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { 181 = Model.ProductId, 1 = (int)ShoppingCartType.ShoppingCart })', '#product-details-form');return false;" />
</b>
</body>
</html>