
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://www.bivolino.eu/scripts/public.ajaxcart.js"></script>
<script>
function myFunction() {
$.ajax({
            cache: false,
           url: 'https://www.bivolino.eu/addproducttocart/catalog/185/1/1',
           type: 'post',
           
           complete: this.resetLoadWaiting,
           error: this.ajaxFailure
         })

//AjaxCart.addproducttocart_details('https://www.bivolino.eu/addproducttocart/details/185/1', '#product-details-form biivolino 123456');
$.ajax({
            cache: false,
            url: 'https://www.bivolino.eu/addproducttocart/details/185/1/#product-details-form bivolino text123',
            type: 'post',
            
            complete: this.resetLoadWaiting,
            error: this.ajaxFailure
        })


}
</script>
</head>
<body>
	</style><iframe width="1500" height="900" src="https://www.bivolino.com/S_mobile/config.aspx?CID=65&affid=10064&lid=4&cur=1" id="ifrm" name="ifrm" ></iframe>
<br><b>

<button onclick="myFunction();location.href ='https://www.bivolino.eu/price.aspx';" Text="Send an HTTP POST request to a page and get the result back"></button>
</body>
</html>