﻿@{
    Html.AddScriptParts("~/Plugins/Nop4you.MarketingAutomation/Content/js/public.actions.js");
    Html.AddCssFileParts("~/Plugins/Nop4you.MarketingAutomation/Content/css/style.css");
    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.js");
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");
}
@using Nop.Web.Framework.UI;

<a class="popup-action-form" data-mfp-src="#action_modal" style="display:none"></a>
<div id="action_modal" class="zoom-anim-dialog mfp-hide">
    <div id="action-body"></div>
</div>

<script>
    $(document).ready(function () {
        CustomerAction.init('@Url.Action("CustomerActionEventUrl", "BannerWidget")', '@Url.Action("GetActiveBanner", "BannerWidget")', '@Url.Action("RemoveBanner", "BannerWidget")');
        CustomerAction.checkActiveUrl('@Request.Url.ToString()', '@Request.UrlReferrer');
    });
</script>