﻿@model IList<CategoryModel>

@using Nop.Web.Models.Catalog;
@using Nop.Core
@using Nop.Core.Infrastructure;
@using Nop.Services.Configuration;
@{
    var storeId = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.Id;
    var categoriesHoverEffect = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("brooklynthemesettings.categorieshovereffect", "hover-effect-1", storeId, true);
}
@if (Model.Count > 0)
{
    <div class="category-grid home-page-category-grid">
        <div class="title">
            <strong>@T("SevenSpikes.Themes.Brooklyn.Common.FeaturedCategories")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    <div class="category-item @categoriesHoverEffect">
                        <h2 class="title">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <span>@item.Name</span>
                            </a>
                        </h2>
                        <div class="picture">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
<!--Start Google Analytics-->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100731918-1', 'auto');
    ga('send', 'pageview');

</script>
<!--End Google Analytics--> 