
input.ng-invalid.ng-dirty, 
textarea.ng-invalid.ng-dirty, 
.has-error {
    border: 1px solid red !important;
}

.ropc {
	margin: 0 0 20px;
}
.ropc .section {
	margin: 0;
    padding: 3px;
}
.ropc .section-title {
	position: relative;
	margin: 0 0 15px;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
	background: #eee url('toggle.png') right center no-repeat;
	padding: 10px;
	text-align: left;
}
.ropc .section-title strong {
	display: inline-block;
	position: relative;
	padding: 0 0 0 16px;
    font-size: 18px;
    font-weight: 300;
}
.ropc .section-title strong:before {
	content: "";
	position: absolute;
    top: 50%;
	left: 0;
    width: 5px;
    height: 23px;  
    margin-top: -12px;
    background: #46c688;
}

.ropc .section-body {
	display: none;
	margin: -15px 0 30px;
	background: #fff;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
    padding: 24px 12px 18px;  
}
.ropc .form-fields {
    box-shadow: none;
    padding: 0;  
}
.ropc select {
	border: 1px solid #c9c9c9;
	box-shadow: none;
}
.ropc .inputs label {
	display: inline-block;
	width: 110px;
	margin: 0;
	padding: 0 10px 0 0;
	font-size: 13px;
	text-align: right;
}
.ropc input[type="text"],
.ropc input[type="password"] {
	width: 170px;
}
.ropc .inputs select {
	width: 172px;
}
.ropc input[type="checkbox"],
.ropc input[type="radio"] {
	margin: 0 5px;
}

.ropc .choose-address {
	margin: 0 0 20px;
}
.ropc .choose-address select {
	width: 100%;
	max-width: 280px;
}

.ropc .ship-to-same-address {
	margin: 15px 0 0;
    text-align: center;
	font-size: 14px;
    text-transform: uppercase;
}

.ropc .pickup-in-store .options {
	padding: 5px;
	font-size: 14px;
    text-transform: uppercase;
}
.ropc .pickup-in-store .options * {
	vertical-align: middle;
}
.ropc .pickup-in-store p {
	padding: 5px;
}

.ropc .estimate-shipping {
}
.ropc .estimate-shipping .hint {
	margin: 0 0 10px;
}
.ropc .estimate-shipping .buttons {
	margin: 10px 0 0;
}
.ropc .estimate-shipping button {
	height: 36px;
	border: none;
	background: #dcdcdc;
	padding: 0 15px;
	font-size: 13px;
	color: #505050;
}
.ropc .shipping-results {
	margin: 20px 0;
}
.ropc .shipping-results li {
	margin: 10px 0;
}
.ropc .pickup-points-map {
    max-width: 100%;
    margin: 15px auto 0;
}

.ropc button {
	display: inline-block;
    transition: all 0.2s ease-in-out 0s;
}
.ropc button:hover {
}
.ropc button[disabled] {
	opacity: 0.5;
	cursor: auto;
}
.ropc button[disabled]:hover {
}

.ropc .method-list {
	margin: 0;
}
.ropc .method-list li {
	margin: 8px 0 12px;
}

.ropc .use-reward-points {
	margin: 0 0 25px;
}

.ropc .payment-method ul {
	overflow: hidden;
}
.ropc .payment-method li {
	margin: 0 0 10px;
}
.ropc .payment-logo {
	display: inline-block;
	margin: 0 10px 0 0;
}
.ropc .payment-logo label {
	display: inline-block;
	cursor: pointer;
}
.ropc .payment-details {
	display: inline-block;
}
.ropc .payment-details label {
	display: inline-block;
	cursor: pointer;
}
.ropc .payment-info {
	margin: 0;
}
.ropc .payment-info td {
	padding: 5px 0;
}
.ropc .payment-info td:first-child {
	width: 120px;
}
.ropc .payment-info td label {
}
.ropc .payment-info .dropdownlists {
	width: 165px;
}
.ropc .payment-info p {
	margin: 0;
}

.ropc .cart {
	box-shadow: none;
}
.ropc .cart .sku {
	display: none;
}
.ropc .cart .quantity label {
	display: none;
}
.ropc .cart .quantity input {
	line-height: 24px;
    height: 26px;
}
.ropc .cart .item-count {
	display: none !important;
}
.ropc .remove-from-cart {
}
.ropc .remove-from-cart .remove-product {
	display: inline-block;
	width: 16px;
	height: 16px;
    border: none;
	background: url('delete.png') center no-repeat;
	vertical-align: middle;
	font-size: 0;
	cursor: pointer;
}

.ropc .checkout-attributes {
	text-align: left;
}
.ropc .attribute-list > li {
	margin: 0 0 30px;
}
.ropc .attribute-name {
	font-weight: bold;
}
.ropc .attribute-name label {
}
.ropc .attribute-values li {
	display: block;
	width: 150px;
	margin: 5px 0;
	text-align: left;
}
.ropc .attribute-values .hidden {
	display: none;
}

.ropc .coupon-box .hint,
.ropc .giftcard-box .hint {
	margin: 0 0 8px;
}
.ropc .coupon-code {
	margin: 0 0 10px;
	font-size: 0;
	white-space: nowrap;
}
.ropc .coupon-code input {
	font-size: 13px;
	vertical-align: middle;
}
.ropc .coupon-code button {
	width: 105px;
	height: 36px;
	border: none;
	box-shadow: none;
	background: #dcdcdc;
	padding: 0;
	vertical-align: middle;
	text-align: center;
	font-size: 13px;
	color: #505050;
}
.ropc .current-code span {
	vertical-align: middle;
}
.ropc .current-code button {
	width: 22px;
	height: 22px;
	border: 1px solid #c9c9c9;
	background: #fff url('delete.png') center no-repeat;
	padding: 0;
	font-size: 0;
	vertical-align: middle;
}

.order-totals-panel {
	max-width: 350px;
	margin: 15px auto 20px !important;
	background: #fff;
	padding: 20px;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.ropc .total-info {
    position: relative;
}
.ropc .cart-total-left {
	width: auto;
}
.ropc .cart-total-right {
	width: 100px;
	text-align: right;
}
.ropc .total-info button {
	position: relative;
	width: 22px;
	height: 22px;
	margin: -2px -3px 0 3px;
	border: 1px solid #c9c9c9;
	background: #fff url('delete.png') center no-repeat;
	padding: 0;
	font-size: 0;
	vertical-align: middle;
}

.ropc .error-list {
	margin: 0 0 30px;
	text-align: right;
}
.ropc .error-list li {
	list-style: none;
	margin: 5px;
	color: red;
	font-weight: bold;
}
.ropc .terms-of-service {
	margin: 0 0 20px;
	text-align: center;
}
.ropc .complete-button {
}
.ropc .complete-button button {
	border: 1px solid #49bf86;
    box-shadow: 0 1px 0 0 #42ab78;
	background: #46c688;
    padding: 10px 26px;
    font-size: 14px;
    color: #fff;
	text-transform: uppercase;
}
.ropc .complete-button button:hover {
	background: #51e29c;
}

.ropc .addon-buttons > * {
    margin: 0 0 5px 5px;
}


@media all and (max-width: 980px) {

.panel {
	display: block;
	max-width: 550px;
	margin: auto;
}
.cart {
	display: block;
}
.cart colgroup,
.cart thead {
	display: none;
}
.cart tbody {
	display: block;
	overflow: hidden;
}
.cart tr {
	display: block;
	float: left;
	width: 100%;
	margin: 25px 0 0;
	border: 1px solid #ddd;
}
.cart tr:first-child {
	margin: 0;
}
.cart td {
	display: block;
	border: none;
	padding: 10px;
	text-align: center;
}
.cart td.remove-from-cart {
    margin: 0 0 -1px;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
	padding: 10px;
}
.cart td.product-picture {
	border-top: 1px solid #ddd;
	padding: 15px 10px 5px;
}
.cart td.product {
	min-width: 0;
	border-bottom: 1px solid #ddd;
	padding: 5px 10px 15px;
	text-align: center;
}
.cart td.quantity {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}
.cart td.unit-price,
.cart td.subtotal {
	display: inline-block;
	width: 40%;
	padding: 20px 10px;
	vertical-align: middle;
}

.ropc .addon-buttons > * {
    margin: 0 5px 5px;
}
	
}

@media all and (min-width: 481px) {

/*.ropc .estimate-shipping label {
	margin: 0 0 0 -110px;
}*/
.ropc .attribute-list > li {
	display: inline-block;
	vertical-align: top;
	width: 46%;
	margin: 2%;
}
.ropc .attribute-values li {
	width: auto;
}

}

@media all and (min-width: 769px) {

.ropc .section {
	margin: 0 0 30px;
}
.ropc .section-title {
	box-shadow: none;
	background: none;
	padding: 0;
}
.ropc .section-body {
	display: block !important;
	margin: 0;
}
.ropc .inputs label {
	width: 40%;
}
.ropc input[type="text"],
.ropc input[type="password"],
.ropc .inputs select {
	width: 60%;
}
.ropc .choose-address select {
	max-width: none;
}
/*.ropc .estimate-shipping label {
	margin: 0;
}*/
.ropc .estimate-shipping .buttons {
	text-align: right !important;
}
.ropc .attribute-list > li {
	margin: 2% 1.5%;
	border-right: 1px solid #c9c9c9;
}
.ropc .attribute-list > li:last-child {
	border: none;
}
.ropc .attribute-name {
	margin: 0 0 15px;
}
.ropc .coupon-box-panel,
.ropc .giftcard-box-panel {
	width: 49%;
}
.ropc .coupon-box,
.ropc .giftcard-box {
	text-align: left;
}
.order-totals-panel {
	max-width: 49%;
	margin: 0 0 20px auto !important;
}
.ropc .terms-of-service,
.ropc .complete-button {
	text-align: right !important;
}

}

@media all and (min-width: 981px) {

.ropc .panel-group-left {
	width: 33%;
}
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	float: right;
	width: 65%;
}
.ropc .buttons {
	text-align: right !important;
}
.ropc .payment-method ul {
	float: left;
	width: 45%;
}
.ropc .payment-info {
	float: right;
	width: 53%;
	padding: 0;
}
.ropc .cart .unit-price,
.ropc .cart .subtotal {
    white-space: normal;
}
.order-summary-panel .section-body {
	padding: 0;
}
.order-summary-panel .cart th:first-child,
.order-summary-panel .cart td:first-child {
	border-left: none;
}
.order-summary-panel .cart th:last-child,
.order-summary-panel .cart td:last-child {
	border-right: none;
}
.order-summary-panel .cart tr:first-child td {
	border-bottom: none;
}

}