﻿@model string

<input id="@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)" name="@ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)" value="@Model" />
<script>
    $(document).ready(function () {
        $("#@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)").kendoColorPicker({
            value: "@Model",
            buttons: false,
            select: function (e) {
                $("#@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)").val(e.value);
            }
        });
    });
</script>