
.ropc .inputs .required {
	margin: 0 0 0 -6px;
}
.ropc .shipping-results {
	text-align: right;
}
.ropc .payment-method .payment-logo {
	margin: 0 0 0 15px !important;
}
.ropc .payment-info .info p {
	text-align: right;
}
.ropc .coupon-box-panel .coupon-code button,
.ropc .giftcard-box-panel .coupon-code button {
	margin: 0 -1px 0 0;
}
.ropc .total-info button {
	margin: -2px 0 0 -4px;
}

@media all and (min-width:769px) {
	
.ropc .section .title {
	text-align: right;
}
.ropc .inputs .required {
	margin: 0 -15px 0 0;
}
.ropc .shipping-method .method-list,
.ropc .payment-method .method-list {
	text-align: right;
}
.ropc .coupon-box-panel .hint,
.ropc .giftcard-box-panel .hint {
	text-align: right;
}

}

@media all and (min-width:981px) {
	
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	float: left;
}
.ropc .inputs label {
	text-align: left;
	margin: 0 0 0 5px;
}
.ropc .pickup-in-store .section-body {
	text-align: right;
}
.ropc .estimate-shipping button {
	float: left;
}
.ropc .payment-info .info tr {
	text-align: right;
}
.ropc .coupon-box-panel input[type="text"],
.ropc .giftcard-box-panel input[type="text"] {
	margin: 0 0 0 -1px !important;
}
.ropc .order-totals-panel {
	float: left;
	text-align: left;
}
.ropc .order-confirm,
.ropc .terms-of-service,
.ropc .complete-button {
	text-align: left !important;
}

.ropc .addon-buttons {
    text-align: left;
}

.ropc .addon-buttons > * {
     margin: 0 5px 5px 0;
}

}
