﻿@model ManufacturerNavigationModel

@using Nop.Core
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Models.Catalog;
@if (Model.Manufacturers.Count > 0)
{
if(EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name) == "Bivolino.eu")
				{

    <div class="block block-manufacturer-navigation">
        <div class="title">
            <strong>@T("Manufacturers")</strong>
        </div>
        <div class="listbox">
            <ul class="list">
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <li class="@(manufacturer.IsActive ? "active" : "inactive")"><a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a>
                    </li>
                }
            </ul>
            @if (Model.TotalManufacturers > Model.Manufacturers.Count)
            {
                <div class="view-all">
                    <a href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturers.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}
}