/*** PLUGIN STYLES ***/

input.ng-invalid.ng-dirty, 
textarea.ng-invalid.ng-dirty, 
.has-error {
    border: 1px solid red !important;
}

.ropc {
	margin: 35px 0 0;
}
.ropc .section-title strong {
	min-width: 250px;
}
.ropc .section-body {
	display: none;
}

.ropc .inputs select,
.ropc .choose-address select {
	width: 300px;
    max-width: 100%;
    height: 30px;
	padding: 0 5px;
}
.ropc .choose-address {
    margin: 0 0 20px;
    text-align: center;
}

.ropc .pickup-in-store {
	text-align: center;
}
.ropc .pickup-in-store .description {
    margin: 5px 0 0;
}
.checkout-page .pickup-points {
	margin: 20px 0 0;
}
.checkout-page .pickup-points-map {
	width: 100% !important;
	height: 300px !important;
	margin: 20px 0 10px;
}

.ropc .estimate-shipping .hint {
    margin: 0 0 15px;
	text-align: center;
    font-size: 13px;
}
.ropc .estimate-shipping .shipping-options {
    margin: 0 0 24px;
}
.ropc .estimate-shipping .shipping-options .inputs {
	text-align: center;
}
.ropc .estimate-shipping .buttons {
    margin: 20px 0 0;
}
.ropc .estimate-shipping button {
    display: inline-block;
    padding: 5px 12px;
    background: #333;
    color: #fff;
    font-size: 14px;
    border: 1px solid transparent;
}
.ropc .estimate-shipping button[disabled] {
    opacity: 0.5;
    cursor: default;
}
.ropc .shipping-results {
    margin: 0 auto 20px;
    border: 1px dotted #ccc;
    padding: 10px 15px;
    text-align: left;
    max-width: 420px;
}
.ropc .shipping-results > li {
    margin: 10px 0;
}

.ropc .shipping-method .method-list {
    border: 0;
    padding: 0 15px;
	text-align: left;
}
.ropc .use-reward-points {
  margin: 0 0 15px;
}
.ropc .payment-logo, 
.ropc .payment-details {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.ropc .payment-method .method-list {
    border-top: 1px dotted #ccc;
    padding: 10px 0 0 10px;
    margin: 0 0 20px;
    text-align: left;
}
.ropc .payment-method .method-list li {
    margin: 10px 0;
    padding: 5px;
    display: block;
}
.ropc .payment-info .info {
    margin: 0 auto 20px;
    text-align: left;
    font-size: 13px;
}
.ropc .payment-info td {
    padding: 10px 0;
}

.ropc .order-summary-panel .section {
	overflow: visible;
}
.ropc .cart .sku {
	display: none;
}
.ropc .cart .qty-input {
  line-height: 32px;
  height: 34px;
}
.ropc .quantity label {
    display: none;
}

.ropc .checkout-attributes input[type=text],
.ropc .checkout-attributes textarea {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.ropc .attributes-panel {
    margin: 0 auto 40px;
}
.ropc .attribute-list {
    margin: 0 10px;
}
.ropc .attribute-list > li {
    margin: 0 0 15px;
}
.ropc .attribute-list input[type=text],
.ropc .attribute-list textarea {
    max-width: 100%;
}

.ropc .coupon-box-panel .hint, 
.ropc .giftcard-box-panel .hint {
    margin: 0 0 10px;
    font-size: 13px;
}
.ropc .coupon-code {
    display: inline-block;
    margin: 0 0 5px;
}
.ropc .coupon-code input {
    float: left;
    width: 140px;
}
.ropc .coupon-code button {
    float: left;
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px;
    background: #ddd;
    color: #333;
    font-size: 12px;
    margin-left: -1px;
    line-height: 1;
}
.ropc .current-code {
	clear: both;
	padding: 5px 0 0;
}
.ropc .current-code span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}
.ropc .current-code button {
    display: inline-block;
    vertical-align: middle;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	background: #fff url('close.png') center no-repeat;
	cursor: pointer;
    font-size: 0;
}
.ropc .coupon-box-panel .message,
.ropc .giftcard-box-panel .message {
	clear: both;
	padding: 5px 0 0;
}

.ropc .order-totals-panel {
    margin: 0 auto 20px !important;
    max-width: 400px;
}
.ropc .cart-total-left {
    text-align: left;
}
.ropc .cart-total-right {
}
.ropc .cart-total button,
.ropc .remove-product {
    display: inline-block;
    vertical-align: middle;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	background: #fff url('close.png') center no-repeat;
	cursor: pointer;
    font-size: 0;
    margin-right: -7px;
    margin-left: 3px;
    position: relative;
    z-index: 1;
}
.ropc .remove-product {
    margin: 0;
}

.ropc .order-confirm .error-list {
    margin: 0 0 20px;
}
.ropc .order-confirm .error-list li {
    margin: 0 0 10px;
    color: #c00;
    font-size: 14px;
}
.ropc .complete-button button {
    padding: 10px 22px;
    background-color: #a12;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid transparent;
}

.ropc .addon-buttons {
    margin-top: 20px;
    text-align: right;
}

.ropc .addon-buttons > * {
    margin: 0 0 5px 5px;
}

@media all and (max-width: 768px) {

.ropc .section {
	margin: 0 0 15px;
}
.ropc .section .title strong {
	background-color: #ccc !important;
	color: #333;
}
.ropc .section .title strong:after {
	border-color: #ccc transparent transparent !important;
}

}

@media all and (max-width: 980px) {

.panel {
	display: block;
	max-width: 550px;
	margin: auto;
}
.cart {
	display: block;
}
.cart colgroup,
.cart thead {
	display: none;
}
.cart tbody {
	display: block;
	overflow: hidden;
}
.cart tr {
	display: block;
	float: left;
	width: 100%;
	margin: 25px 0 0;
	border: 1px solid #ddd;
}
.cart tr:first-child {
	margin: 0;
}
.cart td {
	display: block;
	border: none;
	padding: 10px;
	text-align: center;
}
.cart td.remove-from-cart {
    margin: 0 0 -1px;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
	padding: 10px;
}
.cart td.product-picture {
	border-top: 1px solid #ddd;
	padding: 15px 10px 5px;
}
.cart td.product {
	min-width: 0;
	border-bottom: 1px solid #ddd;
	padding: 5px 10px 15px;
	text-align: center;
}
.cart td.quantity {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}
.cart td.unit-price,
.cart td.subtotal {
	display: inline-block;
	width: 40%;
	padding: 20px 10px;
	vertical-align: middle;
}

.ropc .addon-buttons {
    text-align: center;
}

.ropc .addon-buttons > * {
    margin: 0 5px 5px;
}

}

@media all and (min-width: 769px) {

.ropc .section-title strong {
	min-width: 0;
}
.ropc .section-body {
	display: block !important;
}

.ropc .ship-to-same-address {
	text-align: center;
}
.ropc .attribute-list > li {
    text-align: left;
    display: block !important;
}
.ropc .attribute-name {
    text-align: left;
    display: block;
}
.ropc .checkout-attributes li {
	margin: 0 10px 0 0;
}
.ropc .estimate-shipping select,
.ropc .estimate-shipping input[type=text] {
    width: 90%;
}
.ropc .coupon-box-panel .section-body,
.ropc .giftcard-box-panel .section-body {
	padding: 0 15px;
	text-align: center;
}
.ropc .coupon-box-panel input[type="text"], 
.ropc .giftcard-box-panel input[type="text"],
.ropc .coupon-box-panel .coupon-code button, 
.ropc .giftcard-box-panel .coupon-code button {
	display: block;
	width: 100%;
	margin: 0 0 -1px;
}
.ropc .order-totals-panel {
    width: 64%;
}
.ropc .terms-of-service {
	text-align: center;
}

}

@media all and (min-width: 981px) {

.ropc .td-title {
    display: none !important;
}
.ropc .panel-group-left {
	width: 33%;
} /*override common css for 981~1000 width*/
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	float: right;
	width: 65%;
} /*override common css for 981~1000 width*/

.ropc .inputs label {
	display: block;
	text-align: center;
	width: auto !important;
	margin: 0 0 5px;
}
.ropc .cart .unit-price,
.ropc .cart .subtotal {
    white-space: normal;
}
.ropc .form-fields {
	margin: 0 10px;
}
.ropc .checkout-attributes {
	float: none;
	max-width: none;
}
.ropc .coupon-code {
    display: block;
}
.ropc .coupon-box-panel input[type="text"], 
.ropc .giftcard-box-panel input[type="text"] {
	display: inline-block;
	width: 60%;
	margin: 0;
}
.ropc .coupon-box-panel .coupon-code button, 
.ropc .giftcard-box-panel .coupon-code button {
	display: inline-block;
	width: 40%;
	margin: 0 0 0 -1px;
}
.ropc .order-totals-panel {
	width: 48%;
	margin: 0 0 20px auto !important;
}
.ropc .error-list,
.ropc .terms-of-service,
.ropc .complete-button {
	text-align: right;
}

}