﻿@model Nop4you.Plugin.MarketingAutomation.Models.ConfigurationModel
@{
    Layout = "";
    Html.SetActiveMenuItemSystemName("MarketingAutomation");
}
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel-group">
        <div class="panel panel-default">
            @if(Nop4you.Plugin.MarketingAutomation.n4yPlugin.TrialVersion)
            {
                <div class="callout bg-gray-light no-margin">
                    TRIAL VERSION - support max display 50 banners, 50 sent emails, shows only 3 recommended/related products - Buy full version: http://nop4you.com/marketing-automation-for-nopcommerce
                </div>
            }
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.WidgetZoneBanner)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.WidgetZoneBanner)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.EnabledRecommendedProduct)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.EnabledRecommendedProduct)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.MaxRecommendedProduct)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MaxRecommendedProduct)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.WidgetZoneRecommendedProduct)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.WidgetZoneRecommendedProduct, Model.AvailableWidgetZone)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.EnabledRelatedProduct)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.EnabledRelatedProduct)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.MaxRelatedProducts)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MaxRelatedProducts)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.WidgetZoneRelatedProduct)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.WidgetZoneRelatedProduct, Model.AvailableWidgetZoneRelatedProduct)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.RelatedProduct_Category)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.RelatedProduct_Category)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.RelatedProduct_Manufacturer)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.RelatedProduct_Manufacturer)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.RelatedProduct_Specification)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.RelatedProduct_Specification)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.RelatedProduct_Tag)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.RelatedProduct_Tag)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}