input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty, 
.has-error {
    border: 1px solid #ff0000 !important;
}
.ropc .section-body {
    display: none;
}
.fieldset .title, .section .title {
    margin: 0 0 10px;
}
.checkout-page .ropc .section {
    margin: 30px 0;
}
.ropc .panel-group-left select{
    width: 470px;
    max-width: 100%;
}
.checkout-page .ropc .section .title{
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding: 10px;
    text-align: left;
}
.checkout-page .ropc .section .title:after {
    content: '';
    display: block;
    width: calc(100% - 30px);
    height: 1px;
    background: #ddd;
    position: absolute;
    bottom: 14px;
    z-index: -1;
}
.checkout-page .ropc .section .title strong {
    display: inline-block;
    box-shadow: 0 0 0 10px #fff;
    text-transform: uppercase;
    background: #fff;
}
.checkout-page .ropc .section .title strong:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 5px;
    margin: auto;
    background: url(ropc-arrow-down.png) no-repeat center;
}
.ropc .pickup-points {
    margin: 10px 0 0;
}
.ropc .pickup-points select {
    margin: 10px 0;
}
.ropc .pickup-points-map {
    max-width: 100%;
    margin: 0 auto;
}
.billing-address-panel .form-fields,
.shipping-address-panel .form-fields {
    background: none;
    border: 0;
    padding: 0;
}
.panel-group-left .choose-address {
    margin: 0 0 30px;
}
select {
    max-width: 100%;
    height: 36px;
}
.estimate-shipping .hint {
    margin: 0 0 15px;
    color: #666;
    font-size: 13px;
}
.inputs span.ng-binding {
    font-size: 12px;
    display: block;
    color: #c00;
    margin: 5px 0 0;
}
.estimate-shipping .buttons {
    margin: 20px 0 0;
    overflow: hidden;
}
.estimate-shipping button {
    border: 3px solid #ddd;
    padding: 9px 25px;
    font-size: 14px;
    color: #444;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: none;
    -webkit-transition: all .10s ease-in-out;
    -moz-transition: all .10s ease-in-out;
    transition: all .10s ease-in-out;
}
.estimate-shipping button[disabled] {
    opacity: 0.5;
    cursor: auto;
}
.estimate-shipping button[disabled]:hover {
    background: none;
    color: #444;
    border-color: #ddd;
}
.shipping-results {
    margin: 30px 0 0;
    text-align: left;
}

.pickup-in-store{
    text-transform: uppercase;
    /*margin-top: -25px !important;*/
}

.shipping-method,
.payment-method{
    text-align: left;
}
.shipping-method .method-list,
.payment-method .method-list {
    margin: 0;
}
.shipping-method .method-list li,
.payment-method .method-list li {
	margin: 20px 0 0;
	display: block;
	width: auto !important;
	padding: 0 !important;
}
.shipping-method .method-list li:first-child,
.payment-method .method-list li:first-child {
	margin: 0;
}
.payment-method .payment-logo {
    display: inline-block;
    padding: 0 !important;
    margin: 0 15px 0 0 !important;
}
.payment-method .payment-details {
    display: inline-block !important;
    min-width: 0;
    margin: 0 !important;
}
.shipping-method .method-name {
    padding: 0;
    background: none !important;
}
.payment-info {
    margin: 30px 0 0;
    line-height: 1.8em;
    letter-spacing: 1.5px;
}
.payment-info .info {
    padding: 0;
}
.payment-info .info p {
	text-align: left;
}

.cart td.quantity input {
    height: 36px;
}

.attribute-list > li {
    border: 0;
    display: block;
    padding: 0;
    margin: 0 0 10px;
}
.attribute-list .hidden {
    display: none;
}
.coupon-box-panel .hint,
.giftcard-box-panel .hint {
    margin: 0 0 15px;
    color: #666;
    font-size: 13px;
}
.coupon-box-panel .coupon-code,
.giftcard-box-panel .coupon-code {
}
.coupon-box-panel input[type="text"],
.giftcard-box-panel input[type="text"] {
}
.coupon-box-panel .coupon-code button,
.giftcard-box-panel .coupon-code button {
}
.coupon-box-panel .message,
.giftcard-box-panel .message {
    margin: 5px 0 0;
    color: #c00;
    font-size: 12px;
}
.coupon-box-panel .current-code {
    margin: 5px 0 0;
}

.order-totals-panel {
    max-width: 370px;
    margin: 0 auto 20px;
}
.checkout-page .total-info {
}
.coupon-box-panel .current-code button,
.coupon-box-panel .current-code span,
.total-info button {
    display: inline-block;
    vertical-align: middle;
}


.ropc .coupon-code {
	overflow: hidden;
	font-size: 0;
}
.ropc .deals .hint{
    min-height: 41px;
}
.ropc .coupon-code input[type="text"] {
	float: left;
	width: 56%;
	height: 36px; /*safari padding fix*/
	margin: 0 -1px 0 0;
}
.ropc .coupon-code button {
	float: left;
    width: 44%;
    height: 36px; /*safari padding fix*/
    margin: 0;
    padding: 3px;
    font-size: 11px;
    border: 3px solid #ddd;
    color: #444;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: none;
    -webkit-transition: all .10s ease-in-out;
    -moz-transition: all .10s ease-in-out;
    transition: all .10s ease-in-out;
}

.coupon-box-panel .current-code button,
.total-info button {
    width: 16px;
    height: 16px;
    background: #f9f9f9 url(delete.png) no-repeat center;
    border: 0;
    font-size: 0;
}
.total-info button {
    margin-right: -10px;
    position: relative;
    z-index: 1;
}
.error-list {
    color: #c00;
    margin: 0 0 20px;
}
.complete-button button {
    border: 3px solid #75bfa1;
    padding: 9px 25px;
    font-size: 18px;
    line-height: 22px;
    color: #444;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #fff;
    -webkit-transition: all .10s ease-in-out;
    -moz-transition: all .10s ease-in-out;
    transition: all .10s ease-in-out;
}

.panel-loader-effect .spinner>div{
    background-color: #888;
}

.ropc .cart td {
    padding: 10px;
}
.ropc .cart td.product a{
    font-size: 12px;
}
.ropc .cart .unit-price{
    font-size: 13px;
}
.ropc .cart .sku{
    font-size: 11px;
    display: none;
}
.ropc .cart .remove-from-cart button{
    display: block;
    width: 32px;
    height: 32px;
    padding: 5px;
    margin: auto;
    background: url(delete.png) no-repeat center;
	font-size: 0;
    border: none;
}
.ropc .cart .subtotal{
    font-size: 14px;
}
.cart colgroup, 
.cart thead {
    display: none;
}
.ropc .checkout-attributes li * {
    text-transform: none;
}
.ropc .cart-total {
    max-width: 100%;
    width: 320px;
    margin: auto;
}
.ropc .addon-buttons {
    margin-top: 20px;
    text-align: right;
}

.ropc .addon-buttons > * {
    margin: 0 0 5px 5px;
}

@media all and (max-width: 480px) {

    .cart {
        margin: 0 0 30px;
    }
    /*.cart tr:first-child {
        margin: 0;
    }*/

}

@media all and (max-width: 1000px) {

    .checkout-page .ropc .section.giftcard-box {
        margin-bottom: 70px;
    }
    .ropc .cart th{
        display: none;
        font-size: 11px;
        padding: 10px;
    }
    .ropc .cart td {
        display: block;
        border-bottom: none;
    } 
    .ropc .cart tr {
        display: block;
        width: 100%;
        float: left;
        margin-bottom: 25px;
        border-bottom: 1px solid #ddd;
    } 
    .cart td.quantity {
        padding: 10px;
    }
    .cart td.quantity > div {
        display: inline-block;
    }
    .ropc .coupon-box-panel,
    .ropc .giftcard-box-panel {
        float: none;
        width: 100%;
    }

    .ropc .addon-buttons {
        text-align: center;
    }

    .ropc .addon-buttons > * {
        margin: 0 5px 5px;
    }

}

@media all and (min-width: 481px) {
    
    .cart tr {
        margin: 0 2% 40px;
    }
    .ropc .coupon-code button{
        font-size: 14px;
    }

}

@media all and (min-width: 560px) and (max-width: 1000px) {

    .ropc .cart tr {
        width: 48%;
        margin: 0 1% 2.5%;   
    }
    .ropc .cart tr:nth-child(2n+1) {
        clear: both;
    }
}
@media all and (min-width: 769px) {
    .ropc .section-body {
        display: block !important;
    }
    .fieldset .title, .section .title {
        text-align: left;
        padding: 0;
    }
    .ropc .coupon-code button{
        font-size: 11px;
    }
    .cart tr {
        margin: 0 1% 40px;
    }

}

@media all and (min-width: 1001px) {

    .payment-info .info tr {
        text-align: left;
    }
    .cart {
        margin: 0 0 30px;
    }
    .order-totals-panel {
        text-align: right;
        float: right;
    }
    .terms-of-service {
        padding: 0 !important;
    }
    .ropc .panel-group-left {
        width: 30%;
    }
    .ropc .panel-group-right-top, 
    .ropc .panel-group-right-middle, 
    .ropc .panel-group-right-bottom {
        float: right;
        width: 68%;
    }
    .order-confirm,
    .terms-of-service,
    .complete-button {
        clear: both;
        text-align: right !important;
    }

    .inputs label {
        display: block;
        text-align: left;
        margin: 0 0 5px;
        width: auto;
    }
    .estimate-shipping button {
        float: right;
    }
    .payment-info .info td:first-child {
        width: 100% !important;
        text-align: left !important;
        margin: 0 0 10px !important;
    }
    .td-title {
        display: none !important;
    }
    .remove-product {
        cursor: pointer;
    }
    .cart .product {
        min-width: 0;
    }
    .ropc .checkout-attributes{
        text-align: left;
    }
    .ropc .checkout-attributes li{
        margin: 0 10px 0 0;
    }
    .ropc button:hover{
        background-color: #75bfa1;
        border-color: #75bfa1;
        color: #fff;
    }

}

@media all and (min-width: 1281px) {

    .ropc .coupon-code button{
        font-size: 14px;
    }
    .ropc .cart-total,
    .order-totals-panel {
        width: 380px;
        max-width: none;
    }
}