﻿<div class="section order-summary-content" ng-controller="OrderSummaryController as vm">

    @Html.Partial("_AjaxLoader", "order-summary-content-loader")

    <div class="section-title title">
        <strong>@T("Checkout.OrderSummary")</strong>
    </div>

    <div class="section-body">

        @Html.Widget("order_summary_content_before")

        <table class="cart">
            <colgroup>
                <col width="1" ng-show="vm.orderSummaryData.isEditable" />
                <col width="1" ng-show="vm.orderSummaryData.showSku" />
                <col width="1" ng-show="vm.orderSummaryData.showProductImages" />
                <col /> 
                <col width="1" />
                <col width="1" />
                <col width="1" />
            </colgroup>
            <thead>
                <tr class="cart-header-row">
                    <th class="remove-from-cart" ng-show="vm.orderSummaryData.isEditable">
                        @T("ShoppingCart.Remove")
                    </th>
                    <th class="sku" ng-show="vm.orderSummaryData.showSku">
                        @T("ShoppingCart.SKU")
                    </th>
                    <th class="product-picture" ng-show="vm.orderSummaryData.showProductImages">
                    </th>
                    <th class="product">
                        @T("ShoppingCart.Product(s)")
                    </th>
                    <th class="unit-price">
                        @T("ShoppingCart.UnitPrice")
                    </th>
                    <th class="quantity">
                        @T("ShoppingCart.Quantity")
                    </th>
                    <th class="subtotal">
                        @T("ShoppingCart.ItemTotal")
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cart-item-row" ng-repeat="cartItem in vm.orderSummaryData.items" ng-class="{ 'footable-detail-show': cartItem.warnings.length > 0 }">
                    <td class="remove-from-cart" ng-show="vm.orderSummaryData.isEditable">
                        <button type="button" class="remove-product" ng-hide="cartItem.disableRemoval" ng-confirm-message="@T("Common.AreYouSure")" ng-confirm-click="cartItem.deleted = true">@T("ShoppingCart.Remove")</button>
                    </td>

                    <td class="sku" ng-show="vm.orderSummaryData.showSku">
                        {{cartItem.sku}}
                    </td>

                    <td class="product-picture" ng-show="vm.orderSummaryData.showProductImages">
                        <img alt="{{cartItem.picture.alternateText}}" ng-src="{{cartItem.picture.imageUrl}}" title="{{cartItem.picture.title}}" />
                    </td>

                    <td class="product">
                        <a ng-href="{{cartItem.customProperties['productUrl']}}" class="product-name">{{cartItem.productName}}</a>

                        <div class="attributes" ng-show="cartItem.attributeInfo" ng-bind-html="vm.renderHtml(cartItem.attributeInfo)">
                        </div>

                        <div class="recurring-info" ng-show="cartItem.recurringInfo" ng-bind-html="vm.renderHtml(cartItem.recurringInfo)">
                        </div>

                        <div class="rental-info" ng-show="cartItem.rentalInfo" ng-bind-html="vm.renderHtml(cartItem.rentalInfo)">
                        </div>

                        <div class="edit-item" ng-if="cartItem.allowItemEditing">
                            <a ng-href="{{cartItem | prepareEditUrl}}">@T("Common.Edit")</a>
                        </div>
                        
                        <div ng-show="cartItem.warnings.length > 0" class="message-error">
                            <ul>
                                <li ng-repeat="warning in cartItem.warnings">
                                    {{warning}}
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="unit-price">
                        <span class="td-title">@T("ShoppingCart.UnitPrice"):</span>
                        <span class="product-unit-price">{{cartItem.unitPrice}}</span>
                    </td>
                    <td class="quantity">
                        <span class="td-title">@T("ShoppingCart.Quantity"):</span>

                        <div ng-if="vm.orderSummaryData.isEditable">
                            <div ng-if="cartItem.allowedQuantities.length > 0">
                                <select ng-change="cartItem.updated = true" ng-model="cartItem.quantity" name="itemquantity{{cartItem.id}}" class="qty-dropdown not-loaded" ng-options="qty.text for qty in cartItem.allowedQuantities track by qty.value">
                                    <option value="" ng-if="false"></option>
                                </select>
                            </div>
                            <div ng-if="!cartItem.allowedQuantities.length > 0">
                                <input ng-model="cartItem.quantity" ng-model-options="{ updateOn: 'blur' }" ng-blur="cartItem.updated = true" name="itemquantity{{cartItem.id}}" type="number" ng-value="{{cartItem.quantity}}" class="qty-input" />
                            </div>
                        </div>

                        <div ng-if="!vm.orderSummaryData.isEditable">
                            <span class="product-quantity">{{cartItem.quantity}}</span>
                        </div>
                    </td>
                    <td class="subtotal">
                        <label class="td-title">@T("ShoppingCart.ItemTotal"):</label>
                        <span class="product-subtotal">{{cartItem.subTotal}}</span>

                        <div class="discount" ng-show="cartItem.discount">
                            @T("ShoppingCart.ItemYouSave", "{{cartItem.discount}}")
                        </div>
                        <div ng-show="cartItem.maximumDiscountedQty" class="discount-additional-info">
                            @T("ShoppingCart.MaximumDiscountedQty", "{{cartItem.maximumDiscountedQty}}")
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div ng-show="vm.orderSummaryData.checkoutAttributeInfo.length > 0" ng-bind-html="vm.renderHtml(vm.orderSummaryData.checkoutAttributeInfo)"></div>

    </div>
</div>