﻿@{
    Layout = "";
    Html.SetActiveMenuItemSystemName("FoxNetSoft.DiscountOrder.Configure");
}
@model FoxNetSoft.Plugin.Misc.DiscountOrder.Models.DiscountOrderSettingsModel
@using FoxNetSoft.Plugin.Misc.DiscountOrder.Models;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@Html.Action("Mode", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.GeneralCommon")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.showDebugInfo)").click(toggleshowDebugInfo);
            toggleshowDebugInfo();
        });

        function toggleshowDebugInfo() {
            if ($('#@Html.FieldIdFor(model => model.showDebugInfo)').is(':checked')) {
                $('#pnlclearlogfile, #pnlgetlogfile').show();
            }
            else {
                $('#pnlclearlogfile, #pnlgetlogfile').hide();
            }
        }
    </script>
    <div class="content">
        <div class="form-horizontal">
            @Html.ValidationSummary(false)
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            @if (Model.IsRegisted == true)
                            {
                                @T("Admin.FoxNetSoft.Plugin.Misc.DiscountOrder.IsRegisted")
                            }
                            else
                            {
                                @T("Admin.FoxNetSoft.Plugin.Misc.DiscountOrder.IsNoRegisted")
                                <br />
                                <a href="http://www.foxnetsoft.com/noporderdiscount" target="blank">Buy It Now</a>
                            }
                        </p>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.Enabled_OverrideForStore, model => model.Enabled, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.Enabled)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Enabled)
                                @Html.ValidationMessageFor(model => model.Enabled)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.ForEachproduct_OverrideForStore, model => model.ForEachproduct, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.ForEachproduct)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ForEachproduct)
                                @Html.ValidationMessageFor(model => model.ForEachproduct)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.DiscountPercentage_OverrideForStore, model => model.DiscountPercentage, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.DiscountPercentage)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.DiscountPercentage)
                                @Html.ValidationMessageFor(model => model.DiscountPercentage)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.MinimumOrderAmount_OverrideForStore, model => model.MinimumOrderAmount, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.MinimumOrderAmount)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.MinimumOrderAmount)
                                @Html.ValidationMessageFor(model => model.MinimumOrderAmount)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.showDebugInfo)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.showDebugInfo)
                                @Html.ValidationMessageFor(model => model.showDebugInfo)
                                <div id="pnlclearlogfile">
                                    <a href="@Url.Action("ClearLogFile")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.DiscountOrder.ClearLogFile")</a>
                                </div>
                                <div id="pnlgetlogfile">
                                    <a href="@Url.Action("GetLogFile")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.DiscountOrder.GetLogFile")</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.StoreUrl)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.StoreUrl)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.SerialNumber)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.SerialNumber)
                                @Html.ValidationMessageFor(model => model.SerialNumber)
                            </div>
                        </div>
                        <p>
                            Installation and configuring plug-in at Youtube <a href="http://www.youtube.com/foxnetsoft" target="blank">www.youtube.com/foxnetsoft</a>
                            <br />
                            Installation and configuring plug-in at our site <a href="http://www.foxnetsoft.com/documentation-noporderdiscount" target="blank">http://www.foxnetsoft.com/documentation-noporderdiscount</a>
                            <br />
                            <a href="http://www.foxnetsoft.com" target="blank">www.foxnetsoft.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
