﻿<div class="section shipping-method" ng-controller="ShippingMethodsController as vm" ng-show="vm.configData.isVisible">

    @Html.Partial("_AjaxLoader", "shipping-methods-loader")

    <div class="section-title title">
        <strong>@T("Checkout.ShippingMethod")</strong>
    </div>

    <div class="section-body">

        @Html.Widget("op_checkout_shipping_method_top")

        <ul class="method-list">
            <li ng-repeat="shipping in vm.shippingData.shippingMethods track by $index">
                <div class="method-name">
                    <div class="shipping-details">
                        <input ng-model="vm.shippingData.selectedShippingMethod" id="shippingmethod_{{$index}}" type="radio" name="shippingmethod" ng-value="shipping"/>
                        <label for="shippingmethod_{{$index}}">{{shipping | prepareName: '@T("Checkout.SelectShippingMethod.MethodAndFee")'}}</label>
                    </div>
                </div>

                <div class="method-description" ng-bind-html="vm.renderShippingDescription(shipping.description)" ng-show="shipping.description.length > 0"></div>
            </li>
            <li ng-repeat="warning in vm.shippingData.warnings">
                <div class="message-error">
                   {{warning}}
                </div>
            </li>
        </ul>

        @Html.Widget("op_checkout_shipping_method_bottom")

    </div>
</div>