input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty, 
.has-error {
    border: 1px solid #c00 !important;
}
.ropc .fieldset .title,
.ropc .section .title {
    padding: 10px 0;
    font: italic bold 18px "Times New Roman", Times, serif;
    color: #444;
}

.ropc .billing-address-panel .section-body,
.ropc .shipping-address-panel .section-body,
.ropc .estimate-shipping-panel .section-body {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 0 #f6f6f6, inset 0 0 10px #ddd;
    background-color: #fff;
    padding: 20px 15px;
    line-height: 18px;
}
.ropc .billing-address-panel .form-fields,
.ropc .shipping-address-panel .form-fields {
    background: none;
    border: 0;
    padding: 0;
}

.ropc .panel-group-left .choose-address {
    margin: 0 0 20px;
}

.ropc .panel-group {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background: url('boxpad3.png') top repeat-x;
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 0 #fff;
    padding: 10px;
    margin: 0 0 20px;
}

.ropc  .estimate-shipping .hint {
    margin: 0 0 10px;
}
.ropc  .inputs span.ng-binding {
    font-size: 12px;
    display: block;
    color: #c00;
    margin: 5px 0 0;
}

.ropc .inputs label {
    text-align: center;
    max-width: none;
    margin: 0 0 7px;
}

.ropc #map {
    width: 100% !important;
}

.ropc {
    text-align: center;
}

.ropc .inputs input[type="text"], 
.ropc .inputs input[type="password"],
.ropc select:only-of-type {
    width: 98%;
    max-width: 300px;
}

.ropc .payment-info input[type="text"],
.ropc .payment-info select:only-of-type {
    width: 240px !important;
}

.ropc .attribute-list select {
    width: auto;
}

.ropc .coupon-box-panel,
.ropc .giftcard-box-panel,
.ropc .order-totals-panel {
    width: 49%;
}

.ropc .order-summary-content {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.ropc .message-error {
    display: block;
    margin: 2px 10px 0;
    text-align: right;
}
.ropc .estimate-shipping .buttons {
    margin: 20px auto 0;
}
.ropc .estimate-shipping button {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(205,205,205,1) 50%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(205,205,205,1) 50%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    background-size: 100% 200%;
    background-position: top;
    box-shadow: inset 0 1px 0 #f6f6f6;
    padding: 10px;
    font: normal 12px Tahoma, Geneva, sans-serif;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
    transition: all .2s ease;
}
.ropc .estimate-shipping button[disabled] {
    cursor: default;
    opacity: .5;
}
.ropc .estimate-shipping button[disabled]:hover {
    background-position: top !important;
}
.ropc .shipping-results {
    margin: 30px 0 0;
    text-align: left;
}
.ropc ul.method-list li {
    border: none;
}

.ropc .pickup-points {
    margin: 10px 0 0;
}
.ropc .pickup-points select {
    margin: 10px 0;
}
.ropc .pickup-points-map {
    max-width: 100%;
}

.ropc .shipping-method .section-body,
.ropc .payment-method .section-body {
    margin-bottom: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 0 #f6f6f6, inset 0 0 10px #ddd;
    background-color: #fff;
    padding: 20px;
    line-height: 18px;
}
.ropc .shipping-method .method-list,
.ropc .payment-method .method-list {
    margin: 0;
}
.ropc .shipping-method .method-list li,
.ropc .payment-method .method-list li {
	margin: 20px 0 0;
	display: block;
	width: auto !important;
	padding: 0 !important;
}
.ropc .shipping-method .method-list li:first-child,
.ropc .payment-method .method-list li:first-child {
	margin: 0;
}
.ropc .payment-method .payment-logo {
    display: inline-block;
    padding: 0 !important;
    margin: 0 10px 0 0 !important;
}
.ropc .payment-method .payment-details {
    display: inline-block !important;
    min-width: 0;
    margin: 0 !important;
}
.ropc .shipping-method .method-name {
    padding: 0;
    background: none !important;
}
.ropc .payment-info {
    margin: 30px 0 0;
}
.ropc .payment-info .info {
    padding: 0;
    border: none;
}
.ropc .payment-info .info p {
	text-align: left;
}

.ropc .payment-info table td {
    padding: 5px;
}

.ropc .cart td.quantity input {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 5px;
    background: #fff;
    box-shadow: inset 0 0 10px #ddd;
    color: #333;
    width: 42px;
    height: 32px;
    text-align: center;
}
.ropc .checkout-page .order-summary-content {
    background: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
}
.ropc .use-reward-points {
    margin: 0 0 20px;
}

.ropc td.footable-first-column {
    position: relative;
    min-width: 16px;
}

.ropc td.footable-first-column .item-count,
.ropc td.footable-first-column .footable-toggle {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
}
.ropc td.footable-first-column .item-count{
    z-index: 1;
}
.ropc td.footable-first-column .footable-toggle {
    z-index: 2;
}
.ropc .cart-total .order-total {
    color: #000;
}
.ropc .attribute-list {
    text-align: left;
}

.ropc .attribute-list > li {
    border: 0;
    display: block;
    padding: 0;
    margin: 0 0 10px;
}
.ropc .attribute-list .hidden {
    display: none;
}

.ropc .checkout-attributes {
    float: none !important;
}

.ropc .checkout-attributes .section-body,
.ropc .coupon-box-panel .section-body,
.ropc .giftcard-box-panel .section-body {
    margin-bottom: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 0 #f6f6f6, inset 0 0 10px #ddd;
    background-color: #fff;
    padding: 10px 15px;
    line-height: 18px  
}
.ropc .coupon-box-panel .hint,
.ropc .giftcard-box-panel .hint {
    margin: 0 0 10px;
}
.ropc .coupon-box-panel .coupon-code,
.ropc .giftcard-box-panel .coupon-code {
    display: block;
    max-width: 320px;
    margin: 0 auto;
    overflow: hidden;
}
.ropc .coupon-box-panel input[type="text"],
.ropc .giftcard-box-panel input[type="text"] {
    float: left;
    width: calc(100% - 115px);
    margin: 0 0 10px;
    height: 32px;
    padding: 8px 4px;
    font: normal 12px Tahoma, Geneva, sans-serif;
}
.ropc .coupon-box-panel .coupon-code button,
.ropc .giftcard-box-panel .coupon-code button {
    width: 115px;
	margin: 0 0 10px;
	border: 1px solid #ccc;
	border-radius: 0 3px 3px 0;
	background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(205,205,205,1) 50%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(205,205,205,1) 50%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    background-size: 100% 200%;
    background-position: top;
	box-shadow: inset 0 1px 0 #f6f6f6;
	padding: 8px 10px;
	font: normal 12px Tahoma, Geneva, sans-serif;
	text-transform: uppercase;
	color: #333;
	text-shadow: 1px 1px 0 #fff;
    white-space: nowrap;
    transition: all .2s ease;
}

.ropc .coupon-code input[type="text"] {
    border-radius: 3px 0 0 3px;
}

.ropc .coupon-code button {
    border-radius: 0 3px 3px 0;
}

.coupon-box-panel .message,
.giftcard-box-panel .message {
    margin: 5px 0 0;
    color: #c00;
    font-size: 12px;
}
.coupon-box-panel .current-code {
    margin: 5px 0 0;
}

.order-totals-panel {
    box-sizing: border-box;
    margin: 0 0 20px;
}
.checkout-page .total-info {
    margin-bottom: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 0 #f6f6f6, inset 0 0 10px #ddd;
    background-color: #fff;
    padding: 10px;
    line-height: 18px;
}
.coupon-box-panel .current-code button,
.coupon-box-panel .current-code span,
.total-info button {
    display: inline-block;
    vertical-align: middle;
    color: #b68c65;
}
.coupon-box-panel .current-code button,
.total-info button {
    width: 16px;
    height: 16px;
    background: #fff url(delete.png) no-repeat center;
    border: 0;
    font-size: 0;
}
.total-info button {
    margin-right: -10px;
    position: relative;
    z-index: 1;
}
.terms-of-service {
    margin: 0 0 20px;
}
.error-list {
    color: #c00;
    margin: 0 0 20px;
}
.ropc .complete-button button {
	border: 2px solid #999;
	border-radius: 3px;
	background: rgb(76,76,76);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 50%, rgba(76,76,76,1) 100%);
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(0,0,0,1) 50%,rgba(76,76,76,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(0,0,0,1) 50%,rgba(76,76,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#4c4c4c',GradientType=0 );
    background-size: 100% 200%;
    background-position: top;
	box-shadow: inset 0 0 5px #000;
	padding: 10px 15px;
	text-align: center;
	font: normal 20px 'kepler_b';
	text-transform: uppercase;
	color: #b68c65;
	text-shadow: -1px -1px 0px #111;
    transition: background .2s ease;
}

.ropc .addon-buttons {
    margin-top: 20px;
    text-align: right;
}

.ropc .addon-buttons > * {
     margin: 0 0 5px 5px;
}

@media all and (max-width: 430px) {

    .coupon-box-panel input[type="text"],
    .giftcard-box-panel input[type="text"],
    .coupon-box-panel .coupon-code button,
    .giftcard-box-panel .coupon-code button {
        width: 100%;
    }

}


@media all and (max-width: 605px) {
    .ropc .cart tr:nth-child(2) {
        margin-top: 1% !important;
    }
}

@media all and (max-width: 768px) {

    .checkout-page .page-title {
        padding: 10px 0;
    }
    .ropc .section {
        margin: 0;
    }

    .ropc .section-body {
        display: none;
        margin-top: 10px;
    }

    .ropc .section-title {
        margin: 0;
        padding: 10px 0;
        text-align: left;
    }
    .ropc .section-title {
        background: url('table-plus.png') no-repeat right center;
    }
    .ropc .cart tr {
        min-width: 260px;
    }


    .ropc .checkout-attributes .section-body,
    .ropc .coupon-box-panel .section-body,
    .ropc .giftcard-box-panel .section-body {
        margin-bottom: 10px;
    }
    
}



@media all and (max-width: 980px) {
    

    .ropc .coupon-box-panel,
    .ropc .giftcard-box-panel,
    .ropc .order-totals-panel {
        width: 100%;
    }


    .ropc .cart colgroup,
    .ropc .cart thead,
    .ropc .cart .sku {
        display: none;
    }
    .ropc .cart tr:first-child,
    .ropc .cart tr:nth-child(2) {
        margin-top: 0;
    }

    .ropc .cart td {
        display: block;
        border: 1px dotted #ddd;
        border-width: 1px 1px 0 1px;
        height: auto;      
    }
    .ropc .cart {
        background: transparent;
        text-align: center;
    }
    .ropc .cart tr {
        display: inline-block;
        width: 49%;
        margin: 1% .5% 0;
        vertical-align: top;
        background: #fff;
    }
    .ropc .cart td:last-child {
        border-bottom: 1px dotted #ddd;
    }

    .cart td.quantity {
        padding: 10px;
    }

    .cart .sku {
        display: none;
    }
    .ropc .cart .remove-product {
        display: block;
        line-height: 32px;
        background: none;
        border: none;
        margin: 0 auto;
        
        
    }
    .ropc .cart .subtotal,
    .ropc .cart .quantity {
        border-top: none;
    }

    .ropc .cart .quantity > div {
        display: inline-block;
    }

    .ropc .unit-price,
    .ropc .quantity {
        border-bottom: none !important;
    }
    .cart td.product a {
        display: block;
        text-align: center;
    }
    .ropc .coupon-box-panel,
    .ropc .giftcard-box-panel {
        float: none;
        width: 100%;
    }

    .ropc .addon-buttons {
        text-align: left;
    }

    .ropc .addon-buttons > * {
         margin: 0 5px 5px 0;
    }

}

@media all and (max-width: 480px) {

    .cart {
        margin: 0 0 30px;
    }
    .cart tr:first-child {
        margin: 0;
    }

    .ropc .addon-buttons {
        text-align: center;
    }

    .ropc .addon-buttons > * {
         margin: 0 5px 5px;
    }

}

@media all and (min-width: 481px) {
    
    .cart tr {
        margin: 0 2% 40px;
    }

}

@media all and (min-width: 769px) {

    .ropc .section-body {
        display: block !important;
    }
    .fieldset .title, .section .title {
        text-align: left;
        padding: 0;
    }
    .shipping-method .method-list, 
    .payment-method .method-list {
        text-align: left;
    }
	.cart tr {
        margin: 0 1% 40px;
        min-width: 0;
    }
	.checkout-page .selected-checkout-attributes {
		float: none;
		text-align: center;
	}
    .ropc .cart {
        text-align: left;
    }

    .ropc .use-reward-points {
        text-align: left;
    }

}

@media all and (min-width: 981px) {
	
	.ropc .panel-group-left {
		width: 33%;
	} /*override common css for 981~1000 width*/
	.ropc .panel-group-right-top,
	.ropc .panel-group-right-middle,
	.ropc .panel-group-right-bottom {
		float: right;
		width: calc(67% - 20px);
	} /*override common css for 981~1000 width*/

    .inputs label {
        text-align: left;
        margin: 0 0 5px;
    }

	.cart {
        margin: 0 0 30px;
    }
	.cart .sku {
		display: none;
	}
	.td-title {
        display: none !important;
    }
    .remove-product {
        cursor: pointer;
        border: none;
        background: none;        
        text-align: center;
    }
    .cart .product {
        min-width: 0;
    }
	.checkout-page .selected-checkout-attributes {
		text-align: right !important;
	}
	.order-totals-panel {
        float: right;
        width: 48%;
        text-align: right;
    }
	.payment-info .info tr {
        text-align: left;
    }
    .payment-info select,
    .payment-info input {
        margin: 0 0 3px;
    }
	.payment-info .info td:first-child {
    }
    .terms-of-service {
        padding: 0 !important;
    }
    .order-confirm,
    .terms-of-service,
    .complete-button {
        clear: both;
        text-align: right !important;
    }
    .coupon-box-panel .coupon-code button, 
    .giftcard-box-panel .coupon-code button {
        width: 43%;
    }
    .coupon-box-panel input[type="text"], 
    .giftcard-box-panel input[type="text"] {
        width: 57%;
    }

}
