.shipping-results,
.payment-info .info p {
	text-align: right;
}
*{
	direction: rtl;
}
.payment-method .payment-logo{
	margin: 0 0 0 15px !important;
}
.ropc td.footable-first-column .item-count,
.ropc td.footable-first-column .footable-toggle{
	right: 0;
	left: 0;
}
.ropc .message-error {
    text-align: left;
}
.coupon-box-panel input[type="text"],
.giftcard-box-panel input[type="text"]{
	float: right;
	margin: 0 0 4% 2%;
}
.total-info button{
	margin-left: -10px;
	margin-right: 0;
}

.ropc .payment-info .info p {
    text-align: right;
}

.ropc .attribute-list {
    text-align: right;
}

.ropc .shipping-results {
    text-align: right;
}

.ropc .message-error {
    text-align: right;
}

@media all and (max-width: 768px) {

    .ropc .section-title {
        text-align: right;
    }
    .ropc .section-title {
        background: url('table-plus.png') no-repeat left center;
    }
    .ropc .section-title strong {
        padding-left: 25px;
        padding-right: 0;
    }
    .ropc .order-summary-panel .cart td {
        text-align: center !important;
    }
}

@media all and (min-width: 481px) {

    .ropc .addon-buttons {
        text-align: right;
    }

    .ropc .addon-buttons > * {
         margin: 0 0 5px 5px;
    }
}


@media all and (min-width: 769px) {

    .fieldset .title, .section .title {
        text-align: right;
    }
    .shipping-method .method-list, 
    .payment-method .method-list {
        text-align: right;
    }
    .ropc .cart {
        text-align: right;
    }

    .ropc .use-reward-points {
        text-align: right;
    }

}

@media all and (min-width: 981px) {


    .ropc .panel-group-right-top, .ropc .panel-group-right-middle, .ropc .panel-group-right-bottom {
        float: left;
    }

    .inputs label {
        text-align: right;
    }
	.checkout-page .selected-checkout-attributes {
		text-align: left !important;
	}
	.order-totals-panel {
        float: left;
        text-align: left;
    }
	.payment-info .info tr {
        text-align: right;
    }
    .order-confirm,
    .terms-of-service,
    .complete-button {
        text-align: left !important;
    }
    .ropc .addon-buttons {
        text-align: left;
    }

    .ropc .addon-buttons > * {
         margin: 0 5px 5px 0;
    }
}



