﻿.ropc {
    position: relative;
}
.ropc select {
    max-width: 100%;
}
#checkoutForm {
    position: relative;
    min-height: 110px;
}
.ropc form:after,
.ropc .panel-group:after,
.ropc .section-body:after {
	content: "";
	display: block;
	clear: both;
}
.ropc .panel {
	display: block;
	position: relative;
    overflow: hidden;
}
.ropc .section:after {
    content: "";
    display: block;
    clear: both;
}
.ropc .order-summary-panel,
.ropc .order-totals-panel,
.ropc .complete-order-panel {
	clear: both;
}

@media all and (min-width: 769px){

.ropc .panel-group-left {
	float: left;
	width: 40%;
}
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom  {
	float: right;
	width: 58%;
}
.ropc .coupon-box-panel {
	float: left;
	width: 48%;
}
.ropc .giftcard-box-panel {
	float: right;
	width: 48%;
}

}

@media all and (min-width: 1001px){

.ropc .panel-group-left {
	width: 33%;
}
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	width: 65%;
}

}

/* Ajax Panel Loader */

.panel-loader-effect {
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#checkoutForm > .panel-loader-effect {
	z-index: 8;
}
.panel-loader-effect .spinner {
	position: absolute;
    top: 50px;
    right: 0;
	bottom: auto;
    left: 0;
	margin: auto;
	width: 52px;
	height: 30px;
	text-align: center;
	font-size: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.panel-loader-effect .spinner > div {
	float: left;
	margin: 0 2px;
	width: 6px;
	height: 100%;
	background-color: #707e92;
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.panel-loader-effect .spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.panel-loader-effect .spinner .rect3 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}
.panel-loader-effect .spinner .rect4 {
	-webkit-animation-delay: -.9s;
	animation-delay: -.9s;
}
.panel-loader-effect .spinner .rect5 {
	-webkit-animation-delay: -.8s;
	animation-delay: -.8s;
}

@-webkit-keyframes stretchdelay {
    0%,40%,100% {
        -webkit-transform: scaleY(.4)
    }
    20% {
        -webkit-transform: scaleY(1)
    }
}

@keyframes stretchdelay {
    0%,40%,100% {
        -webkit-transform: scaleY(.4);
        transform: scaleY(.4)
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}