﻿@model Nop4you.Plugin.MarketingAutomation.Models.CustomerReminderLevelModel

@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";


    //page title
    ViewBag.Title = T("Nop4You.MarketingAutomation.CustomerReminder.Level").Text;
}
@using Nop.Web.Framework;

@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
        catch (e){}
        window.close();
    </script>
}


<script type="text/javascript">
                    function toggleLoadedAllowedTokens() {
                        $('#pnlAllowedTokens').toggle();
                        if ($('#pnlAllowedTokens').css('display') == 'none') {
                            $('#allowedTokensShowHide').html('@T("Admin.Common.Show")');
                        }
                        else {
                            $('#allowedTokensShowHide').html('@T("Admin.Common.Hide")');
                        }
                    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CustomerReminderId)

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @if (Model.Id == 0)
            {
                @T("Nop4You.MarketingAutomation.CustomerReminder.Level.Add")
            }
            else
            {
                @T("Nop4You.MarketingAutomation.CustomerReminder.Level.Add")
            }
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    @Html.ValidationSummary(false)

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-xs-9">
                                <div class="col-md-3 col-sm-3">
                                    @Html.NopLabelFor(model => model.Name)
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    @Html.NopEditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group col-xs-3">
                                <div class="col-md-3 col-sm-3">
                                    @Html.NopLabelFor(model => model.Level)
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    @Html.NopEditorFor(model => model.Level)
                                    @Html.ValidationMessageFor(model => model.Level)
                                </div>
                            </div>
                        </div>
                        <hr class="featurette-divider" />
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-3 col-sm-3">
                                    @Html.NopLabelFor(model => model.Day)
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    @Html.NopEditorFor(model => model.Day)
                                    @Html.ValidationMessageFor(model => model.Day)
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-3 col-sm-3">
                                    @Html.NopLabelFor(model => model.Hour)
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    @Html.NopEditorFor(model => model.Hour)
                                    @Html.ValidationMessageFor(model => model.Hour)
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-3 col-sm-3">
                                    @Html.NopLabelFor(model => model.Minutes)
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    @Html.NopEditorFor(model => model.Minutes)
                                    @Html.ValidationMessageFor(model => model.Minutes)
                                </div>
                            </div>
                        </div>
                        <hr class="featurette-divider" />

                        <div class="form-group">
                            <div class="col-md-3 col-sm-3">
                                @Html.NopLabelFor(model => model.AllowedTokens)
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <a id="allowedTokensShowHide" href="javascript:toggleLoadedAllowedTokens();">@T("Admin.Common.Show")</a>
                                <div id="pnlAllowedTokens" style="display: none">
                                    @Html.NopDisplayFor(model => model.AllowedTokens)
                                </div>
                            </div>
                        </div>
                        @(Html.LocalizedEditor<Nop4you.Plugin.MarketingAutomation.Models.CustomerReminderLevelModel, Nop4you.Plugin.MarketingAutomation.Models.CustomerReminderLevelLocalizedModel>("customerreminderlevel-localized",
                        @<div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.Locales[item].Subject)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.Locales[item].Subject)
                                    @Html.ValidationMessageFor(model => model.Locales[item].Subject)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.Locales[item].Body)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Locales[item].Body, "RichEditor")
                                    @Html.ValidationMessageFor(model => model.Locales[item].Body)
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.Locales[item].LanguageId)
                        </div>
                        ,
                        @<div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.Subject)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.Subject)
                                    @Html.ValidationMessageFor(model => model.Subject)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.Body)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Body, "RichEditor")
                                    @Html.ValidationMessageFor(model => model.Body)
                                </div>
                            </div>
                        </div>
                        ))
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.EmailAccountId)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownListFor(model => model.EmailAccountId, Model.EmailAccounts)
                                @Html.ValidationMessageFor(model => model.EmailAccountId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.BccEmailAddresses)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.BccEmailAddresses)
                                @Html.ValidationMessageFor(model => model.BccEmailAddresses)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}
