
/* loader */

.panel-loader-effect {
    overflow: hidden;
}
.panel-loader-effect .loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  margin-left: -60px;
  margin-top: -60px;
}
.panel-loader-effect .loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  -webkit-transform-origin: 60px 60px;
  -moz-transform-origin: 60px 60px;
  -o-transform-origin: 60px 60px;
  -ms-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
  -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  -webkit-animation: rotate 1.2s infinite linear;
  -moz-animation: rotate 1.2s infinite linear;
  -o-animation: rotate 1.2s infinite linear;
  animation: rotate 1.2s infinite linear;
}
.panel-loader-effect .loader-line-mask .loader-line {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
}

/* confirm order loader */

.panel-loader-effect.confirm-order-loader .loader-circle,
.panel-loader-effect.confirm-order-loader .loader-line-mask {
    top: 270px;
}



/* end loader*/



.ropc-page.page.checkout-page .page-title {
    margin: 0;
}
.ropc-page .page-body {
    margin: 30px 0 0;
}



.ropc-page.checkout-page .section {
    margin: 20px 0 0;
    border: 1px solid #ececec;
    border-radius: 2px;
    padding: 0;
}
    .ropc-page.checkout-page .section:after {
        content:'';
        display: block;
        clear: both;
    }
.ropc-page .section .title {
    padding: 15px;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    background: #f8f8f8;
    color: #6f6f6f;
    text-align: center;
}
.ropc-page .section-body {
    padding: 25px;
}
.ropc-page .form-fields {
    background: none;
    border: 0;
    padding: 0;
}
.ropc-page .message-error {
    display: block;
    margin: 5px 0 0;
    font-size: 12px;
    text-align: center;
}
.ropc-page .inputs span.ng-binding {
	display: block;
	margin: 5px 0 0;
    font-size: 12px;
    color: #c00;
}

.ropc-page .choose-address {
    margin: 0 0 30px;
}
.ropc-page .choose-address select {
}
.ropc-page .pickup-in-store .options {
	margin: 0 0 10px;
}
.ropc-page .estimate-shipping .hint {
    text-align: center;
    display: block;
    font-size: 15px;
    color: #6f6f6f;
    font-style: italic;
    margin: -25px -25px 25px;
    background: #f8f8f8;
    border-top: 1px solid #ececec;
    padding: 14px;
}
.ropc-page .estimate-shipping .buttons {
    margin: 30px 0 0;
}
.ropc-page .estimate-shipping button {

}
.ropc-page .estimate-shipping button[disabled] {
    opacity: 0.5;
    cursor: default;
}
.ropc-page .shipping-results {
    margin: 30px 0 0;
    text-align: left;
}
.ropc-page .options.ship-to-same-address {
    margin: 50px -25px -25px;
    padding: 25px;
    background: #f8f8f8;
    text-align: left;
}

.ropc-page .shipping-address-panel .pickup-points {
    margin-top: 20px;
}
.ropc-page .shipping-address-panel .pickup-points-map {
    max-width: 100%;
    margin: 10px auto;
}

.ropc-page .shipping-method .method-list,
.ropc-page .payment-method .method-list {
	text-align: left;
}
.ropc-page .shipping-method .method-list li,
.ropc-page .payment-method .method-list li {
	margin: 20px 0 0;
}
.ropc-page .shipping-method .method-list li:first-child,
.ropc-page .payment-method .method-list li:first-child {
	margin: 0;
}
.ropc-page .payment-method .use-reward-points {
}
.ropc-page .payment-method .method-list {
    border-bottom: 1px solid #ececec;
    padding: 0 0 30px;
}
.ropc-page .payment-method .payment-details {
    min-width: 0;
}
.ropc-page.checkout-page .payment-info {
    padding: 0;
    border: 0;
    max-width: none;
    margin: 30px 0 0;
}
.ropc-page .payment-info .info {
    padding: 0;
}
.ropc-page .payment-info .info p {
	text-align: left;
}

.ropc-page .section-body.checkout-attributes-wrap.attributes {
    margin: 0;
    background: none;
}
.ropc-page .attribute-list .attribute-item {
    text-align: left;
}
.ropc-page .attribute-list .hidden {
    display: none;
}
.ropc-page .attributes .select-wrap {
    margin: 7px 0 0;
}
.ropc-page .option-list > li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.ropc-page .coupon-box-panel .section:after,
.ropc-page .giftcard-box-panel .section:after,
.ropc-page .payment-method-panel .section:after {
    content: '';
    display: block;
    clear: both;
}

.ropc-page .coupon-box-panel .hint, 
.ropc-page .giftcard-box-panel .hint {
    text-align: center;
    display: block;
    font-size: 15px;
    color: #6f6f6f;
    font-style: italic;
    margin: -25px -25px 25px;
    background: #f8f8f8;
    border-top: 1px solid #ececec;
    padding: 14px;
}
.ropc-page .coupon-code {
    margin: 10px 0 0;
}
.ropc-page .coupon-code input[type="text"] {
    display: block;
    width: 100%;
}
.ropc-page .coupon-code button {
    display: block;
    width: 100%;
    margin: 5px 0 0;
    padding: 15px;
}

.ropc-page .coupon-box-panel .message,
.ropc-page .giftcard-box-panel .message {
    margin: 10px 0 0;
	color: #e15c66;
}
    .ropc-page .coupon-box-panel .message.success,
    .ropc-page .giftcard-box-panel .message.success {
        color: #91c16b;
    }
.ropc-page .coupon-box-panel .current-code {
    margin: 10px 0 0;
}
.ropc-page .coupon-box-panel .current-code span {
    display: inline-block;
    vertical-align: middle;
}
.ropc-page .coupon-box-panel .current-code button,
.ropc-page .total-info .cart-total button {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 0;
    background: url('delete.png') no-repeat center;
    vertical-align: middle;
    font-size: 0;
    overflow: hidden;
    margin-left: 3px;
}

.ropc-page .totals {
    max-width: 490px;
    margin: 30px auto 20px;
    padding: 30px;
    background: #f8f8f8;
    position:relative;
}
    .ropc-page .totals .panel-loader-effect {
        background: #f8f8f8;
    }
.ropc-page .complete-order-panel button {
    width: 100%;
} 
.ropc-page .total-info .cart-total button {
	position: relative;
    z-index: 1;
    margin-right: -10px;
}
.ropc-page .order-confirm {
    color: #e15c66;
    margin: 30px 0 0;
}
.ropc-page .order-confirm .error-list {
    margin-bottom: 20px;
}
.ropc-page .panel.order-totals-panel {
    position: static;
}
.ropc-page .panel.complete-order-panel {
    margin-top: 30px;
}

.ropc .addon-buttons {
    margin-top: 20px;
    text-align: center;
}

.ropc .addon-buttons > * {
    margin: 0 5px 5px;
}


/* table */


.cart .sku {
	display: none;
}

@media all and (max-width: 1365px) {

.ropc-page thead {
    display: none;
}
.ropc-page .cart {
}
.ropc-page .cart tr {
    display: block;
	width: 100%;
	margin: 20px 0 0;
    border: 1px solid #ececec !important;
}
    .ropc-page .cart tr:first-child {
        margin-top: 0;
    }
.ropc-page .cart td {
    display: block;
    border: 0 !important;
    border-top: 1px solid #ececec !important;
}
    .ropc-page .cart td:first-child {
        border-top: 0 !important;
    }

}

.ropc-page .cart td.product {
    text-align: center;
}
.ropc-page .cart td.quantity label {
	display: none;
}
.ropc-page .cart td.quantity input {
    font-size: 13px;
}
.ropc-page .cart .remove-from-cart {
	margin: 0 0 -1px !important;
}
.ropc-page .cart .remove-from-cart button {
	display: block;
	margin: auto;
	cursor: pointer;
    border: none;
    background: none;
}

@media all and (min-width: 401px) and (max-width: 1365px) {

    .ropc-page .cart td.remove-from-cart,
    .ropc-page .cart td.sku {
        float: left;
        width: 50%;
        border-top: 0 !important;
        margin: 0 !important;
    }
    .ropc-page .cart td.sku {
        border-left: 1px solid #ececec !important;
        height: 57px;
    }
    .ropc-page .cart td.product {
        clear: both;
    }

}

@media all and (min-width: 481px) and (max-width: 1365px) {
    
    .ropc-page .cart td.unit-price {
        float: left;
        width: 50%;
        height: 88px;
        vertical-align: middle;
        padding: 32px 10px;
    }
    .ropc-page .cart td.quantity {
        float: left;
        width: 50%;
        padding: 20px 10px;
        border-left: 1px solid #ececec !important;
    }
    .ropc-page .cart td.subtotal {
        clear: both;
    }

}

@media all and (max-width: 768px) {

    .ropc-page .section-body {
        display: none;
    }
    .ropc-page .panel-group {
        max-width: 540px;
        margin: auto;
    }

}

@media all and (min-width: 769px) {

    .ropc-page.checkout-page .panel-group-left .panel:first-child .section,
    .ropc-page.checkout-page .panel-group-right-top .panel:first-child .section {
        margin-top: 0;
    }
    .ropc-page .section-body {
        display: block !important;
    }
    .ropc-page .ropc .coupon-box-panel,
    .ropc-page .ropc .giftcard-box-panel {
        float: none;
        width: auto;
    }

}

@media all and (min-width: 1001px) and (max-width: 1365px), (min-width: 1600px) {

    .ropc-page .coupon-code {
        overflow: hidden;
    }
    .ropc-page .coupon-code input[type="text"] {
        width: calc(100% - 185px);
        float: left;
    }
    .ropc-page .coupon-code button {
        float: right;
        width: 180px;
        margin: 0;
    }

}

/* MOBILE ONLY */



/* DESKTOP ONLY */

.desktop .ropc-page .section .title {
    cursor: default;
}
.desktop .ropc-page .section-body {
    display: block;
}
.desktop .ropc-page .section {
    max-width: none !important;
}

.desktop .ropc-page .panel-group-left {
    width: 37%;
}
.desktop .ropc-page .panel-group-right-top, 
.desktop .ropc-page .panel-group-right-middle, 
.desktop .ropc-page .panel-group-right-bottom {
    width: 61%;
}



@media all and (min-width: 1366px) {

    .desktop .ropc-page .panel-group-left {
        width: 32.5%;
    }
    .desktop .ropc-page .panel-group-right-top, 
    .desktop .ropc-page .panel-group-right-middle, 
    .desktop .ropc-page .panel-group-right-bottom {
        width: 65.5%;
    }

    .desktop .ropc-page .section-body {
        padding: 45px;
    }
    .desktop .ropc-page .order-summary-content .section-body {
        padding: 0;
    }
    .desktop .ropc-page .shipping-method .method-list li,
    .desktop .ropc-page .payment-method .method-list li {
        margin-top: 35px;
    }
        .desktop .ropc-page .shipping-method .method-list li:first-child,
        .desktop .ropc-page .payment-method .method-list li:first-child {
            margin-top: 0;
        }
    .desktop .ropc-page .coupon-box-panel .hint, 
    .desktop .ropc-page .giftcard-box-panel .hint,
    .desktop .ropc-page .estimate-shipping .hint {
        margin: -45px -45px 45px;
    }
    .desktop .ropc-page .options.ship-to-same-address {
        margin: 50px -45px -45px;
    }

    .desktop .ropc-page .cart .td-title {
        display: none;
    }
    .desktop .ropc-page .cart th {
        background: #f8f8f8;
        border: 0;
        border-top: 1px solid #ececec !important;
    }
    .desktop .ropc-page .cart td:first-child,
    .desktop .ropc-page .cart td:last-child {
        border-left: 0 !important;
        border-right: 0 !important;
    }
    .desktop .ropc-page .cart tbody tr:last-child td {
        border-bottom: 0 !important;
    }
    .desktop .ropc-page .cart img {
        vertical-align: middle;
    }
    .desktop .ropc-page .cart .details {
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 120px);
        text-align: left;
    }
    .desktop .ropc-page .cart .qty-wrap {
        width: 130px;
    }

}

@media all and (min-width: 1366px) and (max-width: 1599px) {

    .desktop .ropc-page .cart th {
        font-size: 11px;
        padding: 14px 7px;
    }
    .desktop .ropc-page .cart td {
        font-size: 13px;
        padding: 15px 7px;
    }

    .desktop .ropc-page .cart img {
        width: 50px;
    }
    .desktop .ropc-page .cart .details {
        width: calc(100% - 70px);
    }
    .desktop .ropc-page .cart .product-name {
        font-size: 13px;
    }
    .desktop .ropc-page .cart .attributes {
        font-size: 13px;
    }

}

@media all and (min-width: 1366px) {

    .desktop .ropc-page .ropc .coupon-box-panel {
        float: left;
        width: 49%;
        margin: 0 0 30px;
    }
    .desktop .ropc-page .ropc .giftcard-box-panel {
        float: right;
        width: 49%;
        margin: 0 0 30px;
    }
    .desktop .ropc-page .attributes-panel {
        clear: both;
    }

    .ropc-page .totals {
        float: right;
        padding: 60px;
    }

}