﻿@{
    Layout = "";
}
@model Nop.Plugin.DiscountRules.CartValue.Models.RequirementModel
@using Nop.Web.Framework;

<script type="text/javascript">
    $(document).ready(function () {
        $('#saveCartValuerequirement@(Model.RequirementId)').click(function () {
            var CartValue = $("#@Html.FieldIdFor(model => model.CartValue)").val();
            var cartValueEnd = $("#@Html.FieldIdFor(model => model.CartValueEnd)").val();
            var myOperator = $("#@Html.FieldIdFor(model => model.myOperator)").val();
            var discountId = @Model.DiscountId;
            var requirementId = @Model.RequirementId;

            var postData = {
                discountId: discountId,
                discountRequirementId: requirementId,
                cartValue: CartValue,
                myOperator: myOperator,
                cartValueEnd: cartValueEnd
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache:false,
                type: "POST",
                url: "@(Url.Action("Configure", "DiscountRulesCartValue"))",
                data: postData,
                success: function (data) {
                    $('#pnl-save-requirement-result@(Model.RequirementId)').fadeIn("slow").delay(1000).fadeOut("slow");
                    //notify parent if it's a new requirement
                    @if (Model.RequirementId == 0)
                    {
                        <text>$("#discountRequirementContainer").trigger('nopnewdiscountruleadded', [data.NewRequirementId]);</text>
                    }
                },
                error:function (xhr, ajaxOptions, thrownError){
                    alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Admin.Promotions.Discounts.Requirements.FailedToSave").Text))');
                }
            });
        });
    });
</script>

<div class="form-group">
    <div class="col-md-3">
        @Html.NopLabelFor(model => model.CartValue)
    </div>
    <div class="col-md-9">
        @Html.NopEditorFor(model => model.CartValue)
    </div>
</div>
<div id="thisIsY" class="form-group" style='@((Model.myOperator.Length>1 && "BET,BETL,BETR,BETB".Contains(Model.myOperator)) ? "" : "display:none")'>
    <div class="col-md-3">
        @Html.NopLabelFor(model => model.CartValueEnd)
    </div>
    <div class="col-md-9">
        @Html.NopEditorFor(model => model.CartValueEnd)
    </div>
</div>
<div class="form-group">
    <div class="col-md-3">
        @Html.NopLabelFor(model => model.myOperator)
    </div>
    <div class="col-md-9">
        <div>
            <select onchange="checkBetween(this)" autocomplete="off" id="DiscountRulesCartValue@(Model.RequirementId)_myOperator" class="form-control" name="DiscountRulesCartValue@(Model.RequirementId).myOperator">
                <option value="EQ">Cart value = X</option>
                <option value="LT">Cart value less than &lt; X</option>
                <option value="GT">Cart value greater than &gt; X</option>
                <option value="LTE">Cart value less than or equal to &lt;= X</option>
                <option value="GTE">Cart value greater than or equal to &gt;= X</option>
                <option value="BET">Between: X < Cart value < Y</option>
                <option value="BETL">Between: X <= Cart value < Y</option>
                <option value="BETR">Between: X < Cart value <= Y</option>
                <option value="BETB">Between: X <= Cart value <= Y</option>
            </select>

            <script>
                jQuery(function($) {
                    $('#DiscountRulesCartValue@(Model.RequirementId)_myOperator').val("@Model.myOperator");                    
                });

                var $ = jQuery.noConflict();
                function checkBetween(that) {
                    if("BET,BETL,BETR,BETB".indexOf($(that).val())>=0) {
                        $("#thisIsY").show();
                    } else {
                        $("#thisIsY").hide();
                    }
                }

            </script>
        </div>
    </div>
</div>
</div>
<div class="form-group">
    <div class="col-md-3">
        <div id="pnl-save-requirement-result@(Model.RequirementId)" style="display: none; margin-top: 10px;" class="text-green pull-right">
            @T("Admin.Promotions.Discounts.Requirements.Saved")
        </div>
    </div>
    <div class="col-md-9">
        <input type="button" id="saveCartValuerequirement@(Model.RequirementId)" class="btn btn-primary" value="@T("Admin.Common.Save")" />
    </div>
</div>