﻿<div>

    <table width="300">
        <tbody>
            <tr>
                <td colspan="2" class="adminTitle">
                    <p>
                        <strong>Logging and low level configuration</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <i class="fa fa-info"></i>
                    <label title="Logs general messages about sync operations.">Info</label>
                </td>
                <td class="adminData">
                    <input class="check-box" type="checkbox" ng-model="settings.LogInfo">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <i class="fa fa-align-justify"></i>
                    <label title="Logs all Info, Warning and Error messages as well as low level logging including outbound connections. Will consume more CPU and I/O, use for troubleshooting purposes only.">Verbose</label>
                </td>
                <td class="adminData">
                    <input class="check-box" type="checkbox" ng-model="settings.LogVerbose">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <i class="fa fa-exclamation-triangle"></i>
                    <label title="Log when a customer fails validation and was not uploaded to Campaign Monitor.">Warnings</label>
                </td>
                <td class="adminData">
                    <input class="check-box" type="checkbox" ng-model="settings.LogWarnings">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <i class="fa fa-fire"></i>
                    <label title="Log all errors which prevent this plugin from functioning.">Errors</label>
                </td>
                <td class="adminData">
                    <input class="check-box" type="checkbox" ng-model="settings.LogErrors">
                </td>
            </tr>
        </tbody>
    </table>

    <input type="button" name="savesettings" class="k-button" value="Save Settings" ng-click="saveSettings()">
</div>