<img style="display: none" src="../../Content/tinymce/skins/lightgray/img/loader.gif" />

<style>
    .fielderror {
        background-color: #FFECEC !important;
    }
</style>

<table role="grid">
    <colgroup>
        <col style="width:200px">
        <col style="width:200px">
        <col style="width:200px">
        <col style="width:200px">
        <col style="width:200px">
        <col style="width:200px">
    </colgroup>
    <thead class="k-grid-header" role="rowgroup">
        <tr role="row">
            <th role="columnheader" data-field="CustomerRoles" data-title="Customer Roles" class="k-header">
                Customer
                Roles
            </th>
            <th role="columnheader" data-field="RoleCompareType" data-title="Role Comparison Strategy" class="k-header">
                Role Comparison Strategy
            </th>
            <th role="columnheader" data-field="RoleCompareType" data-title="Purchase History" class="k-header">
                Purchase History
            </th>
            <th role="columnheader" data-field="ClientName" data-title="Campaign Monitor Client" class="k-header">
                Campaign Monitor Client
            </th>
            <th role="columnheader" data-field="ClientListName" data-title="Client List" class="k-header">
                Client List
            </th>
            <th class="k-header">&nbsp;</th>
        </tr>
    </thead>
    <tbody role="rowgroup">
        <tr>
            <td ng-if="loading" colspan="5" style="text-align: center"><img src="../../Content/tinymce/skins/lightgray/img/loader.gif" /></td>
        </tr>

        <tr ng-repeat="rule in model.rules" ng-class="{'altrowstyle': rule.editable}" ng-class-even="rule.editable ? '' : 'k-alt'">
            <td role="gridcell">
                <roles></roles>
            </td>
            <td role="gridcell">
                <p ng-show="!rule.editable">{{rule.roleCompare}}</p>
                <select ng-show="rule.editable" ng-model="rule.roleCompare">
                    <option value="Or">Or</option>
                    <option value="And">And</option>
                </select>
            </td>
            <td role="gridcell">
                <p ng-show="!rule.editable">{{rule.hasPlacedOrder.Name}}</p>
                <select ng-show="rule.editable"
                        ng-model="rule.hasPlacedOrder"
                        ng-class="{'fielderror' : !rule.hasPlacedOrder }"
                        ng-required="Required"
                        ng-options="option.Name for option in model.previousPurchaseOptions track by option.Value"></select>
            </td>
            <td role="gridcell">
                <p ng-show="!rule.editable">{{rule.selectedClient.Name}}</p>
                <select ng-show="rule.editable"
                        ng-options="option.Name for option in model.clients track by option.Value"
                        ng-model="rule.selectedClient"
                        ng-class="{'fielderror' : !rule.selectedClient }"
                        ng-change="getListForClient(rule)"
                        ng-required="Required" />
            </td>
            <td role="gridcell">
                <p ng-show="!rule.editable">{{rule.selectedList.Name}}</p>
                <select ng-show="rule.editable && rule.selectedClient"
                        ng-required="Required"
                        ng-class="{'fielderror' : !rule.selectedList }"
                        ng-options="option.Name for option in rule.clientLists track by option.Value"
                        ng-model="rule.selectedList" />

            </td>
            <td role="gridcell" style="text-align: center">
                <a class="k-button k-button-icontext k-grid-delete btn bg-green" href="#" ng-click="deleteRule(rule)" ng-show="!rule.editable">
                    <span class="k-icon k-delete"></span>Delete
                </a>
                <a class="k-button k-button-icontext k-grid-delete btn bg-green" href="#" ng-click="saveRule(rule)" ng-show="rule.editable && rule.selectedRoles.length && rule.selectedClient && rule.selectedList && rule.hasPlacedOrder">
                    <span class="k-icon k-delete"></span>Save
                </a>
                <a class="k-button k-button-icontext k-grid-delete btn bg-green" href="#" ng-click="deleteRule(rule, $index)" ng-show="rule.editable">
                    <span class="k-icon k-delete"></span>Cancel
                </a>
            </td>
        </tr>
    </tbody>
</table>