﻿<div class="section coupon-box" ng-controller="DiscountBoxController as vm" ng-hide="!vm.config['showDiscountBox']">

    @Html.Partial("_AjaxLoader", "discount-box-loader")

    <div class="section-title title">
        <strong>@T("ShoppingCart.DiscountCouponCode")</strong>
    </div>

    <div class="section-body">
        <div class="hint">
            @T("ShoppingCart.DiscountCouponCode.Tooltip")
        </div>
        <div class="coupon-code">
            <input ng-model="vm.discountBoxData.discountCouponCode" ng-model-options="{ updateOn: 'blur' }" name="discountCouponCode" type="text" class="discount-coupon-code" />
            <button class="button-2" type="button" ng-click="vm.discountBoxData.applyDiscountCode = true">@T("ShoppingCart.DiscountCouponCode.Button")</button>
        </div>

        <div class="message" ng-class="vm.discountBoxData.isApplied ? 'success' : 'error'" ng-show="vm.discountBoxData.message">{{vm.discountBoxData.message}}</div>

        <div class="current-code" ng-show="vm.discountBoxData.currentCode">
            <span>{{vm.stringFormat('@T("ShoppingCart.DiscountCouponCode.CurrentCode")', vm.discountBoxData.currentCode) }}</span>
            <button type="button" ng-confirm-message="@T("Common.AreYouSure")" ng-confirm-click="vm.discountBoxData.removeDiscountCode = true">@T("Common.Remove")</button>
        </div>
    </div>
</div>