/*
* Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.gallery .picture-thumbs {
    overflow: visible;
    text-align: center;
}
.slick-vertical .slick-slide {
    height: 150px;
    border: 1px solid #ccc;
    margin: 0 0 1px;

}
.two-columns .slick-vertical .slick-slide {
    height: 113px;
}
@media all and (min-width: 1281px) {
.two-columns .slick-vertical .slick-slide {
    height: 110px;
}
}

/* arrows nav */

.picture-thumbs .slick-prev,
.picture-thumbs .slick-next {
    position: absolute;
    left: 50%;
    width: 33px;
    height: 15px;
    margin-left: -17px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 0;
    border: 0;
    background-color: transparent;
}
.picture-thumbs .slick-prev {
    top: -30px;
    background-image: url('images/prev-vertical.png');
}
.picture-thumbs .slick-next {
    bottom: -30px;
    background-image: url('images/next-vertical.png');
}
.picture-thumbs .slick-prev.slick-disabled,
.picture-thumbs .slick-next.slick-disabled {
    opacity: 0.6;
    cursor: default;
}

/* dots nav */

.slick-dots {
    margin-top: 15px;
}
.slick-dots button {
    background: #333;
    opacity: .4;
    font-size: 0;
    width: 6px;
    height: 6px;
    border: none;
}
.slick-dots li {
    display: inline-block;
    margin: 0 3px;
}
.slick-dots .slick-active button {
    opacity: 1;
    width: 8px;
    height: 8px;
}

/* items */

.picture-thumbs a.cloudzoom-gallery {
    display: block !important;
    margin: 0 !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
}