﻿@model List<ExternalAuthenticationMethodModel>
@using Nop.Web.Models.Customer;
@if (Model.Any())
{
    <div class="title">@T("Account.AssociatedExternalAuth.Or")</div>
}
@foreach (var eam in Model)
{
    @Html.Action(eam.ActionName, eam.ControllerName, eam.RouteValues)
}
<!--Start Google Analytics-->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100731918-1', 'auto');
    ga('send', 'pageview');

</script>
<!--End Google Analytics--> 
