
.section {
	margin: 0 !important;
}
.section .title {
	max-width: 500px;
    margin: 0 auto 2px;
	background: #f6f6f6 url('toggle.png') no-repeat right center;
	padding: 10px 15px;
	text-align: left;
	font-size: 20px;
	cursor: pointer;
}
.section-body {
	display: none;
	margin: -2px 0 0;
    border-top: 1px solid #e6e6e6;
    padding: 30px 20px;
}
.form-fields {
    background: none;
    border: 0;
    padding: 0;
}
.inputs span.ng-binding {
	display: block;
	margin: 5px 0 0;
    font-size: 12px;
    color: #c00;
}

.choose-address {
    margin: 0 0 30px;
}
.choose-address select {
	width: 400px;
    max-width: 100%;
    height: 36px;
}
.ship-to-same-address {
	padding: 5px 0 0 !important;
}
.pickup-in-store .options {
	margin: 0 0 10px;
	color: #444;
}
.ropc .pickup-points {
	margin: 10px 0 0;
}
.ropc .pickup-points-map {
	width: 100% !important;
	height: 300px !important;
	min-width: 0;
	min-height: 0;
	margin: 20px 0 0;
}
.estimate-shipping .hint {
    margin: 0 0 10px;
}
.estimate-shipping .buttons {
    margin: 20px 0 0;
}
.estimate-shipping button {
    border: 0;
    background-color: #aaa;
	padding: 10px 15px;
	font-size: 14px;
	letter-spacing: 0.5px;
    color: #fff;
	text-transform: uppercase;
}
.estimate-shipping button[disabled] {
    opacity: 0.5;
    cursor: default;
}
.shipping-results {
    margin: 30px 0 0;
    text-align: left;
    line-height: 22px;
}

.shipping-method .method-list,
.payment-method .method-list {
	max-width: 470px;
    margin: auto;
	text-align: left;
}
.shipping-method .method-list li,
.payment-method .method-list li {
	margin: 20px 0 0;
}
.shipping-method .method-list li:first-child,
.payment-method .method-list li:first-child {
	margin: 0;
}
.payment-method .use-reward-points {
	max-width: 470px;
    margin: 0 auto 30px;
	text-align: left;
}
.payment-method .method-list {
	border-bottom: 1px solid #ddd;
	padding: 0 0 20px;
}
.payment-method .payment-details {
    min-width: 0;
}
.payment-info {
	max-width: 470px;
    margin: 30px auto 0;
	text-align: left;
}
.payment-info .info {
    padding: 0;
}
.payment-info .info p {
	text-align: left;
}
.payment-description {
    margin: 3px 0 0;
}

.cart {
	margin: 0 0 -30px;
}
.cart tr {
	width: 100%;
	margin: 0 0 30px;
}
.cart .sku {
	display: none;
}
.cart td.quantity label {
	display: none;
}
.cart td.quantity input {
    height: 36px;
}
.cart .remove-from-cart {
	margin: 0 0 -1px !important;
}
.cart .remove-from-cart button {
	display: block;
	margin: auto;
	cursor: pointer;
    border: none;
}
.cart .subtotal .discount,
.cart .subtotal .discount-additional-info {
    margin: 5px 0 0;
    white-space: normal;
    font-style: normal
}

.attribute-list > li {
    border: 0;
    display: block;
    padding: 0;
    margin: 0 0 10px;
}
.attribute-list .hidden {
    display: none;
}

.coupon-box-panel .hint,
.giftcard-box-panel .hint {
    margin: 0 0 10px;
}
.coupon-box-panel .coupon-code,
.giftcard-box-panel .coupon-code {
    display: inline-block;
}
.coupon-box-panel input[type="text"],
.giftcard-box-panel input[type="text"] {
    float: left;
	width: 100%;
    height: 40px;
}
.coupon-box-panel .coupon-code button,
.giftcard-box-panel .coupon-code button {
    float: left;
	width: 100%;
	height: 40px;
    border: 0;
    background-color: #aaa;
	padding: 10px 15px;
	font-size: 14px;
	letter-spacing: 0.5px;
    color: #fff;
	text-transform: uppercase;
}
.coupon-box-panel .message,
.giftcard-box-panel .message {
    margin: 5px 0 0;
    color: #c00;
    font-size: 12px;
}
.coupon-box-panel .current-code {
    margin: 5px 0 0;
}
.coupon-box-panel .current-code span {
    display: inline-block;
    vertical-align: middle;
}
.coupon-box-panel .current-code button,
.total-info .cart-total button {
	display: inline-block;
    width: 16px;
    height: 16px;
	border: 0;
    background: url('delete.png') no-repeat center;
	vertical-align: middle;
    font-size: 0;
}

.order-totals-panel {
	width: 370px;
    max-width: 100%;
    margin: 30px auto 20px;
}
.checkout-page .total-info {
    background-color: #f9f9f9;
    padding: 30px 20px;
    color: #444;
}
.total-info .cart-total button {
	position: relative;
    z-index: 1;
    margin-right: -10px;
    background-color: #f9f9f9;
}
.error-list {
    color: #c00;
    margin: 0 0 20px;
}
.complete-button button {
	min-width: 160px;
	border: 0;
    background: #4ab2f1;
	padding: 10px 20px;
    font-size: 16px;
	letter-spacing: 0.5px;
    color: #fff;
    text-transform: uppercase;
}


@media all and (min-width: 481px) {
	
.coupon-box-panel input[type="text"],
.giftcard-box-panel input[type="text"] {
	width: 240px;
}
.coupon-box-panel .coupon-code button,
.giftcard-box-panel .coupon-code button {
	width: auto;
}

}

@media all and (min-width: 769px) {

.section {
	margin: 0 0 30px !important;
}
.section .title {
	margin: 0 0 10px;
	background-color: #fff;
	background-image: none;
	padding: 0;
}
.section-body {
	display: block !important;
	background-color: #f9f9f9;
}	
.shipping-method .method-list, 
.payment-method .method-list,
.payment-info {
	max-width: none;
}
.shipping-method .method-list li, 
.payment-method .method-list li {
	display: block;
	width: auto;
}
.shipping-method .method-name, 
.payment-method .payment-logo {
	background-color: transparent;
	padding: 0;
}
.payment-method .payment-logo,
.payment-method .payment-details {
	display: inline-block;
	margin: 0 10px 0 0;
	vertical-align: middle;
    text-align: left;
}
.payment-method .use-reward-points {
	max-width: none;
}
.order-summary-content .section-body {
	border: none;
	background-color: transparent;
	padding: 0;
}
.checkout-attributes li *:first-child {
	margin-left: 0 !important;
}
.checkout-attributes .attribute-list > li {
	background-color: transparent;
}
.selected-checkout-attributes {
	float: none;
	text-align: center;
}
.coupon-box-panel input[type="text"], 
.giftcard-box-panel input[type="text"],
.coupon-box-panel .coupon-code button, 
.giftcard-box-panel .coupon-code button {
	width: 100%;
}

}

@media all and (min-width: 1001px) {

.inputs label {
	display: block;
	text-align: left;
	margin: 0 0 5px;
	width: auto;
}
.ship-to-same-address {
	text-align: left !important;
}
.cart {
	margin: 0 0 30px;
}
.cart td {
	padding: 10px;
}
.td-title {
	display: none !important;
}
.cart .product {
	min-width: 165px;
}
.remove-product {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('delete.png') no-repeat center;
	line-height: 24px;
	font-size: 0;
	cursor: pointer;
}
.checkout-page .selected-checkout-attributes {
	text-align: right !important;
}
.payment-info .info tr {
	text-align: left;
}
.payment-info .info td:first-child {
	width: 100% !important;
	text-align: left !important;
	margin: 0 0 10px !important;
}
.order-totals-panel {
	float: right;
	width: 305px;
	text-align: right;
}
.terms-of-service {
	padding: 0 !important;
}
.order-confirm,
.terms-of-service,
.complete-button {
	clear: both;
	text-align: right !important;
}

.addon-buttons {
    text-align: right;
}

.addon-buttons > * {
     margin: 0 0 5px 5px;
}

.pickup-in-store .section-body {
    text-align: left;
}

}

@media all and (min-width: 1367px) {

.cart td {
	padding: 20px;
}
/*.cart .sku {
	display: table-cell;
}*/
.coupon-box-panel input[type="text"], 
.giftcard-box-panel input[type="text"], 
.coupon-box-panel .coupon-code button, 
.giftcard-box-panel .coupon-code button {
	width: auto;
}
.order-totals-panel {
	width: 370px;
}

}