﻿@model AddressModel
@using Nop.Web.Models.Common;
@using Nop.Web.Framework;
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
<script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
</script>
}
@Html.HiddenFor(model => model.Id)
<div class="edit-address">
    <div class="inputs">
        @Html.LabelFor(model => model.FirstName, new { }, ":")
        @Html.EditorFor(model => model.FirstName)
        @Html.RequiredHint()
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="inputs">
        @Html.LabelFor(model => model.LastName, new { }, ":")
        @Html.EditorFor(model => model.LastName)
        @Html.RequiredHint()
        @Html.ValidationMessageFor(model => model.LastName)

    </div>
    <div class="inputs">
        @Html.LabelFor(model => model.Email, new { }, ":")
        @Html.EditorFor(model => model.Email)
        @Html.RequiredHint()
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    @if (Model.CompanyEnabled)
    {
    <div class="inputs">
        @Html.LabelFor(model => model.Company, new { }, ":")
        @Html.EditorFor(model => model.Company)
        @if (Model.CompanyRequired)
        {
        @Html.RequiredHint()
        }
        @Html.ValidationMessageFor(model => model.Company)
    </div>
    }
    @if (Model.CountryEnabled)
    {
    <div class="inputs">
        @Html.LabelFor(model => model.CountryId, new { }, ":")
        @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries)
        @Html.RequiredHint()
        @Html.ValidationMessageFor(model => model.CountryId)
    </div>
    }

    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
    <div class="inputs">
        @Html.LabelFor(model => model.StateProvinceId, new { }, ":")
        @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates)
        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
        @Html.ValidationMessageFor(model => model.StateProvinceId)
    </div>
    }
    @if (Model.ZipPostalCodeEnabled)
    {
    <div class="inputs">
        @Html.LabelFor(model => model.ZipPostalCode, new { }, ":")
        @Html.EditorFor(model => model.ZipPostalCode)
        @if (Model.ZipPostalCodeRequired)
        {
        @Html.RequiredHint()
        }
        @Html.ValidationMessageFor(model => model.ZipPostalCode)
    </div>
    }

    @if (Model.StreetAddress2Enabled)
    {
    <div class="inputs">
        @Html.LabelFor(model => model.Address2, new { }, ":")
        @Html.EditorFor(model => model.Address2)
        @if (Model.StreetAddress2Required)
        {
        @Html.RequiredHint()
        }
        @Html.ValidationMessageFor(model => model.Address2)
    </div>
    }

    @if (Model.CityEnabled)
    {
    <div class="inputs">
        @Html.LabelFor(model => model.City, new { }, ":")
        @Html.EditorFor(model => model.City)

        @if (Model.CityRequired)
        {
        @Html.RequiredHint()
        }
        @Html.ValidationMessageFor(model => model.City)
    </div>
    }
    @if (Model.StreetAddressEnabled)
    {
    <div class="inputs">
        @Html.LabelFor(model => model.Address1, new { }, ":")
        @Html.EditorFor(model => model.Address1)
        @if (Model.StreetAddressRequired)
        {
        @Html.RequiredHint()
        }
        @Html.ValidationMessageFor(model => model.Address1)
    </div>
    }

    @if (Model.PhoneEnabled)
    {
    <div class="inputs">
        @Html.LabelFor(model => model.PhoneNumber, new { }, ":")
        @Html.EditorFor(model => model.PhoneNumber)
        @if (Model.PhoneRequired)
        {
        @Html.RequiredHint()
        }
        @Html.ValidationMessageFor(model => model.PhoneNumber)
    </div>
    }
    @if (Model.FaxEnabled)
    {
    <div class="inputs">
        @Html.LabelFor(model => model.FaxNumber, new { }, ":")
        @Html.EditorFor(model => model.FaxNumber)
        @if (Model.FaxRequired)
        {
        @Html.RequiredHint()
        }
        @Html.ValidationMessageFor(model => model.FaxNumber)
    </div>
    }
    @if (Model.CustomAddressAttributes.Count > 0)
    {
    @Html.Partial("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>
<style>
    .error {
        color: red;
    }

    .ok {
        color: green;
    }
</style>

<script type="text/javascript">
    var previous_address@(Html.FieldIdFor(model => model.Id)) = '';

    function toAddress@(Html.FieldIdFor(model => model.Id))() {
        if ($("#@Html.FieldIdFor(model => model.ZipPostalCode)").val().length == 0 || $("#@Html.FieldIdFor(model => model.Address2)").val() == 0 || $("#@Html.FieldIdFor(model => model.CountryId)").val() == 0)
            return '';

        return $("#@Html.FieldIdFor(model => model.ZipPostalCode)").val() + ":" + $("#@Html.FieldIdFor(model => model.Address2)").val() + ":" + $("#@Html.FieldIdFor(model => model.CountryId)").val();
    }

    function validateZipAndHouseNumber@(Html.FieldIdFor(model => model.Id))() {
        var next_address@(Html.FieldIdFor(model => model.Id)) = toAddress@(Html.FieldIdFor(model => model.Id))();

        if (previous_address@(Html.FieldIdFor(model => model.Id)) != next_address@(Html.FieldIdFor(model => model.Id))) {
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("Actopus.ZipCode.GetAddressByZipCodeAndHouseNumber", "ActopusZipCode"))",
                data: {
                    "zipCode": $("#@Html.FieldIdFor(model => model.ZipPostalCode)").val(),
                    "houseNumber": $("#@Html.FieldIdFor(model => model.Address2)").val()
                    @if (Model.CountryEnabled)
                            {
                                <text>
                                , "countryId": $("#@Html.FieldIdFor(model => model.CountryId)").val()
                    </text>
                            }
                },
                success: function (data) {

                    console.log(JSON.stringify(data.addresses));
                    if(data.addresses.length)
                    {
                        var address = data.addresses[0];
                        if (address.zipCode.length)
                            $("#@Html.FieldIdFor(model => model.ZipPostalCode)").val(address.zipCode);

                        @if (Model.StreetAddressEnabled)
                        {
                            <text>
                            if (address.publicPlace != null) {
                                $("#@Html.FieldIdFor(model => model.Address1)").val(address.publicPlace);
                            }
                            </text>
                        }

                        @if (Model.CityEnabled)
                        {
                            <text>
                            if (address.place != null)
                            {
                                $("#@Html.FieldIdFor(model => model.City)").val(address.place);
                            }
                            </text>
                        }

                        @if (Model.PhoneEnabled)
                        {
                            <text>

                            if (address.publicPlace != null && address.place != null) {
                                $("#@Html.FieldIdFor(model => model.PhoneNumber)").focus();
                            }
                            </text>
                        }
                        $("#@Html.FieldIdFor(model => model.ZipPostalCode)").removeClass("error");
                        $("#@Html.FieldIdFor(model => model.Address2)").removeClass("error");
                        $("#@Html.FieldIdFor(model => model.ZipPostalCode)").addClass("ok");
                        $("#@Html.FieldIdFor(model => model.Address2)").addClass("ok");
                    }
                    else
                    {
                        $("#@Html.FieldIdFor(model => model.ZipPostalCode)").removeClass("ok");
                        $("#@Html.FieldIdFor(model => model.Address2)").removeClass("ok");
                        $("#@Html.FieldIdFor(model => model.ZipPostalCode)").addClass("error");
                        $("#@Html.FieldIdFor(model => model.Address2)").addClass("error");
                    }
                    previous_address@(Html.FieldIdFor(model => model.Id)) = toAddress@(Html.FieldIdFor(model => model.Id))();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    /* alert('Failed to retrieve states.');
                     statesProgress.hide();*/
                }
            });
        }//if
    }

    $(function () {
        previous_address@(Html.FieldIdFor(model => model.Id)) = toAddress@(Html.FieldIdFor(model => model.Id))();

        $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
            validateZipAndHouseNumber@(Html.FieldIdFor(model => model.Id))();
        });
        $("#@Html.FieldIdFor(model => model.ZipPostalCode)").blur(function () {
            validateZipAndHouseNumber@(Html.FieldIdFor(model => model.Id))();
        });
        $("#@Html.FieldIdFor(model => model.Address2)").blur(function () {
            validateZipAndHouseNumber@(Html.FieldIdFor(model => model.Id))();
        });
    });
</script>