﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="BivoAppNOP.aspx.cs" Inherits="_Default" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<body>
    <form id="form1" runat="server" visible="true">
    <div>
         <asp:HiddenField ID="Fit" runat="server" Value="BIVOSHOP" />
         <asp:HiddenField ID="Email" runat="server" Value="1"  />
         <asp:HiddenField ID="FCup" runat="server" Value="1" />
         <asp:HiddenField ID="FArms" runat="server" Value="1" />
         <asp:HiddenField ID="FWaist" runat="server" Value="1" />
         <asp:HiddenField ID="FHips" runat="server" Value="1" />
   </div>
</form>
  </body>
</html>