﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BivoAppWC.aspx.cs" Inherits="women" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<link href="StyleSheet.css" rel="stylesheet" type="text/css"  style ="width: 100%; height: 100%" media="all" rev="Stylesheet" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
   
    <title></title>
    <style type="text/css">
        <style type="text/css">
        .style1
        {
            width: 110px;
        }
        .style2
        {
            width: 635px;
        }
        .style11
        {
            font-weight: bold;
        }

        .style12
        {
            width: 124px;
            font-size: 15px;
            font-weight: 600;
        }
        .style13
        {
            width: 124px;
        }

        .style14
        {
            font-weight: bold;
            width: 126px;
        }
        .style15
        {
            width: 126px;
            font-size: 15px;
            font-weight: 600;
        }

    </style>
</head>
<body>
     <form id="form1" runat="server" visible="true">
         <asp:HiddenField ID="Fit" runat="server" Value="10012W" />
         <asp:HiddenField ID="Email" runat="server" Value="1"  />
<div style="position: absolute; top: 400px; left: 350px;">  
  <img alt="" src="biosize.png" style="width: 100%;" />
</div>
    <div style="text-align: left">
        <img alt="" src="rightsize.png" style="width: 578px; height: 87px" /><br />
        &nbsp;<br /><b>
        <asp:LinkButton ID="LinkButton4" ForeColor="Black" runat="server" onclick="LinkButton4_Click"><img alt="size predictor men" src="images/men_icon.png" style="width:50px;height:50px;" /></asp:LinkButton>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img alt="size predictor men" src="images/women_icon.png" style="width:50px;height:50px; /></asp:LinkButton>
        <div style="text-align: left">
        <br /><br />
            <u><asp:LinkButton ID="LinkButton6" ForeColor="Black" runat="server" onclick="LinkButton3_Click">Imperial sizes to Metric sizes</asp:LinkButton></u></b><br />
      <table id="trMetric1" style="width:100%;">
            <tr>
                <td class="style12">My Height</td><td class="style2">
        <asp:DropDownList 
                        ID="DdlHeight1" runat="server" Width="100" CssClass="style11"></asp:DropDownList>
                <b>Cm</b></td></tr><tr>
                <td class="style12">My Weight</td><td class="style2">
                    <asp:DropDownList 
                        ID="DdlWeight1" runat="server" style="margin-left: 0px" Width="100" 
                        CssClass="style11"></asp:DropDownList>
                <b>Kg</b></td></tr><tr>
                <td class="style12">My Age</td><td class="style2">
                    <asp:DropDownList ID="DdlAge" 
                        runat="server" Width="100" CssClass="style11"></asp:DropDownList>
                <b>Years</b></td></tr><tr>
                <td class="style12">My Cup size</td><td class="style2">
        <asp:DropDownList 
                        ID="DdlCupsize11" runat="server" Width="100" CssClass="style11"><asp:ListItem Value="65(eu)/65(eu)" Text="65(eu)"></asp:ListItem><asp:ListItem Value="70(eu)/70(eu)" Text="70(eu)"></asp:ListItem><asp:ListItem Value="75(eu)/75(eu)" Text="75(eu)"></asp:ListItem><asp:ListItem Value="80(eu)/80(eu)" Text="80(eu)"></asp:ListItem><asp:ListItem Value="85(eu)/85(eu)" Text="85(eu)"></asp:ListItem><asp:ListItem Value="90(eu)/90(eu)" Text="90(eu)"></asp:ListItem><asp:ListItem Value="95(eu)/95(eu)" Text="95(eu)"></asp:ListItem><asp:ListItem Value="100(eu)/100(eu)" Text="100(eu)"></asp:ListItem><asp:ListItem Value="105(eu)/105(eu)" Text="105(eu)"></asp:ListItem><asp:ListItem Value="110(eu)/110(eu)" Text="110(eu)"></asp:ListItem><asp:ListItem Value="80(fr)/65(eu)" Text="80(fr)"></asp:ListItem><asp:ListItem Value="85(fr)/70(eu)" Text="85(fr)"></asp:ListItem><asp:ListItem Value="90(fr)/75(eu)" Text="90(fr)"></asp:ListItem><asp:ListItem Value="95(fr)/80(eu)" Text="95(fr)"></asp:ListItem><asp:ListItem Value="100(fr)/85(eu)" Text="100(fr)"></asp:ListItem><asp:ListItem Value="105(fr)/90(eu)" Text="105(fr)"></asp:ListItem><asp:ListItem Value="110(fr)/95(eu)" Text="110(fr)"></asp:ListItem><asp:ListItem Value="115(fr)/100(eu)" Text="115(fr)"></asp:ListItem><asp:ListItem Value="120(fr)/105(eu)" Text="120(fr)"></asp:ListItem><asp:ListItem Value="125(fr)/110(eu)" Text="125(fr)"></asp:ListItem></asp:DropDownList>&nbsp;<asp:DropDownList 
                        Width="70px" ID="DdlCupsize12" 
                        runat="server" AutoPostBack="True" CssClass="style11"><asp:ListItem Value="AA/1" Text="AA"></asp:ListItem><asp:ListItem Value="A/2" Text="A"></asp:ListItem><asp:ListItem Value="B/3" Text="B"></asp:ListItem><asp:ListItem Value="C/4" Text="C"></asp:ListItem><asp:ListItem Value="D/5" Text="D"></asp:ListItem><asp:ListItem Value="DD/E/6" Text="DD/E"></asp:ListItem><asp:ListItem Value="F/7" Text="F"></asp:ListItem><asp:ListItem Value="G/8" Text="G"></asp:ListItem></asp:DropDownList></td></tr></br>
            <td class="style13"><b>My BODY SHAPE :</b></td><tr>
                <td class="style12">My Arms</td><td class="style2">
        <asp:DropDownList ID="ddlArms" 
                        runat="server" Width="100" CssClass="style11" ><asp:ListItem  Value="1">S</asp:ListItem><asp:ListItem Value="2" Selected="True">M</asp:ListItem><asp:ListItem Value="3">L</asp:ListItem></asp:DropDownList></td></tr><tr>
                <td class="style12">My Waist</td><td class="style2">
        <asp:DropDownList ID="ddlWaist" 
                        runat="server" Width="100" CssClass="style11"><asp:ListItem  Value="1">XS</asp:ListItem><asp:ListItem  Value="2">S</asp:ListItem><asp:ListItem  Value="3" Selected="True">M</asp:ListItem><asp:ListItem  Value="4">L</asp:ListItem><asp:ListItem  Value="5">XL</asp:ListItem></asp:DropDownList></td></tr><tr>
                <td class="style12">My Hip</td><td class="style2">
        <asp:DropDownList ID="ddlHips" 
                        runat="server" Width="100" CssClass="style11"><asp:ListItem Value="1">XS</asp:ListItem><asp:ListItem Value="2">S</asp:ListItem><asp:ListItem Value="3" Selected="True">M</asp:ListItem><asp:ListItem Value="4">L</asp:ListItem><asp:ListItem Value="5">XL</asp:ListItem></asp:DropDownList></td></tr></table><br>
         <asp:Button ID="Button1" runat="server" ForeColor="Black"  BackColor="#FF6600"  style="text-align: center" 
        Text="FIND MY SIZE" onclick="Button1_Click" /></center> 
       </form>
  
    <form id="metric2" visible="false"  runat="server">
<div style="position: absolute; top: 400px; left: 350px;">  
  <img alt="" src="biosize.png" style="width:100%;" />
</div>
     <div style="text-align: left">
       <img alt="" src="rightsize.png" style="width: 578px; height: 87px" /><br />
        &nbsp;&nbsp;&nbsp;         
<br />
        <b><asp:LinkButton ID="LinkButton1" ForeColor="Black" runat="server" onclick="LinkButton4_Click"><img alt="size predictor men" src="images/men_icon.png" style="width:50px;height:50px;" /></asp:LinkButton>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img alt="size predictor men" src="images/women_icon.png" style="width:50px;height:50px; /></asp:LinkButton>
        <div style="text-align: left">
        <br /><br />
            <u><asp:LinkButton ID="LinkButton3" ForeColor="Black" runat="server" onclick="LinkButton3_Click" CommandArgument="cm">Imperial sizes to Metric sizes</asp:LinkButton></u></b><br />
      <table id="trMetric2" style="width:100%;" visible="false">
            <tr>
                <td class="style15" rowspan="2">My Height</td><td class="style2">
        <asp:DropDownList 
                        ID="DdlHeight21" runat="server" Width="100" CssClass="style11"></asp:DropDownList>
                <b>Feet</b></td></tr><tr>
                <td class="style2">
        <asp:DropDownList ID="DdlHeight22" runat="server" Width="100" 
                     CssClass="style11"></asp:DropDownList>
                <b>Inches</b></td></tr><tr>
                <td class="style15">My Weight</td><td class="style2">
                    <asp:DropDownList 
                         ID="DdlWeight2" runat="server" style="margin-left: 0px" Width="100" 
                         CssClass="style11"></asp:DropDownList>
                <b>Lbs/Stone</b></td></tr><tr>
                <td class="style15">My Age</td><td class="style2">
                    <asp:DropDownList ID="DdlAge2" 
                         runat="server" Width="100" CssClass="style11"></asp:DropDownList>
                <b>Years</b></td></tr><tr>
                <td class="style15">My Cup size</td><td class="style2">
        <asp:DropDownList 
                         ID="DdlCupsize21" runat="server" Width="100" CssClass="style11"><asp:ListItem Value="30(uk)/65(eu)" Text="30(uk)"></asp:ListItem><asp:ListItem Value="32(uk)/70(eu)" Text="32(uk)"></asp:ListItem><asp:ListItem Value="34(uk)/75(eu)" Text="34(uk)"></asp:ListItem><asp:ListItem Value="36(uk)/80(eu)" Text="36(uk)"></asp:ListItem><asp:ListItem Value="38(uk)/85(eu)" Text="38(uk)"></asp:ListItem><asp:ListItem Value="40(uk)/90(eu)" Text="40(uk)"></asp:ListItem><asp:ListItem Value="42(uk)/95(eu)" Text="42(uk)"></asp:ListItem><asp:ListItem Value="44(uk)/100(eu)" Text="44(uk)"></asp:ListItem><asp:ListItem Value="46(uk)/105(eu)" Text="46(uk)"></asp:ListItem><asp:ListItem Value="48(uk)/110(eu)" Text="48(uk)"></asp:ListItem></asp:DropDownList><asp:DropDownList 
                         Width="70px" ID="DdlCupsize22" runat="server" AutoPostBack="True" 
                         CssClass="style11"><asp:ListItem Value="AA/1" Text="AA"></asp:ListItem><asp:ListItem Value="A/2" Text="A"></asp:ListItem><asp:ListItem Value="B/3" Text="B"></asp:ListItem><asp:ListItem Value="C/4" Text="C"></asp:ListItem><asp:ListItem Value="D/5" Text="D"></asp:ListItem><asp:ListItem Value="DD/6" Text="DD"></asp:ListItem><asp:ListItem Value="E/7" Text="E"></asp:ListItem><asp:ListItem Value="F/8" Text="F"></asp:ListItem><asp:ListItem Value="FF/9" Text="FF"></asp:ListItem><asp:ListItem Value="G/10" Text="G"></asp:ListItem></asp:DropDownList></td></tr></br>
            <td 
                 class="style14">My BODY SHAPE :</td></td><tr>
                <td class="style15">My Arms</td><td class="style2">
        <asp:DropDownList ID="ddlArms2" 
                         runat="server" Width="100" CssClass="style11"><asp:ListItem  Value="1">S</asp:ListItem><asp:ListItem Value="2" Selected="True">M</asp:ListItem><asp:ListItem Value="3">L</asp:ListItem></asp:DropDownList></td></tr><tr>
                <td class="style15">My Waist</td><td class="style2">
        <asp:DropDownList ID="ddlWaist2" 
                         runat="server" Width="100" CssClass="style11"><asp:ListItem  Value="1">XS</asp:ListItem><asp:ListItem  Value="2">S</asp:ListItem><asp:ListItem  Value="3" Selected="True">M</asp:ListItem><asp:ListItem  Value="4">L</asp:ListItem><asp:ListItem  Value="5">XL</asp:ListItem></asp:DropDownList></td></tr><tr>
                <td class="style15">My Hip</td><td class="style2">
        <asp:DropDownList ID="ddlHips2" 
                         runat="server" Width="100" CssClass="style11"><asp:ListItem Value="1">XS</asp:ListItem><asp:ListItem Value="2">S</asp:ListItem><asp:ListItem Value="3" Selected="True">M</asp:ListItem><asp:ListItem Value="4">L</asp:ListItem><asp:ListItem Value="5">XL</asp:ListItem></asp:DropDownList></td></tr></table><br/>
           <asp:Button ID="Button2" runat="server" ForeColor="Black"  BackColor="#FF6600"  style="text-align: center" 
        Text="FIND MY SIZE" onclick="Button2_Click" />  
           
        </form>
   
</body>
</html>