<%@ Page Language="C#" AutoEventWireup="true" CodeFile="magento.aspx.cs" Inherits="alsico" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bivolino sizeprediction</title>
<link href="StyleSheet.css" rel="stylesheet" type="text/css"  style ="width: 100%; height: 100%" media="all" rev="Stylesheet" />
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="http://www.bivolino.com/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.bivolino.com/assets/css/style.css">
 
<link rel='stylesheet prefetch' href='css/magnific-popup.css'>
<link rel="stylesheet" href="css/style.css">

<style type="text/css">
         
        .style1
        {
            width: 110px;
        }
        .style2
        {
            width: 635px;
        }
        .style3
        {
            width: 424px;
            font-size:15px;
            font-weight:600;
        }
        .style4
        {
            width: 110px;
            font-size:17px;
            font-weight:600;
        }
        .style8
        {
            width: 100px;
        }
        .style9
        {
            width: 1810px;
        }
        .style10
        {
            width: 1878px;
        }
        .wrapper, .wrapper .container{width:auto; max-width:600px;}
    </style> 



<style type="text/css">
 body{background-image: url('images/bg_home.jpg');}
 .wrapper{background:none;}
.progress-sm{height:40px;}
        .style22
        {
            font-size:22px;
            color: red;
            border:None;
        }
h3.heading-xs{font-weight: 600;}
h3.heading-xs {font-size: 15px;font-weight: 600;position: relative;top: 30px;z-index: 99;padding-left: 3%; padding-right:0.5%;} 
</style>





</head>
<body>
    
<div>        
<a href="#first-popup" class="first-popup-link"><button type="button" style="background-color: orange" onclick="location.href=''BivoAppMC.aspx;">Find my size</button></a>
</div>

<!-- Contents of first window -->    
<div id="first-popup" class="mfp-hide white-popup">
	<iframe id="ifrm" frameborder="0" scrolling="no" src="BivoAppMC.aspx" width="100%" height="100%"></iframe>    
</div>

<!-- Contents of second window -->
<div id="second-popup" class="mfp-hide white-popup">
   <form id="form1" runat="server" visible="true">
<div style="position: absolute; top: 10px; left: 10px;">  
    <asp:TextBox ID="resSizePrediction" runat="server" Font-Size="Large" columns="80" style="border:None" Width="550" Height="40"></asp:TextBox>
</div>
</br>
</br>
<div style="position: absolute; top: 40px; left: 10px;">  
    <asp:TextBox ID="resSizePrediction2" runat="server" columns="80" Width="800" Height="40" style="border:None"></asp:TextBox>
</div>
</br>
</br>
</br>

<div class="wrapper">
<div class="container content">     
        <div class="row" style="margin-top:-30px;">
     <div class="col-md-9">
     <div class="tab-v2">
                              
                    <div class="tab-content">
                    
                        <div class="tab-pane fade in active" id="tab-1">
       <div class="row">
 
                             <div class="col-md-6">
                                    <h3 class="heading-xs"><%=Request.QueryString["p1"]%> <span class="pull-right"><%=Request.QueryString["p4"]%>%</span></h3>
                                    <div class="progress progress-u progress-sm">
                                        <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="<%=Request.QueryString["p4"]%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=Request.QueryString["p4"]%>%">
                                        </div>
                                    </div>

                                    <h3 class="heading-xs"><%=Request.QueryString["p3"]%> <span class="pull-right"><%=Request.QueryString["p5"]%>%</span></h3>
                                    <div class="progress progress-u progress-sm">
                                        <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="<%=Request.QueryString["p5"]%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=Request.QueryString["p5"]%>%">
                                        </div>
                                    </div>

                                    
                                </div>
                                <!-- End Small Progress Bar -->
          </div>       
     </div> 
      </div>       
     </div>  
    </div>
    
</div><!--/End Wrapepr-->


</div>
</div>

<div style="position: absolute; top: 400px; left: 350px;">  
  <img alt="" src="biosize.png" style="width: 100%;" />
</div>
<div class="style22" style="position: absolute; top: 100px; left: 100px;border:None;">  
 <asp:TextBox ID="resRood" runat="server" columns="80" style="border:None" Width="800" Height="40"></asp:TextBox>
</div>
<div style="position: absolute; top: 310px; left: 190px;">  
  <asp:Button ID="Button2" runat="server"  Text="ADD SIZE TO CART" ForeColor="Black" BackColor="YellowGreen" onclick="Button2_Click" style="width:200px;height:40px;font-size: 15px;font-weight: 600;" /> 
</div>
</form>
</div>


<script src='js/jquery.min.js'></script>
<script src='js/jquery.magnific-popup.min.js'></script>

<script src="js/index.js"></script>

</body>
</html>