﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="resultnop.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
   <script type="text/javascript">
alert('go to nop');
	</script> 
</head>
<body>
    <form id="form1" runat="server" visible="true">
</form>  
</body>
</html>