
.ropc .section {
	margin: 0 0 10px;
	background-color: #fff;
}
.ropc .section .title {
	position: relative;
	margin: 0;
	background-color: #f6f6f6;
	padding: 20px 40px;
	cursor: pointer;
	transition: all 0.2s ease;
}
.ropc .section .title.active {
	border-bottom-color: #f74258;
}
.ropc .section .title:before,
.ropc .section .title:after {
	content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
	margin: -10px 0 0;
	border-radius: 50%;
    background: #ccc url('images/toggle.png') no-repeat center;
}
.ropc .section .title:before {
	left: 15px;
}
.ropc .section .title:after {
	right: 15px;
}
.ropc .section-body {
	display: none;
    padding: 30px;
}
.order-summary-panel .section-body {
	padding: 0 10px !important;
}
.ropc .has-error,
 input.ng-invalid.ng-dirty, 
 textarea.ng-invalid.ng-dirty {
    border: 1px solid #ee2e56 !important;
}

.ropc .choose-address {
	max-width: 500px;
	margin: 0 auto 30px;
	padding: 15px 0;
}
.ropc .choose-address select {
	width: 100%;
}
.ropc .inputs .select-wrap {
	display: inline-block;
	width: 100%;
}
.ropc .inputs .select-wrap + .required {
	position: relative;
}
.ropc .pickup-points {
	margin: 20px 0 0;
}
.ropc .pickup-points-map {
	width: 100% !important;
}
.ropc .estimate-shipping .hint {
    margin: 0 0 20px;
}
.ropc .estimate-shipping .buttons {
    margin: 20px 0 0;
}
.ropc .estimate-shipping button {
	height: 45px;
	margin: 5px auto;
	border: none;
	padding: 0 20px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	transition: opacity 0.2s ease;
}
.air-theme .ropc .estimate-shipping button {
	background-color: #eda187;
}
.earth-theme .ropc .estimate-shipping button {
	background-color: #007c5a;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.ropc .estimate-shipping button:hover {
	opacity: 0.9;
}
.ropc .estimate-shipping button[disabled] {
    opacity: 0.3;
    cursor: default;
	outline-color: transparent !important;
}
.ropc .shipping-results {
    margin: 30px 0 0;
}
.ropc .shipping-results li {
	margin: 15px 0 5px;
}
.ropc .shipping-results li strong {
	display: block;
	margin: 0 0 5px;
	font-size: 13px;
	color: #333;
}

.ropc .shipping-method,
.ropc .payment-method {
	max-width: none;
	padding: 0;
}
.ropc .shipping-method .method-list {
	margin: -20px 0 -30px;
}
.ropc .payment-method .method-list {
	margin: -20px 0 0;
	border-bottom: 1px solid #eee;
}
.ropc .method-list li {
	border-top: 1px solid #eee;
	border-bottom: none;
}
.ropc .method-list li:first-child {
	border: none;
}
.air-theme .ropc .method-list li label {
	font-size: 13px;
}
.earth-theme .ropc .method-list li label {
	font-size: 14px;
}
.ropc .use-reward-points {
	border-bottom: 1px solid #eee;
	outline: none;
	background-color: transparent;
	padding: 10px 0 40px;
}
.ropc .use-reward-points input {
	vertical-align: middle;
}
.ropc .payment-logo label {
	display: block;
	margin: 0 !important;
	font-size: 0 !important;
}
.ropc .payment-info {
	padding: 30px 20px;
}
.ropc .payment-info .info {
	margin: 0;
	border: none;
	padding: 0 20px;
}

.ropc .cart .sku,
.ropc .quantity label {
    display: none;
}
.ropc .cart td.quantity input,
.ropc .cart td.quantity select {
    height: 36px;
	border: 1px solid #e9e9e9;
}
.ropc .cart .remove-product {
	display: inline-block;
	border: none;
	background: none;
	cursor: pointer;
}
.ropc .cart .remove-product:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ccc url('images/delete.png') no-repeat center;
}
.air-theme .ropc .cart td {
	font-size: 13px;
}
.earth-theme .ropc .cart td {
	font-size: 14px;
}

.ropc .attribute-list > li {
	margin: 0 10px !important;
}
.ropc .attribute-list > li + li {
	margin: 20px 10px 0 !important;
}
.ropc .attribute-list .attribute-name {
	margin: 0 0 10px;
	font-weight: 400;
	color: #555;
}
.ropc .attribute-list .attribute-values li {
	display: inline-block;
	margin: 0 5px 5px;
}
.cart-options .checkout-attributes select {
	min-width: 200px;
}
.cart-options .checkout-attributes .select-wrap {
	display: inline-block;
	max-width: 100%;
}
.cart-options .checkout-attributes .color-squares li {
	margin: 0 0 5px;
}

.ropc .coupon-box-panel .hint,
.ropc .giftcard-box-panel .hint {
    margin: 0 0 10px;
}
.ropc .coupon-box-panel .coupon-code,
.ropc .giftcard-box-panel .coupon-code {
	width: 300px;
	max-width: 100%;
	margin: auto;
	font-size: 0px;
}
.ropc .coupon-box-panel input[type="text"],
.ropc .giftcard-box-panel input[type="text"] {
	display: block;
	width: 100%;
    height: 40px;
	margin: 0 0 -1px;
}
.ropc .coupon-box-panel input[type="text"]:focus,
.ropc .giftcard-box-panel input[type="text"]:focus {
	border-color: #ddd;
}
.ropc .coupon-box-panel .coupon-code button,
.ropc .giftcard-box-panel .coupon-code button {
    display: block;
	width: 100%;
	height: 45px;
	border: none;
	padding: 0px 20px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	outline: 1px solid transparent;
	transition: opacity 0.2s ease;
}
.air-theme .ropc .coupon-box-panel .coupon-code button,
.air-theme .ropc .giftcard-box-panel .coupon-code button {
	background-color: #eda187;
}
.earth-theme .ropc .coupon-box-panel .coupon-code button,
.earth-theme .ropc .giftcard-box-panel .coupon-code button {
	background-color: #007c5a;
	font-weight: 400;
}
.ropc .coupon-box-panel .coupon-code button:hover,
.ropc .giftcard-box-panel .coupon-code button:hover {
	opacity: 0.9;
}
.ropc .coupon-box-panel .message,
.ropc .giftcard-box-panel .message {
    margin: 10px 0 0;
	/*add color only if success/error class names are present*/
}
.ropc .coupon-box-panel .current-code {
    margin: 10px 0 0;
}
.ropc .coupon-box-panel .current-code span {
    display: inline-block;
    vertical-align: middle;
}
.ropc .coupon-box-panel .current-code button,
.ropc .total-info .cart-total button {
	display: inline-block;
    width: 22px;
    height: 22px;
	margin: 0 -10px 0 5px;
	border: none;
	border-radius: 50%;
    background: #ccc url('images/delete.png') no-repeat center;
	vertical-align: middle;
    font-size: 0;
}

.ropc .panel.order-totals-panel {
	border-bottom: 1px solid #eee;
	padding: 40px 0px;
}
.ropc .total-info {
	width: 450px;
	max-width: 80%;
	margin: 0px auto;
}
.ropc .total-info .cart-total button {
	position: relative;
	z-index: 1;
    margin: -2px -5px 0 0;
    background-color: #fff;
}
.ropc .panel.complete-order-panel {
	padding: 40px 0;
}
.ropc .error-list {
	margin: 0 0 30px;
    color: #ee2e56;
}
.ropc .terms-of-service {
	max-width: none;
}
.ropc .complete-button,
.ropc .addon-buttons {
	margin: 40px 0 0;
}
.ropc .complete-button button {
	display: block;
	width: 100%;
	min-width: 150px;
	max-width: 290px;
	height: 55px;
	margin: 5px auto;
	border: none;
	background-color: #555;
	padding: 0 20px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	transition: opacity 0.2s ease;
}
.air-theme .ropc .complete-button button {
	background-color: #eda187;
	font-size: 14px;
}
.earth-theme .ropc .complete-button button {
	background-color: #007c5a;
	font-size: 15px;
	letter-spacing: 0.5px;
}
.ropc .complete-button button:before {
	content: "";
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: 0 10px 0 -20px;
	background: url('images/checkout.png') center no-repeat;
	vertical-align: middle;
}
.ropc .complete-button button span {
	vertical-align: middle;
}
.ropc .complete-button button:hover {
	opacity: 0.9;
}

.ropc .addon-buttons > * {
     margin: 0 5px 5px;
}

@media all and (max-width: 1000px) {

.ropc .panel {
	max-width: 600px;
	margin: auto;
}
.ropc .cart {
	display: block;
	border: none;
}
.ropc .cart colgroup,
.ropc .cart thead {
	display: none;
}
.ropc .cart tbody {
	display: block;
	overflow: hidden;
}
.ropc .cart tr {
	display: block;
	margin: 20px 0;
	border: 1px solid #eee;
	overflow: hidden;
	background-color: #fff;
}

.ropc .cart td {
	display: block;
	border: none;
	padding: 10px;
	text-align: center;
}
.ropc .cart td.remove-from-cart {
	padding: 10px 20px;
}
.ropc .cart .remove-product {
	position: relative;
	padding: 10px 10px 10px 30px;
	text-transform: uppercase;
	color: #555;
}
.ropc .cart .remove-product:before {
	position: absolute;
	top: 50%;
	left: 0;
	margin: -10px 0 0;
}
.ropc .cart td.product-picture {
	padding: 0 20px;
}
.ropc .cart td.product {
	min-width: 0;
	border-bottom: 1px solid #eee;
	padding: 20px;
	text-align: center;
}
.ropc .cart td.quantity {
	display: inline-block;
	vertical-align: middle;
}
.ropc .cart td.unit-price,
.ropc .cart td.subtotal {
	display: inline-block;
	width: 35%;
	vertical-align: middle;
}
	
}

@media all and (min-width: 769px) and (max-width: 1000px) {

.ropc .cart tr {
	border-width: 1px 0 ;
	background-color: #f9f9f9;
}
.ropc .cart tr:first-child {
	margin-top: 0;
}
.ropc .cart td {
	background-color: transparent;
}

}

@media all and (min-width: 769px) {

.ropc .panel-group-left {
	width: 45%;
}
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	width: 52%;
}

.ropc .section {
	margin: 0 0 30px;
}
.ropc .section .title {
	background-color: transparent;
	padding: 0 5px 15px;
	cursor: auto;
}
.ropc .section .title:before,
.ropc .section .title:after {
	display: none;
}
.ropc .section-body {
	display: block !important;
	border-top: 1px solid #eee;
	background-color: #f9f9f9;
	padding: 30px 20px;
}
.ropc .choose-address select,
.ropc .inputs input[type="text"],
.ropc .inputs select {
	width: 100%; /*theme specific*/
}

.ropc .choose-address {
	padding: 0;
}
.ropc .use-reward-points {
	padding: 0 20px 30px;
}
.ropc .payment-info {
	max-width: none;
	margin: 30px 0 0;
	padding: 0;
}
.ropc .payment-info .info {
	padding: 0 10px;
}
.order-summary-panel .section-body {
	border: none;
	background-color: transparent;
}
.ropc .coupon-box-panel,
.ropc .giftcard-box-panel {
	width: 100%;
}
.ropc .coupon-box-panel input[type="text"],
.ropc .giftcard-box-panel input[type="text"] {
	margin: 0 0 15px;
}
.ropc .coupon-box-panel .coupon-code button,
.ropc .giftcard-box-panel .coupon-code button {
	display: inline-block;
	width: auto;
	min-width: 160px;
}
.ropc .total-info {
	max-width: 90%;
}

}

@media all and (min-width: 1001px) {

.ropc .panel-group-left {
	width: 33%;
}
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	width: 65%;
}

.ropc .section .title {
	text-align: left;
}
.order-summary-panel .section-body {
	padding: 0 !important;
}

.ropc .pickup-in-store,
.ropc .estimate-shipping {
	text-align: center;
}
.ropc .method-list li {
	padding: 20px 10px 25px;
}
.ropc .use-reward-points {
	text-align: left;
}
.ropc .cart .remove-from-cart,
.ropc .cart .remove-product {
	font-size: 0;
}
.ropc .cart img {
	width: 50px;
}
.ropc .cart .subtotal {
	white-space: normal;
}
.ropc .cart .td-title {
	display: none !important;
}
.ropc .checkout-attributes {
	padding: 0;
	text-align: left;
}
.ropc .attribute-values li {
	margin: 0 10px 0 0 !important;
}
.ropc .coupon-box-panel,
.ropc .giftcard-box-panel {
	width: 48.5%;
	text-align: center;
}
.ropc .coupon-box-panel .coupon-code,
.ropc .giftcard-box-panel .coupon-code {
	width: auto;
}
.ropc .order-totals-panel {
	float: right;
	width: 50%;
}
.ropc .total-info {
	max-width: 100%;
}
.ropc .complete-order-panel {
	float: right;
	clear: both;
	width: 50%;
	text-align: center;
}

}

@media all and (min-width: 1321px) {

.ropc .cart col:first-child {
	display: table-column !important;
}
.ropc .cart th:first-child,
.ropc .cart td:first-child {
	display: table-cell !important;
}
.ropc .cart img {
	width: auto;
}

}