input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty, 
.has-error {
    border: 1px solid #ff0000 !important;
}
.page-title h1 {
    display: inline-block;
}
.ropc .section {
    margin-bottom: 10px;
    text-align: center;
}
.section .title {
    margin: 0;
    padding: 10px 20px;
    text-align: center;
}
.inputs {
    position: relative;
    margin: 0 auto 10px;
}
.billing-address-panel .section-body,
.shipping-address-panel .section-body,
.estimate-shipping-panel .section-body {
    padding: 10px;
    border: 1px dotted #ccc;
}
.billing-address-panel .form-fields,
.shipping-address-panel .form-fields {
    background: none;
    border: 0;
    padding: 0;
}
.ropc .message-error {
    display: block;
    position: static;
    text-align: right;
    margin: 5px 10px 0;
}
.ropc .choose-address {
	width: 300px;
	max-width: 100%;
    margin: 20px auto;
}
.inputs > span {
    position: absolute;
    top: 10px;
    right: 0px;
}
.inputs label {
    margin-bottom: 5px;
}
.inputs input {
    height: 30px;
}
.ropc select {
	width: 300px;
    max-width: 100%;
    height: 30px;
}
.inputs input[type="text"], 
.inputs input[type="password"] {
    max-width: 100%;
    box-sizing: border-box;
}
.estimate-shipping .hint {
    margin: 0 0 10px;
}
.inputs span.ng-binding {
    font-size: 12px;
    display: block;
    color: #c00;
    margin: 5px 0 0;
}
.estimate-shipping .buttons {
    text-align: center;
}
.estimate-shipping button {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: url(/Themes/Beauty/Content/img/button5.png) top repeat-x;
    box-shadow: inset 0 1px 0 #fff;
    padding: 5px 10px;
    font: normal 12px Tahoma,Geneva,sans-serif;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
}
.estimate-shipping button[disabled] {
    opacity: .5;
    cursor: default;
    background-position: top !important;
}
.shipping-results {
    margin: 30px 0 0;
    text-align: left;
}
.use-reward-points {
    margin: 0 0 10px;
}

.ropc .pickup-points {
    margin: 10px 0 0;
}
.ropc .pickup-points select {
    margin: 10px 0;
}
.ropc .pickup-points-map {
    max-width: 100%;
    margin: 0 auto;
}

.shipping-method .section-body,
.payment-method .section-body {
    padding: 10px;
    border: 1px dotted #ccc;
    margin-bottom: 10px
}
.shipping-method .method-list,
.payment-method .method-list {
    margin: 0;
}
.shipping-method .method-list li,
.payment-method .method-list li {
	margin: 20px 0 0;
	display: block;
	width: auto !important;
	padding: 0 !important;
}
.shipping-method .method-list, 
.payment-method .method-list{
    width: 280px;
    margin: 10px auto;
    border: none;
    text-align: left;

}
.shipping-method .method-list li:first-child,
.payment-method .method-list li:first-child {
	margin: 0;
}
.payment-method .payment-logo {
    display: inline-block;
    padding: 0 !important;
    margin: 0 15px 0 0 !important;
}
.payment-method .payment-details {
    display: inline-block !important;
    min-width: 0;
    margin: 0 !important;
}
.shipping-method .method-name {
    padding: 0;
    background: none !important;
}
.payment-info {
    margin: 30px 0 0;
}
.payment-info .info {
    padding: 0;
    border: none;
}
.payment-info .info p {
	text-align: left;
}
.payment-info select,
.payment-info input {
    margin: 3px 0;
}
.order-summary-content {
    margin-bottom: 20px;
    background: none;
    /*border: 1px dotted #ccc;*/
    border: none;
    border-radius: 0;
    padding: 0;
}
.cart td.quantity input,
.cart td.quantity select {
    height: 34px;
    width: 60px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    box-shadow: inset 0 0 10px #ddd;
    box-sizing: border-box;
    color: #333;
}
.cart .item-count {
    display: none;
}

.attribute-list > li {
    border: 0;
    display: block;
    padding: 0;
    margin: 0 0 10px;
}
.attribute-list .hidden {
    display: none;
}

.coupon-box-panel,
.giftcard-box-panel {
    margin: auto;
}
.coupon-box-panel .section-body,
.giftcard-box-panel .section-body,
.attributes-panel .section-body {
    padding: 10px;
    border: 1px dotted #ccc;  
}
.coupon-box-panel .hint,
.giftcard-box-panel .hint {
    margin: 0 0 10px;
}
.coupon-box-panel .coupon-code,
.giftcard-box-panel .coupon-code {
    display: inline-block;
}
.coupon-box-panel input[type="text"],
.giftcard-box-panel input[type="text"] {
    float: left;
}
.coupon-box-panel .coupon-code button,
.giftcard-box-panel .coupon-code button {
    float: left;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: url(/Themes/Beauty/Content/img/button5.png) top repeat-x;
    box-shadow: inset 0 1px 0 #fff;
    padding: 5px 10px;
    font: normal 12px Tahoma,Geneva,sans-serif;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
}
.coupon-box-panel .message,
.giftcard-box-panel .message {
    margin: 5px 0 0;
    color: #c00;
    font-size: 12px;
}
.coupon-box-panel .current-code {
    margin: 5px 0 0;
}

.order-totals-panel {
    max-width: 370px;
    margin: 40px auto 20px;
}
.checkout-page .total-info {
    padding: 10px;
    border: 1px dotted #ccc;
    margin-bottom: 10px;
}
.coupon-box-panel .current-code button,
.coupon-box-panel .current-code span,
.total-info button {
    display: inline-block;
    vertical-align: middle;
}
.coupon-box-panel input[type="text"],
.giftcard-box-panel input[type="text"] {
    width: 140px;
    margin: 0 5px 0 0;
    height: 30px;
    box-sizing: border-box;
}
.coupon-box-panel .current-code button,
.total-info button {
    width: 16px;
    height: 16px;
    background: #fff url(delete.png) no-repeat center;
    border: 0;
    font-size: 0;
}
.total-info button {
    margin-right: -10px;
    position: relative;
    z-index: 1;
}

.order-confirm, .terms-of-service, .complete-button {
    margin: 0 0 20px;
    text-align: center;
}

.error-list {
    color: #c00;
    margin: 0 0 20px;
}
.complete-button button {
    min-width: 180px;
    border: 2px solid #999;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #000;
    background: url(/Themes/Beauty/Content/img/button2.png) top repeat-x;
    padding: 5px 20px;
    text-align: center;
    font: normal 20px 'avantgarde';
    text-transform: uppercase;
    color: #c8c;
    text-shadow: -1px -1px 0 #111;
}

.ropc .addon-buttons {
    text-align: right;
}

.ropc .addon-buttons > * {
     margin: 0 0 5px 5px;
}



@media all and (max-width: 430px) {

    .coupon-box-panel input[type="text"],
    .giftcard-box-panel input[type="text"],
    .coupon-box-panel .coupon-code button,
    .giftcard-box-panel .coupon-code button {
        width: 100%;
        margin: 0 0 5px;
    }

}

@media all and (max-width: 480px) {

    .cart {
        margin: 0 0 30px;
    }
    .cart tr:first-child {
        margin: 0;
    }

}

@media all and (max-width: 768px) {

     .section-title {
        border-bottom: 1px dotted #ccc;
        background-image: url(table-plus.png), url(table-plus.png);
        background-repeat: no-repeat, no-repeat;
        background-position: left center, right center;
    }
    .ropc .section-body {
        display: none;
        margin-top: 25px;
    }

}


@media all and (max-width: 980px) {


    .cart td.quantity {
        padding: 10px;
    }
    .ropc .cart colgroup,
    .ropc .cart thead,
    .ropc .cart .sku {
        display: none;
    }
    .ropc .cart tr {
        display: block;
        width: 100%;
        margin: 0 auto -1px;
    }
    .ropc .cart td {
        display: block;
        border: 1px dotted #ccc;
        border-top: none;  
    }
    .ropc .cart td.product,
    .ropc .cart td.unit-price, 
    .ropc .cart td.quantity {
        border-bottom: none;
    }
    .ropc .cart td:first-child {
        border-top: 1px dotted #ccc;
        padding: 0;
    }
    .remove-product {
        display: block;
        padding: 10px;        
        border: none;
        background: none;
    }
    .remove-from-cart {
        padding: 0;
        border: none;
        background: none;
    }

    .ropc .addon-buttons {
        text-align: center;
    }

    .ropc .addon-buttons > * {
         margin: 0 5px 5px;
    }

}

@media all and (min-width: 481px) {
    
    .cart tr {
        margin: 0 2% 40px;
    }

}

@media all and (min-width: 769px) {

    .ropc .section {
        margin-bottom: 30px;
    }
    .ropc .section-body {
        display: block !important;
    }
    .fieldset .title, .section .title {
        text-align: left;
        padding: 0;
        margin-bottom: 5px;
    }
    .shipping-method .method-list, 
    .payment-method .method-list {
		width: auto;
        text-align: left;
    }
    .order-totals-panel {
        max-width: none;
        width: 48%;
    }
	.checkout-page .selected-checkout-attributes {
		float: none;
		text-align: center;
	}
    .coupon-box-panel input[type="text"], 
    .giftcard-box-panel input[type="text"],
    .coupon-box-panel .coupon-code button, 
    .giftcard-box-panel .coupon-code button {
    }
    

}

@media all and (min-width: 560px) and (max-width: 980px){
    .ropc .cart tr {
        float: left;
        width: 47%;
        margin: 0 1.5% 3%;
    }
    .ropc .cart tr:nth-child(2n+1) {
        clear: both;
    }
}

@media all and (min-width: 769px) and (max-width: 980px) {
    .ropc .coupon-box-panel,
    .ropc .giftcard-box-panel {
        float: none;
        width: 100%;
    }
    .ropc .coupon-box-panel input[type='text'],
    .ropc .giftcard-box-panel input[type='text'] {
        width: 180px;
    }
    .order-totals-panel {
        width: 100%;
    }

}

@media all and (min-width: 981px) {
	
	.ropc .panel-group-left {
		width: 33%;
	} /*override common css for 981~1000 width*/
	.ropc .panel-group-right-top,
	.ropc .panel-group-right-middle,
	.ropc .panel-group-right-bottom {
		float: right;
		width: 65%;
	} /*override common css for 981~1000 width*/
		
	.ropc .choose-address {
		width: 280px;
		margin: 20px 0;
	}
    .cart th {
        border: none;
    }
	.cart .sku {
        display: none;
    }
    .inputs label {
        text-align: left;
        margin: 0 0 5px;
        width: 110px;
    }
    .panel-group-left .inputs input[type="text"],
    .panel-group-left .inputs input[type="password"],
    .panel-group-left .inputs select {
        width: 165px;
    }
	.cart {
        margin: 0;
        border-left: 1px dotted #ddd;
        border-right: 1px dotted #ddd;
    }
	.td-title {
        display: none !important;
    }

    .ropc .cart .product-unit-price,
    .ropc .cart .product-subtotal {
        white-space: normal !important;
    }

    .remove-product {
        cursor: pointer;
    }
    .cart .product {
        min-width: 0;
    }
	.checkout-page .selected-checkout-attributes {
		text-align: right !important;
	}
	.order-totals-panel {
        text-align: right;
        float: right;
    }
	.payment-info .info tr {
        text-align: left;
    }
	.payment-info .info td:first-child {
        text-align: left !important;
        margin: 0 0 10px !important;
    }
	.order-totals-panel {
		margin-top: 0;
	}
    .terms-of-service {
        padding: 0 !important;
    }
    .order-confirm,
    .terms-of-service,
    .complete-button {
        clear: both;
        text-align: right !important;
    }
    .shipping-method .method-list, 
    .payment-method .method-list {
        width: auto;
    }

    .ropc .section {
        text-align: left;
    }
    

}
