@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Core.Domain.Orders;
@{
    var _orderService = EngineContext.Current.Resolve<Nop.Services.Orders.IOrderService>();
    var order = _orderService.GetOrderById(Model.OrderId);
}
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}
@{var thisOrder = _orderService.GetOrderById(Model.OrderId);}
<div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
    }
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="page-body checkout-data">
        @Html.Widget("checkout_completed_top", Model.OrderId)
        <div class="section order-completed">
            <div class="title">
                <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
            </div>
            <div class="details">
                <div class="order-number">
                    <strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
                </div>
                
              
              
                <div class="details-link">
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                </div>
            </div>
            <div class="buttons">
                <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
            </div>
        </div>
        @Html.Widget("checkout_completed_bottom", Model.OrderId)
    </div>
</div>
<!--Start Tradetracker-->
<!--EN-->
<script type="text/javascript">
 var ttConversionOptions = ttConversionOptions || [];
 ttConversionOptions.push({
  type: 'sales',
  campaignID: '12298',
  productID: '18470',
  transactionID: '@Model.CustomOrderNumber',
  transactionAmount: '@order.OrderTotal',
  quantity: '1',
  email: '@order.Customer.Email',
  descrMerchant: '',
  descrAffiliate: '',
  currency: ''
 });
</script>
<noscript>
 <img src="//ts.tradetracker.net/?cid=12298&amp;pid=18470&amp;tid="+ @Model.CustomOrderNumber + "&amp;tam=" + @order.OrderTotal + "&amp;data=&amp;qty=1&amp;eml=" + @order.Customer.Email + "&amp;descrMerchant=&amp;descrAffiliate=&amp;event=sales&amp;currency=EUR" alt="" />
</noscript>
<script type="text/javascript">
 // No editing needed below this line.
 (function(ttConversionOptions) {
  var campaignID = 'campaignID' in ttConversionOptions ? ttConversionOptions.campaignID : ('length' in ttConversionOptions && ttConversionOptions.length ? ttConversionOptions[0].campaignID : null);
  var tt = document.createElement('script'); tt.type = 'text/javascript'; tt.async = true; tt.src = '//tm.tradetracker.net/conversion?s=' + encodeURIComponent(campaignID) + '&t=m';
  var s = document.getElementsByTagName('script'); s = s[s.length - 1]; s.parentNode.insertBefore(tt, s);
 })(ttConversionOptions);
</script>
<!--NL-->
<script type="text/javascript">
 var ttConversionOptions = ttConversionOptions || [];
 ttConversionOptions.push({
  type: 'sales',
  campaignID: '3164',
  productID: '4505',
  transactionID: '@Model.CustomOrderNumber',
  transactionAmount: '@order.OrderTotal',
  quantity: '1',
  email: '@order.Customer.Email',
  descrMerchant: '',
  descrAffiliate: '',
  currency: ''
 });
</script>
<noscript>
 <img src="//ts.tradetracker.net/?cid=3164&amp;pid=4505&amp;tid="+ @Model.CustomOrderNumber + "&amp;tam=" + @order.OrderTotal + "&amp;data=&amp;qty=1&amp;eml=" + @order.Customer.Email + "&amp;descrMerchant=&amp;descrAffiliate=&amp;event=sales&amp;currency=EUR" alt="" />
</noscript>
<script type="text/javascript">
 // No editing needed below this line.
 (function(ttConversionOptions) {
  var campaignID = 'campaignID' in ttConversionOptions ? ttConversionOptions.campaignID : ('length' in ttConversionOptions && ttConversionOptions.length ? ttConversionOptions[0].campaignID : null);
  var tt = document.createElement('script'); tt.type = 'text/javascript'; tt.async = true; tt.src = '//tm.tradetracker.net/conversion?s=' + encodeURIComponent(campaignID) + '&t=m';
  var s = document.getElementsByTagName('script'); s = s[s.length - 1]; s.parentNode.insertBefore(tt, s);
 })(ttConversionOptions);
</script>

<!--BE-->
<script type="text/javascript">
 var ttConversionOptions = ttConversionOptions || [];
 ttConversionOptions.push({
  type: 'sales',
  campaignID: '9301',
  productID: '14074',
  transactionID: '@Model.CustomOrderNumber',
  transactionAmount: '@order.OrderTotal',
  quantity: '1',
  email: '@order.Customer.Email',
  descrMerchant: '',
  descrAffiliate: '',
  currency: ''
 });
</script>
<noscript>
 <img src="//ts.tradetracker.net/?cid=9301&amp;pid=14074&amp;tid="+ @Model.CustomOrderNumber + "&amp;tam=" + @order.OrderTotal + "&amp;data=&amp;qty=1&amp;eml=" + @order.Customer.Email + "&amp;descrMerchant=&amp;descrAffiliate=&amp;event=sales&amp;currency=EUR" alt="" />
</noscript>
<script type="text/javascript">
 // No editing needed below this line.
 (function(ttConversionOptions) {
  var campaignID = 'campaignID' in ttConversionOptions ? ttConversionOptions.campaignID : ('length' in ttConversionOptions && ttConversionOptions.length ? ttConversionOptions[0].campaignID : null);
  var tt = document.createElement('script'); tt.type = 'text/javascript'; tt.async = true; tt.src = '//tm.tradetracker.net/conversion?s=' + encodeURIComponent(campaignID) + '&t=m';
  var s = document.getElementsByTagName('script'); s = s[s.length - 1]; s.parentNode.insertBefore(tt, s);
 })(ttConversionOptions);
</script>

<!--FR-->
<script type="text/javascript">
 var ttConversionOptions = ttConversionOptions || [];
 ttConversionOptions.push({
  type: 'sales',
  campaignID: '14978',
  productID: '22359',
  transactionID: '@Model.CustomOrderNumber',
  transactionAmount: '@order.OrderTotal',
  quantity: '1',
  email: '@order.Customer.Email',
  descrMerchant: '',
  descrAffiliate: '',
  currency: ''
 });
</script>
<noscript>
 <img src="//ts.tradetracker.net/?cid=14978&amp;pid=22359&amp;tid="+ @Model.CustomOrderNumber + "&amp;tam=" + @order.OrderTotal + "&amp;data=&amp;qty=1&amp;eml=" + @order.Customer.Email + "&amp;descrMerchant=&amp;descrAffiliate=&amp;event=sales&amp;currency=EUR" alt="" />
</noscript>
<script type="text/javascript">
 // No editing needed below this line.
 (function(ttConversionOptions) {
  var campaignID = 'campaignID' in ttConversionOptions ? ttConversionOptions.campaignID : ('length' in ttConversionOptions && ttConversionOptions.length ? ttConversionOptions[0].campaignID : null);
  var tt = document.createElement('script'); tt.type = 'text/javascript'; tt.async = true; tt.src = '//tm.tradetracker.net/conversion?s=' + encodeURIComponent(campaignID) + '&t=m';
  var s = document.getElementsByTagName('script'); s = s[s.length - 1]; s.parentNode.insertBefore(tt, s);
 })(ttConversionOptions);
</script>

<!--DE-->
<script type="text/javascript">
 var ttConversionOptions = ttConversionOptions || [];
 ttConversionOptions.push({
  type: 'sales',
  campaignID: '17901',
  productID: '26669',
  transactionID: '@Model.CustomOrderNumber',
  transactionAmount: '@order.OrderTotal',
  quantity: '1',
  email: '@order.Customer.Email',
  descrMerchant: '',
  descrAffiliate: '',
  currency: ''
 });
</script>
<noscript>
 <img src="//ts.tradetracker.net/?cid=17901&amp;pid=26669&amp;tid="+ @Model.CustomOrderNumber + "&amp;tam=" + @order.OrderTotal + "&amp;data=&amp;qty=1&amp;eml=" + @order.Customer.Email + "&amp;descrMerchant=&amp;descrAffiliate=&amp;event=sales&amp;currency=EUR" alt="" />
</noscript>
<script type="text/javascript">
 // No editing needed below this line.
 (function(ttConversionOptions) {
  var campaignID = 'campaignID' in ttConversionOptions ? ttConversionOptions.campaignID : ('length' in ttConversionOptions && ttConversionOptions.length ? ttConversionOptions[0].campaignID : null);
  var tt = document.createElement('script'); tt.type = 'text/javascript'; tt.async = true; tt.src = '//tm.tradetracker.net/conversion?s=' + encodeURIComponent(campaignID) + '&t=m';
  var s = document.getElementsByTagName('script'); s = s[s.length - 1]; s.parentNode.insertBefore(tt, s);
 })(ttConversionOptions);
</script>
<!--End Tradetracker-->
<!--Start Google Adwords-->

<!-- Google Code for sales Conversion Page -->
<script type="text/javascript">
<!--
    var google_conversion_id = 1065170213;
    var google_conversion_language = "en";
    var google_conversion_format = "1";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "aYkPCJvZrAEQper0-wM";
    var google_conversion_value = 0;
    if (75.0) {
        google_conversion_value = 75.0;
    }
//-->
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="googleeadservices" src="https://www.googleadservices.com/pagead/conversion/1065170213/?value=75.0&amp;label=aYkPCJvZrAEQper0-wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!--End Google Adwords-->

<script>
   window.onload = function(){
   window.location.href='https://www.bivolino.com/stock_reduction.aspx?id=@Model.CustomOrderNumber';       
   } 
</script>
