.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 50%;
    position: relative;
    margin: 13% auto;
    padding: 18px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}



#myBtn{
    padding:6px 20px;
    border: 1px solid #008AB7;
    background-color: #FFFFFF;
    background:    url(http://biometricshirts.com/pub/media/sizechart/icon/default/biometric_icon2_1.png);
    background-repeat: no-repeat;
    background-position: 3px center;
    color: #008AB7;
    float:left;
}
#myBtn span{ margin-left:15px;}
.modal-footer {
    padding: 2px 16px;
    /*background-color: #fd9814;*/
    background-image:linear-gradient(#ffffff, #fd9814);
    color: #333;
    font-size:11px;
}

input.sizepredictor_result{
    width:65%;
    marginleft:10px;
    border:none;
}