.coupon-box-panel .coupon-code button,
.giftcard-box-panel .coupon-code button {
	float: right;
}
.shipping-results,
.payment-info .info p {
	text-align: right;
}
*{
	direction: rtl;
}
.payment-method .payment-logo{
	margin: 0 0 0 15px !important;
}
.coupon-box-panel input[type="text"],
.giftcard-box-panel input[type="text"]{
	float: right;
	margin: 0 0 3px 3px;
}
.total-info button{
	margin-left: -10px;
	margin-right: 0;
}

.ropc .addon-buttons {
    text-align: right;
}

.ropc .addon-buttons > * {
    margin: 0 0 5px 5px;
}


@media all and (min-width: 600px) and (max-width: 980px) {
    .cart tr {
        float: right;
    }
}


@media all and (min-width: 769px) {

    .fieldset .title, .section .title {
        text-align: right;
    }
    .section.shipping-method .method-list,
    .section.payment-method .method-list {
        text-align: right;
    }
    .ropc .panel-group-right-top, 
    .ropc .panel-group-right-middle, 
    .ropc .panel-group-right-bottom {
        float: left;
    }

}

@media all and (min-width: 1001px) {

    .inputs label {
        text-align: right;
    }
	.checkout-page .selected-checkout-attributes {
		text-align: left !important;
	}
	.order-totals-panel {
        text-align: left;
        float: left;
    }
	.payment-info .info tr {
        text-align: right;
    }
	.payment-info .info td:first-child {
        text-align: right !important;
    }
    .order-confirm,
    .terms-of-service,
    .complete-button {
        text-align: left !important;
    }

    .ropc .addon-buttons {
        text-align: left;
    }

    .ropc .addon-buttons > * {
        margin: 0 5px 5px 0;
    }

}