.checkout-page .page-title {
	margin: 0 0 40px;
}
.checkout-page h1:after {
	content: "";
	position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
	height: 5px;
	background: #e87772;
}
input.ng-invalid.ng-dirty, 
textarea.ng-invalid.ng-dirty, 
.has-error {
    border: 1px solid red !important;
}

.ropc {
	margin: 0 0 20px;
}
.ropc .section {
	margin: 0;
	background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 12px 8px;
}
.ropc .section-title {
	margin: 0 !important;
	border: none !important;
	padding: 0 !important;
    color: #e87772;
    font-size: 20px !important;
    text-align: center;
	cursor: pointer;
}
.ropc .section-title strong {
	background: url('toggle.png') no-repeat right 8px;
    padding: 0 0 10px !important;
}
.ropc .section-body {
	display: none;
	padding: 36px 12px 12px;
}
.ropc .inputs input[type="text"],
.ropc .inputs input[type="password"],
.ropc .inputs select {
	width: 350px;
	max-width: 100%;
}
.ropc input[type="checkbox"],
.ropc input[type="radio"] {
	margin: 0 5px 0 0;
}

.ropc .choose-address {
	margin: 0 0 20px;
}
.ropc .choose-address select {
	width: 350px;
	max-width: 100%;
	border-color: #c9c9c9;
}

.ropc .ship-to-same-address {
	margin: 15px 0 5px;
    padding: 5px;
    text-align: center;
	font-size: 14px;
    text-transform: uppercase;
}

.ropc .pickup-in-store .options {
	margin: -10px 0 0;
	padding: 5px;
	font-size: 14px;
    text-transform: uppercase;
}
.ropc .pickup-in-store .options * {
	vertical-align: middle;
}
.ropc .pickup-in-store p {
	padding: 5px;
}

.ropc .estimate-shipping .hint {
	display: none;
}
.ropc .estimate-shipping .buttons {
	margin: 10px 0 0;
}
.ropc .shipping-results {
	margin: 20px 0;
}
.ropc .shipping-results li {
	margin: 10px 0;
}
.ropc .pickup-points-map {
    max-width: 100%;
    margin: 15px auto 0;
}

.ropc button { 
	display: inline-block;
	border: 2px solid #e87772;
	box-shadow: none;
	background-color: #fff;
    padding: 6px;
    font-size: 14px;
    color: #e87772; 
    text-transform: lowercase;
	transition: all 0.15s ease-in-out 0s;
}
.ropc button:hover {
	background-color: #e87772;
    color: #fff;
}
.ropc button[disabled] {
	opacity: 0.5;
	cursor: auto;
}
.ropc button[disabled]:hover {
	background: #fff !important;
}

.ropc .method-list {
	margin: 0;
	box-shadow: none;
	padding: 0;
	text-align: center;
}

.ropc .use-reward-points {
	margin: 0 0 25px;
}

.ropc .payment-method ul {
	overflow: hidden;
}
.ropc .payment-method li {
	margin: 0 0 20px;
}
.ropc .payment-logo {
	display: inline-block;
	margin: 0 10px 0 0;
}
.ropc .payment-logo label {
	display: inline-block;
	cursor: pointer;
}
.ropc .payment-details {
	display: inline-block;
	min-width: 150px;
	margin: 0;
	text-align: left;
}
.ropc .payment-details label {
	display: inline-block;
	cursor: pointer;
}
.ropc .payment-info,
.ropc .payment-info .info {
	margin: 0;
	box-shadow: none;
	padding: 0;
}
.ropc .payment-info td {
	padding: 5px 0;
}
.ropc .payment-info td:first-child {
	width: 120px;
}
.ropc .payment-info td label {
}
.ropc .payment-info .dropdownlists {
	width: 165px;
}
.ropc .payment-info p {
	margin: 0;
}

.ropc .cart th {
	font-size: 13px;
}
.ropc .cart td {
	min-width: 50px;
}
.ropc .cart .sku {
	display: none;
}
.ropc .cart .quantity label {
	display: none;
}
.ropc .cart .quantity input {
	width: 50px !important;
    height: 34px;
}
.ropc .remove-from-cart {
}
.ropc .remove-from-cart span {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('delete.png') center no-repeat;
	vertical-align: middle;
	font-size: 0;
	cursor: pointer;
}

.ropc .checkout-attributes {
    padding: 12px;
}
.ropc .attribute-list > li {
	margin: 0 0 20px;
}
.ropc .attribute-name {
	font-weight: bold;
	font-size: 13px;
}
.ropc .attribute-name label {
}
.ropc .attribute-values li {
	display: block;
	margin: 5px 0;
}
.ropc .attribute-values .hidden {
	display: none;
}

.ropc .coupon-box .hint,
.ropc .giftcard-box .hint {
	margin: 0 0 8px;
}
.ropc .coupon-code {
	margin: 0 0 10px;
	font-size: 0;
	white-space: nowrap;
}
.ropc .coupon-code input {
	font-size: 13px;
	vertical-align: middle;
	border-left: 1px solid #c9c9c9;
}
.ropc .coupon-code button {
	width: 105px;
	height: 36px;
	vertical-align: top;
}
.ropc .coupon-code button:hover {
	background-color: #e87772;
    color: #fff !important;
}
.ropc .current-code span {
	vertical-align: middle;
	line-height: 22px;
}
.ropc .current-code button {
	float: left;
	width: 22px;
	height: 22px;
	margin: 0 8px 0 0;
	border: 1px solid #c9c9c9;
	box-shadow: none;
	background: #fff url('delete.png') center no-repeat;
	padding: 0;
	font-size: 0;
	vertical-align: middle;
}

.ropc .total-info {
	margin: 0 0 30px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 16px 12px;
}
.ropc .cart-total-left {
	width: auto;
	text-align: right;
}
.ropc .cart-total-right {
	width: 100px;
}
.ropc .order-total strong {
	color: #555;
}
.ropc .total-info button {
	position: relative;
	width: 22px;
	height: 22px;
	margin: -2px -3px 0 0;
	border: 1px solid #c9c9c9;
	box-shadow: none;
	background: #fff url('delete.png') center no-repeat;
	padding: 0;
	font-size: 0;
	vertical-align: middle;
}
.ropc .will-earn-reward-points span {
	display: block;
	padding: 15px 0 0;
	white-space: nowrap;
	font-size: 16px;
}

.ropc .error-list {
	margin: 0 0 30px;
	background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 12px 8px;
	text-align: right;
}
.ropc .error-list li {
	margin: 5px;
	color: red;
}
.ropc .terms-of-service {
	margin: 0 0 20px;
	text-align: right;
}
.ropc .complete-button {
	text-align: right !important;
}
.ropc .complete-button button {
	display: inline-block;
	border: 2px solid #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	background: #e87772;
	padding: 8px 24px;
	font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    transition: all 0.15s ease-in-out 0s;
}
.ropc .complete-button button:hover {
	border: 2px solid #e87772;
	background: #fff;
    color: #e87772;
}


.ropc .addon-buttons {
    text-align: right;
}

.ropc .addon-buttons > * {
     margin: 0 0 5px 5px;
}

@media all and (max-width: 1000px) {

.panel {
	display: block;
	max-width: 550px;
	margin: auto;
}
.cart {
	display: block;
}
.cart colgroup,
.cart thead {
	display: none;
}
.cart tbody {
	display: block;
	overflow: hidden;
}
.cart tr {
	display: block;
	float: left;
	width: 100%;
	margin: 25px 0 0;
	border: 1px solid #ddd;
}
.cart tr:first-child {
	margin: 0;
}
.cart td {
	display: block;
	border: none;
	padding: 10px;
	text-align: center;
}
.cart td.remove-from-cart {
    margin: 0 0 -1px;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
	padding: 10px;
}
.cart td.product-picture {
	border-top: 1px solid #ddd;
	padding: 15px 10px 5px;
}
.cart td.product {
	min-width: 0;
	border-bottom: 1px solid #ddd;
	padding: 5px 10px 15px;
	text-align: center;
}
.cart td.quantity {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}
.cart td.unit-price,
.cart td.subtotal {
	display: inline-block;
	width: 40%;
	padding: 20px 10px;
	vertical-align: middle;
}
	
}

@media all and (min-width: 769px) {

.ropc .section {
	margin: 0 0 30px;
}
.ropc .section-title {
	margin: 0 0 25px !important;
	border-bottom: 1px solid #ddd !important;
	padding: 0 0 2px !important;
	cursor: default;
}
.ropc .section-title strong {
	background: none;
}	
.ropc .section-body {
	display: block !important;
	padding: 0 12px;
}
.ropc .inputs label {
	font-size: 14px;
}
.ropc .method-list {
	text-align: left;
}
.ropc .attribute-list li {
	display: block;
	text-align: left;
}
.ropc .coupon-box-panel input[type="text"], 
.ropc .giftcard-box-panel input[type="text"] {
	border: 1px solid #c9c9c9;
}
.ropc .coupon-box-panel input[type="text"], 
.ropc .giftcard-box-panel input[type="text"],
.ropc .coupon-box-panel .coupon-code button, 
.ropc .giftcard-box-panel .coupon-code button {
	display: block;
	width: 100%;
	margin: 0 0 -1px;
}
	
}

@media all and (min-width: 1001px) {

.ropc .inputs label {
	display: inline-block;
	width: 110px;
	margin: 0 10px 0 0;
	text-align: right;
}
.ropc .inputs input[type="text"],
.ropc .inputs input[type="password"] {
	width: 170px;
}
.ropc .cart .td-title {
    display: none;
}
.ropc .cart .unit-price,
.ropc .cart .subtotal {
    white-space: normal;
}
.ropc .inputs select {
	width: 172px;
}
.ropc .estimate-shipping .buttons {
	text-align: right;
}
.ropc .payment-method ul {
	float: left;
	width: 42%;
}
.ropc .payment-info {
	float: right;
	width: 56%;
	padding: 0;
}
.ropc .attribute-name {
	margin: 0 0 15px;
}
.ropc .coupon-box-panel input[type="text"], 
.ropc .giftcard-box-panel input[type="text"] {
	display: inline-block;
	width: 170px;
	margin: 0;
	border-right: none;
}
.ropc .coupon-box-panel .coupon-code button, 
.ropc .giftcard-box-panel .coupon-code button {
	display: inline-block;
	width: 105px;
	margin: 0;
}
.ropc .buttons {
	text-align: right !important;
}

}