body{font-family:arial,sans-serif;font-size:12px;background:#fff !important;height:100%;}
#content{width:100% !important;}
#PageContent {padding: 11px 11px !important;}
#outerPageContainer{width:100%;margin:auto;}
#breadcrumbs{float:left;margin:-35px 0 0 -40px;width:1003px;/*background-color:#00203C;*/font-family:ITC Avant Garde Gothic Std Arial Sans-Serif;font-size:14px;color:#FFF;text-transform:lowercase;}
.ie7 #breadcrumbs{width:988px;font-size:13px;}
#breadcrumbs p{text-transform:none;margin-left:10px;}
PageCenter, .ColumnRight, .PageWrapper{width:988px !important;/*margin-top:-17px;*/}
.ie7 .PageCenter, .ie7 .ColumnRight, .ie7 .PageWrapper{width:970px !important;margin-top:-13px;}
.PageWrapper{width: 982px !important;/*margin-left: 0;*/}
.ie7 .PageCenter{margin-left:-6px;}
#PageContent_up{width:971px;margin-left:-3px;}
.ie7 #PageContent_up{width:950px;margin-left:0px;}
#homelink{position:relative;top:-5px;left:-15px;margin-top:-15px;}
.ie7 #homelink{position:relative;top:-17px;left:-50px;}
#homelink a{color:#FFBF01;font-weight:bold;float:right;text-decoration:none;}
#homelink a:hover{text-decoration:underline;}
#mypage{width:942px;height:815px;margin:auto;position:relative;top:15px;}
#content_page{height:815px;width:942px;background: url(images/top_Landing_Page_Men_2011.png) no-repeat;position:relative;left:1px;}
#logo_bivo{height:70px;width:330px; background: url(images/logo_bivo.png) no-repeat;float:right;margin-top:52px;margin-right:20px;position:relative;z-index:10;}

/**************Landing page Baurm****************/
/*#Baurd_page{margin:-17px 0 0 -28px;}*/
.ie7 #Baurd_page{margin:-32px 0 0 0px;}
#Baurd_top_part{ background-color:White;height:402px;width:982px;/*margin:0 0 0 9px;*/}
.ie7 #Baurd_top_part{width:952px;margin-left:8px;}
#Baurd_down_part{width:982px;height:227px;background-color:White;/*margin:9px;*/}
.ie7 #Baurd_down_part{width:953px;margin-left:8px;height:233px;}
#Baur_topheader{background:url(images/top_Landing_Page_Men_2011.png) no-repeat;width:989px;height:162px;position:relative;}
.ie7 #Baur_topheader{width:971px;}
#Baurd_page_center{ /*background:#EDEDED !important;*/width:982px;height:750px;/*margin-left:-23px;*/}
.ie7 #Baurd_page_center{width:970px;margin-left:-1px;}
#Baurd_left_part{width:350px;float:left;margin-left:45px;position:relative;top:10px; height:389px;}
.ie7 #Baurd_left_part{float:left;margin-left:35px;}
#Baurd_left_part img{margin-bottom:20px; margin-top:45px;margin-left:-20px;}
.ie7 #Baurd_left_part img{margin-bottom:20px; margin-top:45px;margin-left:-9px;}
#Baurd_left_part p{ font-size:12px;color:#6f7062;margin-left:-16px;margin-right:4px;text-align:justify;width:310px;}
.ie7 #Baurd_left_part p{font-family:Helvetica Neue; font-size:14px;color:#6f7062;margin-left:-8px;}
#Baurd_midium_part{width:35px;float:left;position:relative;top:160px;left:-22px;}
.ie8 #Baurd_midium_part{width:35px;float:left;position:relative;top:160px;left:-23px;}
.ie7 #Baurd_midium_part{width:35px;float:left;position:relative;top:176px;left:-19px;}
#Baurd_right_part{width:520px;float:left;margin:-406px 0 0 425px;}
.ie7 #Baurd_right_part{width:520px;float:left;margin:-389px 0 0 425px;}
#Baurd_right_part #Baurd_button{margin-top:270px;margin-left:-360px;position:relative; z-index:99999;}
#Baurd_right_part #Baurd_button #Baurd_button01{margin-right:95px;}
#Baurd_down_part p{font-family:Arial; font-size:18px;color:#4e4e4e;width:200px;height:30px;font-weight:normal;position:relative;top:0px;left:5px;}
.ie7 #Baurd_down_part p{position:relative;top:10px;left:15px;}
#Baurd_down_part #Baurd_gallery{float:left;margin:14px 0 0 3px; /*margin: 172px -8px 0 0; padding-left: 8px;*/}
.ie7 #Baurd_down_part #Baurd_gallery{float:left;margin:15px 0 0 2px;position:relative;}
#Baurd_down_part .Baurd_shirt{width:150px;height:200px;float:left;background-color:#F9F9F9;margin-right:6px;border:2px solid #e4e3e3;position:relative;left:5px;}
#Baurd_down_part .Baurd_shirt:hover{border-color:#FCC114;}
.ie7 #Baurd_down_part .Baurd_shirt{margin-right:3px;}
#fabricSpecifications .selectBoxes {width:185px !important; margin-left:0!important;}
#fabricSpecifications select{width:145px; margin-right:5px;}
/************** style Baurd added****************/
#panel {width:530px !important;}
#collarCollection{overflow-y:auto;height:200px !important;min-height:200px !important;}
.fitMe{width: 160px;}
.fitMe .super_slim_fit{float:left;margin-left:-3px !important;}
.ie7 .fitMe .super_slim_fit{float:left;margin-left:20px !important;}
.ie7 .fitMe .slim_fit{position:relative;left:20px;}
#sizing_left{width:310px;}  
#configuratorWrapper #configurator {margin-left:-14px;}
#panelMenu {margin-left:0px;margin-top: 0px !important;width:971px !important;}
#panelMenu ul li a{text-transform:none !important;}
#panelMenu ul li a{text-transform:capitalize !important;}
#style_fit {position:relative;top:15px;left:1px !important;}
#georgia, #racilia {margin-left:25px !important;}
#style_fit h1 {position:relative;left:0 !important;}
#stylefit_paragraph {margin-left:0 !important;}
#georgia_text, #racilia_text {margin-left:15px !important;}
#anastasia_choose, #georgia_choose{position:absolute;top:375px !important;display:none;}
#placketWrapper{width:483px !important;}
#hcmimg1, #hcmimg2, #hcmimg3, #hcmimg4, #hcmimg5, #hcmimg6{display:none;}
#Baurd_BivolinoService{margin-top:15px;}
.ie8 #Baurd_BivolinoService{margin-top:15px;}
#previous_button_Design_collar_page_baur{display:inline !important;}
#BtnAddSC{position:relative;top:-23px;float:right;margin-right:12px;}
.ie7 #knop_w, .ie7 #knoopsgat_women{display:block !important;}
#knop_w, #knoopsgat_women{display:none !important;}
#knopen, #knoopsgaten{margin-left:10px;}
#previewKnopen{margin-top:35px !important;}
#Monogram_Sizin_stylefit_women{float:left;margin-top:-50px !important;}
#sizing_right a.tt2{float:left;margin:-155px 0 0 140px;}
.ie7 #Monogram_Sizin_stylefit_women{display:block !important;float:left;margin-top:0px !important;}
.ie7 #ReviewSizing_women_title{border-bottom:1px solid #E9E9E9 !important;}
#configuratorZooms .configuratorZoom{border:1px solid #E9E9E9 !important;}
#configuratorZooms .zoomON {border: 2px solid #FFBF01 !important;}
.postionMonograms{float:left;margin-right:4px;width:90px;}
#stylefit_paragraph strong{color:#F7649E !important;}
.fabricSelect .tt, #confname #newFabric, #link_meassure_women .text_link{display:none !important;}
#placketWrapper{overflow-y:hidden !important;}
#monoChoice_intro label{margin-right:15px;}
#anastasia_text, #georgia_text, #racilia_text{font-size:11px !important;}
.ie9 .ReviewBox .changeButton a, .ie7 .ReviewBox .changeButton a{position:relative;top:2px;}
#Baurd_foursteps h3{color:#7e7e7e;}
/*#Baurd_step01 h3{position:relative;left:-15px !important;}
#Baurd_step02 h3{position:relative;left:-5px !important;}
#Baurd_step03 h3{position:relative;left:-7px !important;}
#Baurd_step04 h3{position:relative;left:-27px !important;}
:root #Baurd_step01 h3{position:relative;left:-8px\9 !important;}
:root #Baurd_step02 h3{position:relative;left:-9px\9 !important;}
:root #Baurd_step03 h3{position:relative;left:-9px\9 !important;}
:root #Baurd_step04 h3{position:relative;left:-29px\9 !important;}*/
/*********new fix tab conf menu**************/
#panelMenu ul li#hcmli1 {padding: 8px 53px 13px 47px !important;}
#panelMenu ul li#hcmli2 {padding: 8px 69px 13px 65px !important;}
#panelMenu ul li#hcmli3 {padding: 8px 66px 13px 56px !important;}
#panelMenu ul li#hcmli4 {padding: 8px 45px 13px 45px !important;}
#panelMenu ul li#hcmli5 {padding: 8px 70px 13px 60px !important;}
#panelMenu ul li#hcmli6 {padding: 8px 55px 13px 54px !important;}

.ie7 #panelMenu ul li#hcmli1 {padding: 8px 50px 13px 47px !important;}
.ie7 #panelMenu ul li#hcmli2 {padding: 8px 66px 13px 66px !important;}
.ie7 #panelMenu ul li#hcmli3 {padding: 8px 62px 13px 58px !important;}
.ie7 #panelMenu ul li#hcmli4 {padding: 8px 45px 13px 40px !important;}
.ie7 #panelMenu ul li#hcmli5 {padding: 8px 66px 13px 62px !important;}
.ie7 #panelMenu ul li#hcmli6 {padding: 8px 50px 13px 52px !important;}
:root #panelMenu ul li#hcmli1 {padding: 8px 52px 13px 47px\9 !important;}
:root #panelMenu ul li#hcmli2 {padding: 8px 68px 13px 65px\9 !important;}
:root #panelMenu ul li#hcmli3 {padding: 8px 65px 13px 56px\9 !important;}
body.ie11 #panelMenu ul li#hcmli6 {padding: 8px 53px 13px 52px !important;}
/*#panelMenu ul li#hcmli6, #panelMenu ul li#hcmli6{padding: 8px 35px 13px 20px !important;}*/
/**********fin new fix tab conf menu****************/

:root #smallColum_monogram #moninput{position:relative;top:10px\9;}
.ie8 #panelMenu{margin-left:0px;margin-top: -2px;width:971px !important;}
.ie7 #panelMenu {margin-left:0px;margin-top: -2px;width:950px !important;}
:root #panelMenu{width:972px\9 !important;}
.previous_button_Baur{float:right;margin:-20px -439px 0 0;}
#previous_button_Design_fabric_page{float:right;margin:-60px -913px 0 0;}
.ie8 #previous_button_Design_fabric_page{float:right;margin:-54px -913px 0 0;}
.ie7 #previous_button_Design_fabric_page{float:right;margin:-60px -913px 0 472px;}
.ie7 .previous_button_ms{position:relative;left:368px !important;}
.Contrast_dessin_motif{border-top:1px solid #FFBF01 !important}
.Contrast_dessin_motif{display:none;}
#NextButtonBaur{height:90px;margin-left:-20px;}
#NextButtonBaur .config_buttons_right {float: right;margin: 20px -8px 0 0;width:132px;}
#NextButtonBaur .config_buttons_left {float: left;margin: 35px 0 0 -535px;}
#NextButtonBaur .config_buttons_center {float: right;margin: -5px 710px 0 0;}
#top_content .button_ms {float: none;margin-left:0; margin-right:37px;}
#promo_vochter input{margin-right:10px;}
#panelContent{width:498px !important;margin-top:3px;}
#NextButtonPL{padding:15px 0 25px 0;}
.previousBtn {background:none !important;width:82px;height:23px;float:right;margin-right:86px;padding:0; }
#NextButtonPL #next_button_baur{float:right;margin-right:12px;margin-top:-23px;} 
#btn_edit_ms{width:40px;position:relative;top:-10px;font-family:Arial;font-size:11px;color:#4b4b4b;}
.Contrast_dessin_motif, #contrastPickerWrapper, #contrastPicker{width:430px !important;}
#btn_place_order_ms input{float:right;margin-right:-20px;border:none !important;}
#btn2_place_order_ms input{float:right;margin-right:30px;border:none !important;}
#paying2 {float:left;margin:10px 0 0 10px !important;}
#paying2 .previousBtn{float:left;margin-top:-75px !important;} 
#ctl00_cph1_ctrlCONF_design_design1{display:none;}
#favorite_contrast_fabrics {float: left;margin-top: 15px !important;position: relative;top: -10px;}
#panelContent { overflow:hidden;}
#ctl00_cph1_CustomerTabs_pnlCustomerAddresses_tab, #ctl00_cph1_CustomerTabs_pnlChangePassword_tab {display:none;}
#ctl00_cph1_mod7{margin-top:30px;}
#shopdetails{position:relative;padding-bottom:133px !important;}
#button_ShoppingCart_ms02 a img{float: right; margin-right: -420px; margin-top: 70px;}
#shopdetails .button_ms img{float:right;margin-right:-390px !important;margin-top:70px !important;}
.ie7 #shopdetails .button_ms img{position:relative;left:190px;}
a.orange_button:link, a.orange_button:visited {font-weight: normal !important; line-height:normal !important; text-transform: none !important;}
.claim_button_ms a{width:180px;margin-left:0px;}
#Div1{position:relative;}
#Div0, #Div1, #Div2, #Div3, #Div4, #Div5, #Div6, #Div7, #Div8, #Div9, #Div10, #Div11, #Div12, #Div13, #Div14, #Div15, #Div16, #Div17, #Div18, #Div19, #Div20, #Div21, #Div22, #Div23, #Div24, #Div25, #Div26, #Div27, #Div28, #Div29, #Div30, #Div31, #Div32, #Div33, #Div34, #Div35, #Div36, #Div37, #Div38, #Div39, #Div40, #Div41, #Div42, #Div43, #Div44, #Div45, #Div46, #Div47, #Div48{position:absolute;left:0 !important;}
.messageError{ background:none;}
#cuffCollection #nopocket, #cuffCollection #pocket, #collarPickerExtra #extraOptions .option input, #sleevePickerExtra .option input, #monoChoice_intro input, #monogramFont2 input, #body_women .choose_option input{border:none !important;}
#toggle_metric{display:none;}
.supplement_price{display:none;}
#fabricSpecifications{display:inline !important;}
#conf_add_basket_baur{margin-left:-16px;}
#postionMonogram {margin-left: 15px;margin-top: 15px;width: 500px;}
/**/
#panelMenu a{ text-decoration:none;}
#placketWrapper{min-height:105px !important;}
#panel{float:left;margin-bottom:20px !important;margin-left:13px;}
.ie7 #panel{position:relative;left:5px !important;}
.ie7 #BtnAddSC{float:right;margin-top:0 !important;}
#promo_vochter{margin-top:-35px;position:relative;left:-5px;}
.ie7 #promo_vochter{position:relative;left:45px;}
#ctl00_cph1_imgBancontact, #ctl00_cph1_imgCarteBleue, #ctl00_cph1_imgMaestro, #ctl00_cph1_imgIdeal{display:none !important;}
#text_information{float:left;margin:-30px 0 5px 2px;}
.ie7 #text_information{float:left;margin:-30px 0 0px 0px;}
#placketPickerExtra{margin-top:-48px !important;}
#loadingPageMS {background: url("../images/Loading_MS.gif") no-repeat scroll center center #FFFFFF !important;height: 100%;left: 0;min-height: 600px;position: absolute;top: 0;width: 100%;z-index: 9999;}
#tone_buttons p {margin:10px 0 0 16px;}
#configuratorZooms .zoomOFF{border:1px solid #e9e9e9 !important;}
#configuratorZooms .zoomON{border:2px solid #ffbf01 !important;}
#basehemPicker{margin-left:12px;}
#placketCollection #basehemPicker td{width:67px;padding-right:20px;}
#conf_add_basket_ms .btn_add_to_basket{margin-left:-80px;}
.collum_monogram {position:relative;top:-30px;width:140px;}
#allCollors1{margin-top:14px;}
#sizing_right #ctl00_cph1_MeasurementsEdit1_imgsq{display:none;} 
#sizing_right {margin:-350px 10px -50px !important;position:relative;left:20px;}
.ie7 #sizing_right {position:relative;top:-20px;left:-20px;}
#sizing_right p {padding-top:0; text-align:left !important;}
.ie7 #sizing_right p {text-align:left !important;}
#sizing_right .link_meassure{float:left;margin-top:-160px;}
:root #sizing_right .link_meassure{float:left;margin-top:-155px\9 !important;}
.ie8 #sizing_right .link_meassure{float:left;margin-top:-155px;}
.ie7 #sizing_right .link_meassure{position:relative;top:-160px;float:none !important;}
#ctl00_cph1_ImgVorkasse{display:none !important;}
.ogone-creditcards {width:270px;}
.ie7 .ogone-creditcards {width:280px;}
.ie8 #initials_wrapper{position:fixed;}
.ie8 #ctl00_cph1_CONF_Embroidery_mono1 #panelContent{min-height:385px !important;}
#sizing_right .link_meassure .text_link{display:none;}
#sizing_right .link_meassure .tt2{margin:-20px 0 0 140px;}
:root #sizing_right .link_meassure .tt2{position:relative\9;top:21px\9;}
.ie8 #sizing_right .link_meassure .tt2{position:relative;top:21px;}
.ie7 #sizing_right .link_meassure .tt2{margin-left:0;position:relative;left:155px;top:20px;}
#design_stich_colour_women_list{display:none;}
#list_contrast{float:left;margin-top:-3px;}
.ie7 #list_contrast{float:left;margin-top:-17px !important;}
#design_extra_boxer{float:left;margin-top:-2px;}
.ie7 #design_extra_boxer{float:left;margin-top:-15px;}
#promo_vochter span strong{display:none;}
#shirt_promo{float:left;margin-left:540px;}
.ie8 #tailliert {float: left;margin-left: 20px;margin-top: 14px;}
#price_total{position:relative;top:10px;left:32px;font-size:12px;}
.ie7 #price_total{position:relative;top:10px;left:44px;font-size:12px;}
:root #contrasting_types1, :root #contrasting_types2, :root #contrasting_types3{float:none\9 !important;}
#Baurd_foursteps{width:982px;color:#6F7062;}
#Baurd_foursteps .Baurd_steps{float:left;/*margin-left:10px;margin-top:10px;width:230px;*/}
.ie7 #Baurd_foursteps .Baurd_steps{float:left;margin-left:6px !important;margin-top:0px !important;}
#Baurd_foursteps .Baurd_steps h3{padding:0 10px;}
.ie7 #Baurd_foursteps .Baurd_steps h3{font-size:14px !important;}
#Baurd_foursteps .Baurd_steps p{font-size:12px;padding:0 10px;width:82%;/*text-align:justify;margin-top:10px;*/}
.ie7 #Baurd_foursteps .Baurd_steps p{position:relative;left:0px !important;margin-top:3px !important;}
#Baurd_foursteps .Baurd_steps p a{color:#4E4E4E;text-decoration:underline;}
#Baurd_foursteps .Baurd_steps p a:hover{text-decoration:none;} 

/* hack Chrome / Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
	#homelink 
	{
		position:relative;
		top:-15px;
	}
	#Baurd_right_part {
    float: left;
    margin: -405px 0 0 425px;
	}
	#Baurd_midium_part 
	{
		position:relative;
		top:160px;
	}
}

#Baurd_step01, #Baurd_step03{background:#f5f5f5;}
#Baurd_step02, #Baurd_step04{background:#eeeeee;}
#Baurd_step01{width:247px !important;height:300px;}
#Baurd_step02{width:241px !important;height:300px;}
#Baurd_step03{width:240px !important;height:300px;}
#Baurd_step04{width:254px !important;height:300px;}