.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 600px;
  height:550px;
  margin: 20px auto;
  text-align: center;
}
.mfp-bg
{
   background:rgba(0, 0, 0, 0.3) !important;
    }
@media screen and (max-width: 1024px)
{
    .white-popup {padding: 10px !important;}
    #ifrm{width:580px !important;}
    
}
