
.ropc .section-title {
	text-align: right;
}
.shipping-results {
	text-align: right;
}
.shipping-method .method-list,
.payment-method .method-list {
	text-align: right;
}
.use-reward-points {
	text-align: right;
}
.payment-method .payment-logo {
	margin: 0 0 0 15px !important;
}
.payment-info .info p {
	text-align: right;
}
.payment-info .info td {
	text-align: right;
}
.coupon-box-panel input[type="text"],
.giftcard-box-panel input[type="text"] {
	float: right;
}
.total-info button {
	margin: -2px 0 0 -10px;
}


@media all and (min-width:769px) {
	
.shipping-method .method-list,
.payment-method .method-list {
	text-align: right;
}

}

@media all and (min-width:981px) {
	
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	float: left;
}
.ropc .inputs label {
	text-align: right;
}
.ropc .payment-info .info tr {
	text-align: right;
}
.ropc .payment-info .info td:first-child {
	text-align: right !important;
}
.ropc .order-totals-panel {
	text-align: left;
	float: left;
}
.ropc .order-confirm, .ropc
.terms-of-service,
.ropc .complete-button {
	text-align: left !important;
}

.ropc .addon-buttons {
    text-align: left;
}

.ropc .addon-buttons > * {
    margin: 0 5px 5px 0;
}

}
