﻿@{
    Layout = "";
}

@using System.Configuration
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Routing
@using Nop.Plugin.NopTopology.CampaignMonitor
@using Nop.Web.Framework
@using Nop.Web.Framework.UI

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.min.js"></script>

<script>
    window.ncBaseResourceUrl = "@Html.Raw(Url.Action("Resource", "CampaignMonitor", new RouteValueDictionary() {{"Namespaces", "Nop.Plugin.NopTopology.CampaignMonitor.Controllers"}, {"area", ""}}))";
    window.ncResourceUrl = window.ncBaseResourceUrl + '&resourceName=';

    //var scripts = [ 'lodash.custom.min.js', 'app.js', 'controllers/apiKey.js', 'controllers/ruleList.js', 'directives/nc-rule-list.js', 'directives/roles.js', 'directives/nc-settings.js',
    //    'transactionalemails/transrules.js'
    //];
    var scripts = ['lodash.custom.min.js', 'app.min.js'];
    var styles = [];

    createScript(scripts.splice(0, 1));
    createCss(styles.splice(0, 1));

    function createPostUrl(method) {
        var pluginRootUrl = '@Html.Raw(Url.Action("", "CampaignMonitor"))';
        return pluginRootUrl + '/' + method + '?systemName=NopTopology.CampaignMonitor';
    }

    function createGetUrl(method) {
        var pluginRootUrl = "@Html.Raw(Url.Action("", "CampaignMonitor"))";
        return pluginRootUrl + '/' + method + '?Namespaces=Nop.Plugin.NopTopology.CampaignMonitor.Controllers';
    }

    function createScript(src) {
        var s = document.createElement('script');
        s.onload = function() {
            if (scripts.length) {
                createScript(scripts.splice(0, 1));
            } else {

                angular.element(document).ready(function() {
                    angular.bootstrap(document, ["nopcampaign"]);
                });
            }
        };
        s.src = window.ncResourceUrl + src;
        document.getElementsByTagName('head')[0].appendChild(s);
    }

    function createCss(src) {
        var s = document.createElement('link');
        s.type = "text/css";
        s.rel = "stylesheet";

        s.onload = function() {
            if (styles.length) {
                createCss(styles.splice(0, 1));
            }
        };
        s.href = window.ncResourceUrl + src;
        document.getElementsByTagName('head')[0].appendChild(s);
    }

    window.ncModel = @Html.Raw(Model);
</script>

<div class="messageBox" style="display: none"></div>

<div ng-controller="nopCampaignController">

    <p ng-bind-html="model.LogText"></p>

    <table class="adminContent" width="300">
        <tr>
            <td class="adminTitle" colspan="2">
                <strong>Campaign Montior Configuration</strong>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                ApiKey
            </td>
            <td class="adminData">
                <input type="text" ng-model="model.ApiKey" />
                @Html.Hint(T("Plugins.Misc.CampaignMonitor.SaveChanges.Hint").Text)
                <input ng-click="saveApiKey(model.ApiKey)" class="k-button btn bg-green" value="@T("Plugins.Misc.CampaignMonitor.SaveChanges")" />
            </td>
        </tr>
    </table>

    <p ng-if="model.HasSetUpApi && model.HasAvailableClients">{{model.NextScheduledUpload}}</p>
    <input type="button" ng-show="model.HasSetUpApi && model.HasAvailableClients" ng-click="forceSync()" ng-disabled="model.ajaxInProgress" class="k-button btn bg-green" ng-class="{ 'k-state-disabled' : model.ajaxInProgress }" value="@T("Plugins.Misc.CampaignMonitor.ForceSync")" />

    <p></p><hr />
    <p></p>

    <div ng-if="model.HasSetUpApi && model.HasAvailableClients && model.LicenseFilePresent">

        <div class="bs-callout bs-callout-info" id="callout-help-text-accessibility">
            <h4>Customer Synchronization Rules</h4>
            @T("Plugins.Misc.CampaignMonitor.Instructions")
        </div>
        <br/>
        <div>
            <div ng-controller="ruleListController">

                <div data-role="grid" class="k-grid k-widget">
                    <div class="k-toolbar k-grid-toolbar">
                        <div class="toolbar">
                            <input type="submit" value="Create new rule" class="k-button btn bg-green" ng-click="newRule()">
                        </div>
                    </div>
                    <div>
                        <nc-rule-list></nc-rule-list>
                        <br />
                    </div>
                </div> 

                <nc-settings settings-model="model"
                             template-url="directives/upload-settings.html"
                             save-method="savesettings"
                             settings-properties="CustomerInformationSource,FirstName,LastName,Company,CountryName,CountryCode,City,Address1,Address2,ZipPostalCode,PhoneNumber,FaxNumber"></nc-settings>
                <br/>

                <div class="bs-callout bs-callout-info" id="callout-help-text-accessibility">
                    <h4>Campaign Monitor Transactional E-mail Mapping</h4>
                    <p>Select your nopCommerce e-mail templates and the transactional e-mails in Campaign Monitor you'd like to use instead. Your nopCommerce e-mail tokens will be available in your Campaign Monitor Transactional Templates.</p>
                    <p ng-cloak ng-if="window.ncModel.TransactionalTemplates.length">The transactional e-mail functionality is not visible. Your Campaign Monitor account is not yet set up to use Transactional e-mails or you have not created any.</p>
                </div> 

                <nc-transactional-rules nop-templates="model.MessageTemplates.EmailTemplates"
                                        nop-clients="model.ClientListing"
                                        cm-tran-templates="model.TransactionalTemplates"
                                        show-store-info="model.MessageTemplates.ShowStoreInfo" />
            </div>
        </div>
    </div>

    <nc-settings settings-model="model"
                 save-method="saveLowLevelSettings"
                 settings-properties="LogErrors,LogWarnings,LogInfo,LogVerbose"
                 template-url="directives/logging-settings.html"></nc-settings>

    <p ng-cloak ng-if="model.HasSetUpApi && !model.HasAvailableClients">@T("Plugins.Misc.CampaignMonitor.NoClientListsFound")</p>

    <p ng-cloak ng-if="!model.HasSetUpApi">@T("Plugins.Misc.CampaignMonitor.SaveFirst")</p>
</div>
