﻿<div class="panel panel-default">
    <div class="panel-body">
        <div id="order-grid"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#order-grid").kendoGrid({
        dataSource: {
            transport: {
                read: {
                    url: "@Html.Raw(Url.Action("ConditionOrder", "Banner", new { Id = Model.Id }))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                },
                create: {
                    url: "@Html.Raw(Url.Action("ConditionOrderInsert", "Banner", new { Id = Model.Id }))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                },
                update: {
                    url: "@Html.Raw(Url.Action("ConditionOrderUpdate", "Banner"))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                },
                destroy: {
                    url: "@Html.Raw(Url.Action("ConditionOrderDelete", "Banner"))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "ConditionId",
                    fields: {
                        Key: { editable: true, type: "string" },
                        Name: { editable: true, type: "string" },
                        ConditionId: { editable: false, type: "number" },
                    }
                }
            },
            requestEnd: function (e) {
                if (e.type == "create" || e.type == "update") {
                    this.read();
                }
            },
            error: function (e) {
                display_kendoui_grid_error(e);
                // Cancel the changes
                this.cancelChanges();
            },
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        },
        pageable: {
            refresh: true,
            numeric: false,
            previousNext: false,
            info: false
        },
        toolbar: [{ name: "create", text: "@T("Admin.Common.AddNewRecord")" }],
        editable: {
            confirmation: false,
            mode: "inline",
        },
        scrollable: false,
        columns: [{
                    field: "Key",
                    title: "@T("Nop4You.MarketingAutomation.Banner.Condition.Field.Key")", 
                    width: 200,
                    editor: registerDropDownEditor,
                    template: "#:Key#"
                }, {
                    field: "Name",
                    title: "@T("Nop4You.MarketingAutomation.Banner.Condition.Field.Name")",
                    width: 200,
                },
                {
                command: [
                    {
                        name: "edit",
                        text: {
                        edit: "@T("Admin.Common.Edit")",
                        update: "@T("Admin.Common.Update")",
                        cancel: "@T("Admin.Common.Cancel")"
                    }
                },{
                    name: "destroy",
                    text: "@T("Admin.Common.Delete")"
                }],
                width: 200
        }]
    });
});

    function registerDropDownEditor(container, options) {
        $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:Key"/>')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                dataSource:
                {
                    transport: {
                        read: "@Html.Raw(Url.Action("OrderFields", "Banner"))"
                }
            },
            optionLabel: " -- Select -- "
    });
    }
</script>