﻿
<div class="panel panel-default">
    <div class="panel-body">
        <div id="products-grid"></div>
    </div>
    <div class="panel-footer">
        <button type="submit" id="btnAddNewProduct"
                onclick="javascript:OpenWindow('@(Url.Action("ProductAddPopup", "Banner", new { Id = Model.Id ,btnId = "btnRefreshProducts", formId = "banner-form"}))', 800, 800, true); return false;"
                class="btn btn-primary">
            @T("Nop4You.MarketingAutomation.Banner.Products.AddNew")
        </button>
        <input type="submit" id="btnRefreshProducts" style="display: none" />
        <script type="text/javascript">
                        $(document).ready(function () {
                            $('#btnRefreshProducts').click(function () {
                                //refresh grid
                                var grid = $("#products-grid").data('kendoGrid');
                                grid.dataSource.read();

                                //return false to don't reload a page
                                return false;
                            });
                        });
        </script>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#products-grid").kendoGrid({
        dataSource: {
            transport: {
                read: {
                    url: "@Html.Raw(Url.Action("ConditionProduct", "Banner", new { Id = Model.Id }))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                },                
                destroy: {
                    url: "@Html.Raw(Url.Action("ConditionProductDelete", "Banner"))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "ConditionId",
                    fields: {
                        Key: { editable: true, type: "string" },
                        Name: { editable: true, type: "string" },
                        ConditionId: { editable: false, type: "number" },
                    }
                }
            },
            requestEnd: function (e) {
                if (e.type == "create" || e.type == "update") {
                    this.read();
                }
            },
            error: function (e) {
                display_kendoui_grid_error(e);
                // Cancel the changes
                this.cancelChanges();
            },
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        },
        pageable: {
            refresh: true,
            numeric: false,
            previousNext: false,
            info: false
        },
        editable: {
            confirmation: false,
            mode: "inline",
        },
        scrollable: false,
        columns: [{
                    field: "Name",
                    title: "@T("Nop4You.MarketingAutomation.Banner.Condition.Field.Name")",
                    width: 200,
                },
                {
                command: [
                {
                    name: "destroy",
                    text: "@T("Admin.Common.Delete")"
                }],
                width: 200
        }]
    });
});

</script>