﻿@model Nop4you.Plugin.MarketingAutomation.Models.BannerModel
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

    //page title
    ViewBag.Title = T("Nop4You.MarketingAutomation.Banner.Edit").Text;
    Html.SetActiveMenuItemSystemName("MarketingAutomation");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "banner-form" }))
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Nop4You.MarketingAutomation.Banner.Edit") <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("(" + T("Nop4You.MarketingAutomation.Banner.BackToList") + ")", "Configure", "Banner")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>

        </div>
    </div>

    @Html.Partial("~/Plugins/Nop4you.MarketingAutomation/Views/Admin/Banner/_CreateOrUpdate.cshtml", Model)
}

